[2016-07-23 13:49] PatelUtkarsh opened #5 "Allow image paste from clipboard"
In OS X you can copy image in clipboard without creating an actual file, and { command + v } allows it to paste that image as we paste normal text.

Current OSX app and Web app does not allow pasting of an image.

[2016-07-23 22:01] ivanbalashov239 opened #6 "Will you create a libpurple official plugin?"
A lot of people on unix systems use libpurple messengers, like pidgin, so if you are not interested to create native clients for them, you could just create a plugin for their native messengers.

[2016-07-23 22:15] lipis commented on #6
Our desktop client is based on Electron and since we are going to release it as well, it will be very easy to build a native client for Linux. No plans for libpurple though..

[2016-07-23 22:15] #6 closed, assigned to nobody

[2016-07-25 13:10] mirehasfun opened #8 "User presence indication"
I really like Wire for Web and use it regularly under Linux. The only thing that really bugs me is the missing user presence indication. Currently there's no way for me to tell whether a contact is online / offline or simply AFK/busy.

Are there any plans to include such a feature?

[2016-07-25 13:17] lipis commented on #8
Thanks for your feedback @mirehasfun. This is by design and there are no plans to implement presence indication.. sorry :/

[2016-07-25 13:17] #8 closed, assigned to nobody

[2016-07-25 14:43] bennycode commented on #5
Definitely a desirable feature! [Clipboard API and events](https://w3c.github.io/clipboard-apis/) currently have 'Working Draft' status but [browser support looks good](http://caniuse.com/#feat=clipboard). We will investigate...

[2016-07-25 14:58] lipis commented on #8
The reason we evaluated presence indicator but decided not to implement it is to protect the user's privacy. We think that a presence indicator could be a privacy concern and we want our users to feel like the usage pattern of the application is not disclosed. We are evaluating introducing this as an opt-in feature, as we start to observe increased demand for it.

[2016-07-25 18:39] regexident opened #10 "Messages are rendered differently on iOS and OS X. But shouldn't."
Wire for Mac (or Web) appears to be rendering messages differently than the native client on iOS.

Given:
- A message containing `¯\_(ツ)_/¯`.

When:
- On iOS.

Then:
- The message shows up as `¯\_(ツ)_/¯`.

---

Given:
- A message containing `¯\_(ツ)_/¯`.

When:
- On OS X or Web.

Then:
- The message shows up as `¯_(ツ)_/¯`.

---

Given:
- A message containing `¯\\_(ツ)_/¯`.

When:
- On iOS.

Then:
-

[2016-07-25 18:49] regexident opened #11 "Bad kerning for emoji"
The trailing kerning of Emoji glyphs seems to be a bit too narrow in the OS X client as well as the web client when accessed via Chrome.

Example:

Given a message like this: `Foo😃bar 🤓😎` the bigrams `😃b` and `🤓😎` both seem to overlap internally.

This seems to be a rendering bug in Chromium's Blink engine (as it doesn't happen in – say – Safari). However since Electron (which the OS X client is b

[2016-07-25 18:53] regexident opened #12 "Old-style ASCII smileys not recognized (unlike native clients)"
If a message contains `;-)` it shows up as `😉` on iOS,
while on OS X or the web it remains the plain `;-)`.

Same is the case for other old-style smileys.
I would expect my conversations to look the same on every platform.

[2016-07-25 18:57] regexident opened #13 "About panel showing template code instead of actual version"
When opening the about panel of the Web client, the version template code is shown, instead of the actual version:

[code]

[2016-07-25 19:08] regexident opened #14 "UI inconsistency in user profile popover"
The OS X client shows `+ ADD PEOPLE` in the lower left corner, while the web client, as well as the iOS client show `🙎+ CREATE GROUP` in the lower left corner.

---

Likewise both, OS X and Web client show `⊘` in the lower right corner, while iOS shows `⋯`.

[2016-07-26 08:30] bennycode opened #15 "Merge "master" into "dev" once all PRs are merged into "master""
Placeholder task to not forget about switching the default branch from "master" to "dev"

[2016-07-26 09:26] bennycode commented on #10
Hi @regexident, thank you very much for making us aware of this issue. We added your scenario to our test suite with this **Pull Request**: https://github.com/wireapp/wire-webapp/pull/16

Thank you very much — Good job!

Benny

[2016-07-26 09:27] bennycode commented on #13
Hi @regexident, on which platform and host (localhost?) did you test the `CURRENT_VERSION_DATE`?

[2016-07-26 09:29] bennycode commented on #11
Hi @regexident, when it is a Chromium bug, then it needs to be filed here: https://chromiumbugs.appspot.com/, no?

[2016-07-26 09:36] bennycode commented on #14
Hi @regexident, thanks for your report.

Can you please add a screenshot of the defect? Because on my machine it shows "Add people" for both (wrapper version/OS X client/Windows client + webapp version) platforms.

**Screenshot:**

![unbenannt](https://cloud.githubusercontent.com/assets/469989/17133117/174940ae-5325-11e6-85ba-3d5e18948f50.PNG)

[2016-07-26 09:42] lipis commented on #12
Being secure comes with the cost.. since the messages are not readable to our backend we can't do much to render everything in the same way, so every client has to implement these things.. That's being said we'll have to fix it.. Thank you very much @regexident for finding it :)

[2016-07-26 09:44] bennycode commented on #13
Ok, I verified the issue and it's expected behaviour by us. Versions are only show on production environments like https://app.wire.com but not on http://localhost:8888/.

[2016-07-26 09:44] #13 closed, assigned to nobody

[2016-07-26 10:25] #10 closed, assigned to nobody

[2016-07-26 16:02] regexident commented on #13
Hi Ben, the web app was indeed running on localhost.

[2016-07-26 16:11] regexident commented on #11
While I agree that the bug would have to be fixed in (and reported to) Chromium, it deteriorates the user experience of Wire (an emoji-heavy app, due to its nature) regardless of the bug's origin and might thus be worth a temporary work-around fix.

[2016-07-26 17:36] regexident commented on #14
The web client was a local clone of [wireapp/wire-webapp](https://github.com/wireapp/wire-webapp/).

![create-group](https://cloud.githubusercontent.com/assets/138017/17148183/582ee088-5366-11e6-9b74-72285603797d.png)

---

Those are some hilarious chat groups, btw. 😂

[2016-07-27 08:49] gregor commented on #14
`🙎+ CREATE GROUP`  is the new copy which will be visible on the OS X client as soon as we next release our web component.

[2016-07-27 10:01] #14 closed, assigned to nobody

[2016-07-27 10:06] bennycode commented on #11
I just checked it and the rendering doesn't look to bad:

**Screenshot:**
![screenshot](https://cloud.githubusercontent.com/assets/469989/17171797/833e90de-53f2-11e6-95b2-346de18207c5.png)

So we will wait until the kerning is fixed in Chromium. This seems to be the most efficient way.

[2016-07-27 10:06] #11 closed, assigned to nobody

[2016-07-27 10:15] bennycode commented on #12
Current state is the following:
- **Android:** `;-)` → `;-)`
- **OS X:** `;-)` → `;-)`
- **Webapp:** `;-)` → `;-)`
- **Windows:** `;-)` → `;-)`
- **iOS:**  `;-)` → `😉`

So it's our iOS client who is misbehaving. We forwarded it to them.

Thank you. :smiley:

[2016-07-27 10:15] #12 closed, assigned to nobody

[2016-07-27 12:22] tomicakorac opened #26 "Not able to run wire-webapp locally"
Sorry for posting this here, I couldn't find a more appropriate location for this kind of a question.

I'm trying to run wire-webapp locally. I've followed the instructions from README.md, but after running `sudo npm install`, I'm getting a bunch of warnings (which I'm guessing are not critical) and several critical errors:

[code]

Then, when I run `grunt`, this is the output:

[code]

Finally, w

[2016-07-27 12:49] lipis commented on #26
In general when installing local dependencies with `npm install` you should never use `sudo` and it looks like your issues starts there so let's try to fix that first..

The following links might be quite helpful..
- https://docs.npmjs.com/getting-started/fixing-npm-permissions
- http://stackoverflow.com/questions/16151018/npm-throws-error-without-sudo

Try fixing the npm permissions and report ba

[2016-07-27 18:06] regexident commented on #12
Damnit, should have kept my mouth shut then, I guess. 🤐

[2016-07-27 18:09] regexident commented on #11
The kerning in your screenshot is totally fine, actually.

This is how emojis look for me in OS X client and Chrome browser however:

![emoji](https://cloud.githubusercontent.com/assets/138017/17186491/ce5c294e-5435-11e6-98d3-eec3bc3d70bf.png)

[2016-07-27 20:17] tomicakorac commented on #26
@lipis thank you very much for the quick reply. Before going with `sudo` I did try to run the command without it, but I remember getting the same result, which by the way required from me to run the same command as Administrator. That's why I tried it again with `sudo`.

Anyway, following your reply, I purged everything from my system (that is, I fully deleted npm-related folders from my `/home/{u

[2016-07-29 14:11] mythsunwind commented on #26
The error message shows that npm has issues with creating symlinks in a certain directory. The name of the directory lets me guess it is an externally mounted filesystem.

Can you check if it is possible to create a symlink at all in a directory on /media/DATA128/ by using the command `ln`? Maybe it is a filesystem type that does not support or allow this. Also a good idea to check permission and

[2016-07-29 18:43] Shankymahajan opened #45 "Not able to login from webApp"
I tried login in with my email ID . I did confirm my email , still I'm not able to confirm my account .

[2016-07-29 22:00] tomicakorac commented on #26
@mythsunwind spot on! Thank you very much for the hint! This is a new computer, and I'm still forgetting important traits here and there. The disk's filesystem was FAT32, that's why it was failing.

I'm going to have to re-format it to NTFS as soon as I get some time. I'm pretty sure it will resolve my problem.

Thank you all again for your quick help. Wire rocks!

[2016-07-29 22:00] #26 closed, assigned to nobody

[2016-07-31 12:43] Nuruddinjr opened #46 "SHow online & offline users next to their name"
I think it is very inconvenient not see whether user is online or no next to their names or somewhere else .
`feature request`

[2016-07-31 16:22] bennycode opened #47 "Automatic version bump"
- see https://www.npmjs.com/package/mversion

[2016-07-31 16:25] bennycode commented on #45
Hi @Shankymahajan and thanks for filing this. Do you see an error in your browsers JavaScript console like [Chrome Dev Tools](https://developers.google.com/web/tools/chrome-devtools/)?

[2016-07-31 16:28] bennycode commented on #46
Hi @Nuruddinjr, we decided against an online status because of privacy reasons. You can read more about this topic here: https://github.com/wireapp/wire-webapp/issues/8

But thanks that you have raised the issue.

Best,
Benny

[2016-07-31 16:28] #46 closed, assigned to nobody

[2016-07-31 17:21] Shankymahajan commented on #45
![rsz_screenshot_from_2016-07-31_224243](https://cloud.githubusercontent.com/assets/13821954/17278051/69e5ffba-5770-11e6-9161-9af15472f6e9.png)

Hi @bennyn I got this error:
 Failed to load resource: https://prod-nginz-https.wire.com/login?persist=false        the server responded with a status of 403 (Forbidden)

second point is as you can see in the screenshot I'm not able to login in as I need

[2016-08-01 10:16] lipis commented on #47
So you want to include the versions in the `package.json` and `bower.json`?

[2016-08-01 11:02] narimangharib opened #48 "video/audio on-off option"
Would be nice if users can disable or enable audio/video on their browser or phone.

When video/audio calling are off, you will no longer receive notifications when people try to call you on your browser.

[2016-08-04 14:39] bennycode commented on #48
So you want to have a more specific menu to set notifications based on the platform (iOS/Android/web)?

[2016-08-04 14:40] bennycode commented on #45
@Shankymahajan Can you tell us which email address you used to sign up? It's hard to read from your screenshot.

[2016-08-04 14:42] #15 closed, assigned to nobody

[2016-08-04 14:52] Shankymahajan commented on #45
@bennyn sure shashankmahajan18@gmail.com

[2016-08-06 02:11] d4l3k opened #63 "meta: enable issues on the main wire repo"
As far as I can tell there's no recommended place to file issues that effect the entire platform. It'd be nice if the wireapp/wire repo had issues enabled and was used for feature requests and discussion that spans the entire platform.

Alternatively, it'd be nice if the internal issue tracker was public. There's a few references here and there to it.

[2016-08-06 02:21] d4l3k opened #64 "delivery notifications and sent times"
One feature that I really like from signal is delivery notifications via a status icon. It makes it clear whether the other person is available to receive the message or not.

In addition, sent times makes it nice for people on the other side so they can see the actual time the message was sent. One use case is when I'm commuting to and from work via the subway and messages are sometimes delayed b

[2016-08-06 02:26] d4l3k opened #65 "video: be able to change where the local video is pinned"
It'd be nice to be able to move the local video pin location. There are times when it is obscuring the video feed of the other person and it'd be great to be able to move it to a different corner.

Most of the time I prefer to pin it top middle right under the camera so it appears I'm looking into the video camera.

Ideal pinning locations
- Top left
- Top right
- Bottom left
- Bottom right
- Top

[2016-08-06 10:37] Siilwyn opened #67 "Consider moving away from CoffeeScript?"
Moving forward, before Wire explodes in popularity :smiley: I think it's worth thinking about and discussing if CoffeeScript is worth using instead of vanilla JavaScript. CoffeeScript requires a compile step and additional understanding which adds an extra hurdle for people to contribute.

Looking at [GitHut](http://githut.info/) JavaScript has roughly 22 times more repositories and is growing fas

[2016-08-09 12:34] bennycode commented on #45
@Shankymahajan thanks! Do you use Firefox to login?

[2016-08-09 12:34] bennycode commented on #63
@raphaelrobert WDYT?

[2016-08-09 17:03] Shankymahajan commented on #45
I have tried 2 browsers for login - mozila ,chrome

[2016-08-10 12:06] bennycode commented on #47
I just wanted to test `mversion` with `wire-webapp`. It does it's job. :smile:

[2016-08-10 12:06] #47 closed, assigned to nobody

[2016-08-10 12:12] bennycode commented on #45
@Shankymahajan do you also use [Wire for desktops](https://wire.com/download)?

[2016-08-11 10:21] mo3rfan opened #82 "[UX] Deleting message next to avatar removes avatar"
A minor UI issue, but could cause confusion to the user.

Suppose in a chat thread, if we have user A and B talking like:

[code]

if User B decides to delete the "I'm doing good" message, the conversation flow becomes:

[code]

and "thank you" seems to appear as if User A said it. The User B's avatar and title should be updated to appear before it (in Android app, this works fine).

[2016-08-11 10:30] mo3rfan opened #83 "Dark theme"
A dark theme option for the web app would be great. Just like we have for the Android app.

[2016-08-11 15:54] bennycode opened #85 "Investigation: Passive event handlers"
Check if passive event handlers can bring better performance.

Read more:
- https://medium.com/@devlucky/about-passive-event-listeners-224ff620e68c#.78fezbryj

Issue:

Example:
- `document.addEventListener('touchstart', handler, {passive: true});`

Support:
- This feature shipped in Chrome 51, Firefox 49 and landed in WebKit. [source](https://github.com/WICG/EventListenerOptions/blob/gh-pages/expl

[2016-08-12 08:36] bennycode commented on #67
[CoffeeScript](http://coffeescript.org/) was the programming language which suit us the most when starting to work on [Wire for Web](https://app.wire.com/). Moving with the times we are evaluating [TypeScript](https://www.typescriptlang.org/) and ECMAScript 6 in conjunction with the [Babel compiler](https://babeljs.io/). What's your take on that, @Siilwyn?

[2016-08-12 08:37] bennycode commented on #85
Started an issue on "jquery-mousewheel" about that: https://github.com/jquery/jquery-mousewheel/issues/168

[2016-08-12 08:37] #85 closed, assigned to nobody

[2016-08-12 10:43] Siilwyn commented on #67
All three have useful features and it depends on the core contributors preference, vision and experience. The more familiar you are with a language, the easier it is to understand. The size of the project is also an important factor TypeScript's compile-time type checking comes in handy in a large code base and should lead to fewer bugs.

I would say use ES6 because then you're part of the largest

[2016-08-16 15:57] herrmannplatz commented on #64
Its indeed an interesting feature but not on our roadmap so far.

[2016-08-16 15:58] #64 closed, assigned to nobody

[2016-08-16 18:57] d4l3k commented on #64
@herrmannplatz Is the roadmap posted anywhere for the community to see and comment on?

[2016-08-16 18:58] d4l3k commented on #63
@raphaelrobert @bennyn Any updates on this?

[2016-08-16 19:26] Wasacz opened #94 "Shortcut for SILENCE prevents typing letter "S" with accents"
Currently, the keyboard shortcut for event of type `SILENCE` on Windows is set to `Ctrl`+`Alt`+`S` (please see: [Shortcut.coffee:125](https://github.com/wireapp/wire-webapp/blob/5170a02b73d6bde78e79d25200b04bd839d3766f/app/script/ui/Shortcut.coffee#L125)). This effectively becomes `AltGr`+`S` which is the combination for entering a letter "S" with accents.

For example, in Polish locale it is not

[2016-08-16 21:19] lipis commented on #64
Not the same issue of course but it's kind of related to the user presence indication (#8).

As for the roadmap, we don't have anything in public. What do you think would be the most appropriate media for it?

[2016-08-16 21:32] lipis commented on #94
It seems like our Polish guru Mr. @zbsz is too busy with Android and not using our web client :D

Thanks @Wasacz for reporting it.

[2016-08-16 21:40] d4l3k commented on #64
CockroachDB has a page on the GitHub wiki https://github.com/cockroachdb/cockroach/wiki.

[2016-08-16 21:41] d4l3k commented on #64
I'm not necessarily a huge fan of it. Doesn't have a great way to leave comments. Previously it was in the form of a GitHub issue https://github.com/cockroachdb/cockroach/issues/2132

[2016-08-18 18:43] Nuruddinjr opened #101 "Hide message content on notifications"
While focusing on privacy, I believe Message content should also be private on notifications.
[ Feature request ]

[2016-08-26 01:34] notNSANE opened #119 "Requesting a just slightly more Fluid UI for narrow windows"
Hi, I started using Wire just an hour ago and I love it. I'm having some minor issues in general, but this one it's the most annoying one right now...

My current desktop setup involves reserving approx. 1/3 of the screen space (1920/3) to messengers (this includes some tabs with Whatsapp, Wire, Discord, etc.). While Wire is funcional, I'm missing some UI elements like Ping and Call (with this wid

[2016-08-26 01:46] notNSANE commented on #101
Yeah, both Telegram and Whatsapp have this option and I always enable it.
Displays a browser notification that says something like "X messaged you" without showing the actual message.

[2016-08-26 22:35] notNSANE opened #127 "Web Panels support for Vivaldi"
Just requesting Web Panel support for the Vivaldi browser:
1. Download Vivaldi https://vivaldi.com
2. Use a Web Panel and add http://app.wire.com

I hope you can add support for this great browser. It uses Blink (Chrome engine) so there shouldn't be any problems. Vivaldi even has the same or even better HTML5 support.

Wire works just fine in a normal tab.

[2016-08-29 10:06] herrmannplatz commented on #127
Problem in this case seems to be that Vivaldi is using a mobile user agent when loading a site inside a Web Panel. This makes sense since the Web Panel should work as a small sidebar (i guess). We could change our user agent detection to cover that case, but our web app doesn't support such small dimensions (see #119). Which means you have to make you Web Panel quite big. Not sure if this is the w

[2016-08-30 01:52] notNSANE commented on #127
Thanks for replying!

Yes, it's exactly as you say, but what's weird is that Vivaldi has an option to enable Desktop view (to avoid this "not supported" issue) and Wire still doesn't work. That's why I raised an issue, I'm not sure if this issue is from Wire or from Vivaldi, if you guys can't fix it, maybe it's Vivaldi's problem. Width isn't a problem either due to the new Width controls (availabl

[2016-08-30 12:52] ppkt opened #139 "In chat window, URL with "@" sign is not displayed correctly"
For example, when I sent a URL in chat:
`https://www.mail-archive.com/debian-bugs-dist@lists.debian.org/msg1448956.html`
It was displayed as:
`debian-bugs-dist@lists.debian.org/msg1448956.html" target="_blank" rel="nofollow">https://www.mail-archive.com/debian-bugs-dist@lists.debian.org/msg1448956.html`
in chat window. I think it's because URL is treated as an e-mail, but I'm not sure ;)

Please c

[2016-09-02 08:41] bennycode commented on #139
Thanks for the  bug report, @ppkt. We track it now in our test cases: https://github.com/wireapp/wire-webapp/pull/151 :+1:

[2016-09-02 08:41] #139 closed, assigned to nobody

[2016-09-02 08:44] bennycode commented on #127
@lipis Can you have a look at the user agent detection?
@notnsane Can you send us your user agent? You can get it from: http://www.whoishostingthis.com/tools/user-agent/

[2016-09-02 08:51] bennycode commented on #94
@Wasacz Which shortcut would you like to use for silencing conversations?

[2016-09-02 08:55] bennycode commented on #82
Thanks for reporting, @PowerInside. This is a major issue which we now track in our ticket system.

[2016-09-02 08:55] #82 closed, assigned to nobody

[2016-09-02 09:01] bennycode commented on #67
At the moment we evaluate both (TypeScript & ES6) because we like the benefit of a typed language (TypeScript) but want to be future proof (ES6).

First steps in TypeScript are made here:
- https://github.com/wireapp/bazinga64

We are also investigating on how to transition from "CoffeeScript" to "ES6" for our webapp. We might follow the approch of @kevinsawicki:
- https://github.com/electron/node

[2016-09-02 09:01] #67 closed, assigned to nobody

[2016-09-02 09:03] bennycode commented on #63
Hey @d4l3k, sorry for the late reply! We decided to continue facing issues in the individual repositories instead of dealing with them in the main repository. So please keep up posted here. :smiley:

[2016-09-02 09:03] #63 closed, assigned to nobody

[2016-09-02 09:05] bennycode commented on #45
@Shankymahajan Can you please try again to login on https://app.wire.com/?

[2016-09-02 09:25] helenakos commented on #101
Hey @Nuruddinjr, thanks for the request! Very valid point, I'm noting it down for the future 👍

[2016-09-02 09:25] #101 closed, assigned to helenakos

[2016-09-02 09:30] Wasacz commented on #94
@bennyn The simplest way to go would be to replace Alt with Shift but it's
already taken in Firefox.

There is Ctrl+Alt+Dot for ignoring a call, so maybe similar Ctrl+Alt+Comma?
Another reference could be Gmail which is using Ctrl+Dot and Ctrl+Comma
globally so I guess these combinations are safe to use.

Anyway, I would reconsider the need of so many keyboard shortcuts in the
web app. For example

[2016-09-02 09:36] helenakos commented on #65
Hey @d4l3k, thanks for the feedback! Having it in the middle so it appears you're looking into the camera makes a lot of sense. Opening a ticket internally :)

[2016-09-02 09:49] notNSANE commented on #127
Sure! Here it is:

`Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.80 Safari/537.36 Vivaldi/1.3.582.3`

[2016-09-02 10:03] helenakos commented on #119
Hey @notnsane, thanks for the feedback! We are aware of the layout issue and will fix them at some point. Opening a ticket internally :)

[2016-09-02 10:03] #119 closed, assigned to helenakos

[2016-09-02 10:19] helenakos commented on #83
Hey @PowerInside, thanks for the request! Noting it down for future :)

[2016-09-02 10:22] helenakos commented on #5
Hey @PatelUtkarsh, thanks for the feedback! Noted this one down for future planning :)

[2016-09-02 10:22] #5 closed, assigned to helenakos

[2016-09-05 16:38] narimangharib commented on #48
Sorry for late reply.

Currently, many people are trying to make a video/audio call when I open my wire account. It would be great if we have a feature like that one on Facebook for Wire. Please see the attached image.

Thanks
![screen shot 2016-09-05 at 5 37 15 pm](https://cloud.githubusercontent.com/assets/3672889/18253769/71d15a0e-738f-11e6-9f65-0fef7632cdc2.png)

[2016-09-06 14:32] marfous opened #178 "System notifications from app.wire.com in FF are not working"
System notifications under Firefox are not working. I have pinned tab in my FF 47.0 and no notification comes. But it works like a charm in the Chrome. Please could you take a look on that? Thanks.

[2016-09-06 16:56] lipis commented on #178
Which operating system are you using?

[2016-09-06 17:09] lipis commented on #178
Works fine on my machine.. :/ OS X - FF 48 (latest)
<img width="340" alt="screen shot 2016-09-06 at 19 07 27" src="https://cloud.githubusercontent.com/assets/125676/18283399/544bc772-7465-11e6-83e4-95b47567e6c2.png">

[2016-09-06 18:20] marfous commented on #178
Yep, I have the notification allowed on that page. I'm using Fedora 23.

[2016-09-07 06:03] marfous opened #182 "Add support for reply to comments"
Common messanges are having reply-to possibility so one can connect (at least in the UI) one message with other one. It would be great to have it in the browser as well as in mobile apps - i.e. using long click on the message I want to reply, click reply and write test into common text box.

Thanks in advance.

[2016-09-07 06:05] marfous opened #183 "Remember me doesn't work in the FF under Linux"
I'm using app.wire.co in pinned tab in Firefox 47.0 (OS: Fedora 23). Even when I check the "Remember Me" checkbox I need always to reenter my credentials to sign-in to the Wire after reopening my browser.

[2016-09-08 21:53] 1j01 opened #198 "Email autocompletion"
Form autofilling doesn't work on the account creation form in Chrome.

[2016-09-11 13:48] hakusaro opened #200 "Lag when sending messages"
So, I don't know if this is a fairly commonly noticed issue, but I figured I'd speak up. One of the most annoying things about using Wire is that there's a good delay between pressing enter on the input field and the message actually reaching the local chat history. It feels like lag.

This is because, at least from my understanding, the method [`_send_and_save_generic_message`](https://github.com

[2016-09-11 14:00] herrmannplatz commented on #200
I totally agree with you. This is something that is on top of our agenda and we already started working on fixing this. Rendering the message immediately would improve the whole experience of the app.

[2016-09-11 14:10] hakusaro commented on #200
@herrmannplatz any idea on an ETA, or...? (read: is it worth me changing this locally and recompiling the electron app, or is it going to happen soon?)

[2016-09-11 14:10] kbrandwijk opened #201 "On-premises installation"
Hi, I love the Wire app, and I was very excited to find the open source here. I can install and run every version locally, so that's all fine, and I'd love to build further on this platform. However, it started me thinking about how to set up an on-premises solution for enterprise communications. The sources available however seem to be missing the server part. Are there any plans to release the s

[2016-09-12 11:52] helenakos commented on #182
Hey @marfous, thanks for the feedback! Sounds like a good idea. We will consider it depending on the user demand.

[2016-09-12 12:27] helenakos commented on #201
Hey @kbrandwijk , thanks for the feedback! We're really happy to hear that you want to build further on top of Wire platform. There are indeed plans to release the sources for the server side, but there are currently no committed dates for the release.

[2016-09-12 17:41] herrmannplatz commented on #200
soon :)

[2016-09-12 18:55] IpsmLorem opened #204 "TLS improvement"
Hi.

It's seems that the TLS implementation has some free room for improvement: https://www.ssllabs.com/ssltest/analyze.html?d=prod-nginz-https.wire.com

Certicate staple etc.

Furthermore, certificate pinning could be done for the Atom desktop client and iOS one.

[2016-09-12 19:00] IpsmLorem opened #205 ""Edited on Invalid date" when editing message"
When I edit a message on the atom dekstop app, a pen is displayed after my name.
On a tool tip, it says: "Edited on Invalid date"

Something went wrong ?

[2016-09-12 19:02] lipis commented on #205
Verified.. I have the same :) Thanks @IpsmLorem

[2016-09-12 19:09] raphaelrobert commented on #204
Thanks for pointing it out. We regularly make adaptations to the supported cipher suites, but things evolve obviously over time.

Regarding certificate pinning: We do it on mobile clients (iOS and Android). On our desktop app we use Electron, which in turn uses the Chromium mechanisms when checking certificates. We found this to be good enough given our threat model, but we don't rule out that it

[2016-09-12 19:09] #204 closed, assigned to raphaelrobert

[2016-09-13 12:55] IpsmLorem opened #208 "Sending only to validated devices"
It would be interresting to have a turned on by default option: "Only send to verified devices".

A warning would be displayed when you send to recipients with some unverified devices and an error if at  least one recipient of your sending has no verified device at all.

That could improve security (for just a small tradeof with friendlyness)

[2016-09-13 19:40] gregor commented on #205
@IpsmLorem Thank you very much for the report. I introduced this issue with the last release we deployed   last Thursday and uncovered only after the release. The bug has already been fixed in the codebase (https://github.com/wireapp/wire-webapp/pull/197) and the fix will be part of the next release.

[2016-09-13 19:40] #205 closed, assigned to nobody

[2016-09-13 19:42] gregor commented on #183
@marfous Which URL do you have exactly pinned to the tab? If it is not the blank domain but https://app.wire.com/auth you will be asked to log in every time despite the valid cookie. Please let us know if "Remember me" is still not working as expected.

[2016-09-13 20:25] IpsmLorem commented on #205
Thank you.

[2016-09-14 08:37] marfous commented on #183
Yeah, the URL was really wrong. I'm very sorry for the false report, I'm closing it now.

[2016-09-14 08:37] #183 closed, assigned to nobody

[2016-09-14 09:53] gregor commented on #183
No, worries. We are always happy to help.

[2016-09-15 09:27] helenakos commented on #198
Hey @1j01, thanks for reporting. We couldn't reproduce this one though

[2016-09-15 09:28] helenakos commented on #201
@kbrandwijk If you want to talk more about this topic and other examples of using Wire for business, please reach out to siim@wire.com or add him on Wire: siim@wire.com

[2016-09-15 09:28] tmikaeld opened #7122 "Aliases for contacts"
Because some people set stupid names or nicknames when registering so you have no idea who they are.

And it also makes sense in other means, like adding what company the contact belongs to
(Would be better handled with Groups though).

[2016-09-15 23:16] 1j01 commented on #198
To be clear, it works on the login form. By "couldn't reproduce" do you mean clicking on the Name or Email fields on the account creation form triggers a dropdown for you?

[2016-09-16 15:30] fdelapuente opened #217 "https://app.wire.com should allow mobile browsers"
Hi,
In my Phone with I cannot use the wire-webapp. I think my browser's user agent is rejected just for being a mobile browser. See link to the suspected culprit code[1]

If you want to enforce the usage of the native apps on mobile devices, the code should make sure the device being rejected is using one of the natively supported platforms. Mine is not (Ubuntu Touch OS).

Users running Not-So-Pop

[2016-09-16 15:49] fdelapuente commented on #45
Hi,

I consistently can't login from a Private Browsing session in firefox on a Windows 7 machine.

I would like to confirm if it's actually not supported due to the device signature creation in a volatile session or something else?

In fact I wouldn't like anything to be stored at all in this computer, that's why I connect using a private session (not my personal computer)...

Thanks!

[2016-09-16 16:13] gregor commented on #45
Wire does not work with Private Browsing on Firefox we needs access to IndexedDB. E2E-Encryption relies on the concept of devices. You can sign in with a non-permanent one (by leaving "Remember me" blank") when you sign in on Firefox outside a private browsing session. You will not have access to any of your history but receive new messages while you are logged in. Once you manually sign out from

[2016-09-16 16:16] gregor commented on #217
This is a deliberate design decision as the current Wire UI design is not aimed at small screen and really frustrating to use there. Currently we are very restrictive what we allow to access in order not raise any expectations on other clients.

[2016-09-16 16:19] fdelapuente commented on #45
I just need to add that the issue title matches my issue, but I'm not getting the same error. In my case it says:  "Problems with the connection. Please try again."

[2016-09-16 16:21] fdelapuente commented on #45
Thanks @gregor for the information about the behavior without "remember me"!

[2016-09-16 16:38] fdelapuente commented on #217
Hi Gregor, thanks for the clarification!

I'll file a separate enhancement request for the UI design limitation for different form factors.

Best Regards.

[2016-09-16 16:48] fdelapuente opened #218 "wire-webapp UI should be able to properly handle different screen resolutions/form_factors"
Hi,

This enhancement request is related to #217 and is a dependency to fix that one.

The wire-webapp should adapt properly to different screen resolutions and form factors.

As an example, in narrow screens (Like a Phone in portrait position) the buttons for Video/Audio call get easily out of the screen and the user must manually workaround the UI in order to get there.

Thanks!

[2016-09-16 17:02] fdelapuente commented on #83
Hi,

I see this was closed... meaning the Feature-Request was rejected and not considered for the future?

[2016-09-16 17:06] helenakos commented on #83
@fdelapuente It is not rejected. We open tickets internally for feature requests and close them here.

[2016-09-16 18:15] fdelapuente commented on #83
Hi @helenakos,

Thanks for the clarification. I can understand that the company doesn't want to expose its internal development process to the public, but ...

Wouldn't it be better to keep the public tickets open so that people can track the feature?

You can always relate or link the internal tickets to the public ones... so that they'll be in sync.

From another perspective:  Imagine I wanted t

[2016-09-16 21:49] fdelapuente opened #219 "wire-webapp Screen sharing interrupts Audio call"
Hi,

During a Call from the webapp in Linux/Firefox to an Android device, the moment screen sharing was activated in the Firefox endpoint, the audio communication got interrupted. The audio couldn't be recovered and a new call had to be made.

Let me know if you need more information.

Thanks.

[2016-09-19 09:26] gregor commented on #218
That's why we block those clients from accessing the web app. We do have native applications for Android and iOS and want to reduce the overhead created by maintaining a responsive design in our web application. We might reconsider this in the future but for now our UI is built and designed on the promise that we can always depend on a certain minimum width of the display.

[2016-09-19 09:28] gregor commented on #219
Thanks for the report. We are aware of this limitation between desktop and mobile. Are you using screensharing from desktop to mobile regularly? Screen sharing was implemented as a desktop first feature and mobile clients have not caught up to the functionality yet.

[2016-09-19 09:35] helenakos commented on #198
That's correct. But you are right, it no longer works on the account creation form. Thanks, will open a ticket internally.

[2016-09-19 09:41] gregor commented on #45
@fdelapuente We need to improve on our error messaging. "Problems with the connection. Please try again." is essentially the fallback if we do not have a more specific message, I guess we could catch the Firefox Private Browsing case more appropriately and link to the FAQ (https://support.wire.com/hc/en-us/articles/202960551), which could also be more explicit in explaining this limitation.

[2016-09-19 10:03] helenakos commented on #83
@fdelapuente Reopening the issue here!

[2016-09-19 10:11] #48 closed, assigned to nobody

[2016-09-19 10:11] #201 closed, assigned to helenakos

[2016-09-19 11:48] fdelapuente commented on #219
Hi @gregor,

Actually It's not critical for me, I'm just filing the bug to help the development/improvement of wire. Good to know it should be working in Desktop-to-Desktop communication (I haven't tried it yet and this is more important for me).

Best Regards.

[2016-09-19 12:00] fdelapuente commented on #217
Hi @gregor,

It would be a great usability improvement if the Blocking mechanism is changed to be driven by the actual minimum screen width/height constraints of the UI rather than the user agent being a mobile device. With current behaviour all Mobile devices are being banned ignoring the fact that the device could be a tablet with enough screen space or (in my case) an convergent device that cou

[2016-09-19 12:05] gregor commented on #217
@fdelapuente Sure. But with the current way we essentially control the environment and have a much smaller test matrix. For a technically advanced user like you knowing that something is not supported but might work is ok. For an average user we will get lots of customer service complaints and bad reviews if we allow these untested setups to access the app. We will certainly consider your input. B

[2016-09-19 12:10] gregor commented on #219
@fdelapuente Yes, desktop to desktop screensharing works in all but one scenario. This is due to the different state of webRTC support implemented in Firefox vs Chrome. Specifically Chrome still misses the RtcRtpSender.replaceTrack() functionality and has to move from Plan B to Unified Plan SDPs. We currently opted to implement the standards conform way with results in no audio if you start screen

[2016-09-19 12:10] fdelapuente commented on #218
For the record I added a new comment on #217 proposing a change in the condition to reject the connection from a non-supported browser.

The problem with blocking by user agent is that you end up blocking a family of browsers under the assumption that all the clients running this browser will not have enough screen space to properly use the wire-webapp, while being unaware of actually detecting th

[2016-09-19 12:34] lipis commented on #218
Web is a wild wild place indeed.. and we are officially supporting the [4 _major_ browsers](https://wire.com/download/) on Desktops..

[2016-09-19 14:07] helenakos commented on #208
@IpsmLorem interesting request, thanks, shared with the team!

[2016-09-19 18:56] 1j01 commented on #198
So in conclusion, it works (worked?) but it doesn't work?

[2016-09-20 11:16] helenakos commented on #198
In conclusion, it doesn't work.

[2016-09-20 11:33] projectsnc opened #229 "API guidelines / documents / instructions for WIRE chat integration"
Hi - i hope someone can help, im trying to find the API guidelines / documents / instructions for WIRE chat, to help me integrate it with another mobile app.

Can anyone point me in the right direction please ?

Many Thanks

[2016-09-20 12:36] herrmannplatz commented on #200
this is now merged into our dev branch.

[2016-09-20 14:30] hakusaro commented on #200
Glad to hear it! Thank you!

[2016-09-20 17:15] 0ki commented on #208
Agreed. Good suggestion.

[2016-09-21 08:30] gregor commented on #200
https://github.com/wireapp/wire-webapp/pull/222

[2016-09-21 21:16] zenitraM opened #236 "Be able to paste images from clipboard"
To be able to send a picture from the clipboard to someone, by just hitting Ctrl/Command+V.

Telegram Web and other messenger apps support this, I find it handy and use it frequently

[2016-09-22 07:55] gregor commented on #236
@zenitraM This is definitely something on our wish list as well.

[2016-09-26 16:05] bennycode commented on #229
@projectsnc, we are currently working on a general "Hello World"-project, which will help developers to make their first move on the Wire platform.

I will notify you here, once this is done. 😃

[2016-09-26 16:07] bennycode commented on #236
It's one of our most wanted features: https://github.com/wireapp/wire-webapp/issues/5

I think we have to do it. 👍

[2016-09-26 17:35] deelan opened #248 "Verification should propagate across devices"
This applies to all the applications, not just the web app, but since the desktop app just wraps the web app, I'm submitting this here.

Somewhat related to https://github.com/wireapp/wire-webapp/issues/208, but basically I think that when you verify someone else's device, that verification state should be propagated across all your devices.

For example:

I have Wire for Android installed on my p

[2016-09-26 17:38] deelan opened #249 "Add QR code fingerprint verification"
It would be great to be able to use QR codes to verify fingerprints (at least when the person has access to a camera (webcam/mobile device)) like in Signal.

Reading out a hex string is just not ideal UX. :)

[2016-09-26 20:29] daveloyall opened #250 "Some content containing underscores doesn't render correctly in webapp."
The following doesn't appear correctly in the web app, but it does appear correctly in Android: `<_< >_>`.  In the web app, it looks like this: `<< >>`.

This might be related to #10

Mysteriously, this one does render correctly: `>_>`.

[2016-09-27 12:42] helenakos commented on #7122
@tmikaeld We will work on improving the whole naming area soon. Hold on tight.

[2016-09-27 12:43] tmikaeld commented on #7122
@helenakos That's great! Looking forward to it.

[2016-09-29 14:36] mikeger commented on #248
@deelan thanks for your feedback. I would like to indicate a certain issue with your proposal, that I believe is significant.

Currently the fingerprint of the device is inferred from the public keys of the device. This means that if key data is changed on the device (or someone is trying to replace one device with another) it's fingerprint is going to change. The purpose of having a fingerprint o

[2016-09-29 16:31] deelan commented on #248
Hi @mikeger and thanks for taking the time to respond to my issue.

Firstly, let me just say that I think you guys have done some great work with Wire and I'm a big fan of what I've seen so far!

I definitely don't intend for you to compromise security in any way, so if you feel that verification propagation is not secure, then by all means close up this issue. I was presuming that this kind of pr

[2016-09-30 06:30] mikeger commented on #248
@deelan thanks a lot for the feedback. Yeah, switches are not the most exciting way to do it, definitely :) We'll continue thinking on improving this part of the application. One of proposed ideas are from @IpsmLorem https://github.com/wireapp/wire-ios/issues/232

[2016-09-30 06:33] thenktor commented on #127
Hi,

Vivaldi user agent in browser window:

Vivaldi user agent in web panel:

Vivaldi user agent in web panel using desktop version:

[2016-09-30 09:34] IpsmLorem commented on #248
Synchronisation among devices is a hard problem to solve without compromising security.
People have often less than 3 devices (desktop, laptop, mobile) and by improving local validation could be enough.

Having #208 to send only to verified devices and https://github.com/wireapp/wire-ios/issues/216 for verification display improvement (and with https://github.com/wireapp/wire-ios/issues/232 as sta

[2016-09-30 13:20] bradfier opened #260 "Screen Sharing button doesn't appear in Chrome"
Using https://app.wire.com or the Chrome Store webapp:

When in a voice call, the Share Screen button isn't present, so I can't start sharing my screen to the other party. Can receive shared screens from my contacts without issue.

_Does not_ work in Chrome Version 53.0.2785.143 (64-bit)
_Does_ work on same machine (Linux) using Firefox 49.

No errors or warnings to report, the button simply isn't

[2016-09-30 18:12] mikalehmann opened #261 "Wire thinks my Firefox is a new device"
I just logged into the webapp on my Firefox, but Wire thought it was a new browser and gave it a new name with a new key: "Firefox (temporary)". I am also logged out everytime I open Firefox, even though I click on "Remember me". I will file this as a separate bug if they are not related.

[2016-10-01 02:49] 0ki commented on #248
Seconding mikeger that this is not a good idea.

[2016-10-01 07:40] raphaelrobert commented on #249
Thanks for the suggestion, we have some ideas about how to simplify the verification process and QR codes could be part of it.

[2016-10-01 07:40] #249 closed, assigned to raphaelrobert

[2016-10-01 07:44] raphaelrobert commented on #248
We have some improvements in mind regarding the verification process. But like @mikeger said, it is difficult to get it right while maintaining high security standards and it requires changes in the architecture. We will keep you posted as we get closer!

[2016-10-01 09:10] IpsmLorem commented on #248
Please, never compromise security against any friendlyness.

Secure by design first and then try to improve user experience based on that design :)

[2016-10-01 14:10] gregor commented on #261
If you are logged in with a temporary device than the remember me option was not selected when you where logged in this time. When yoe next log in with the option selected, you should be on your old device. You can have a temporary and a permanent device in the same browser. The data is stored in separate databases. Temporary device data gets deleted when you sign out. Permanent device data only g

[2016-10-01 14:11] gregor commented on #261
If you want to be signed in when you open Firefox, make sure that you have bookmarked the blank domain https://app.wire.com and not https://app.wire.com/auth as we will not check whether you have a valid cookie there. You can always sign back into your exisiting permanent device from the auth page as stated above.

[2016-10-01 14:16] gregor commented on #260
@bradfier This is not a bug but a limitation of the browser. Chrome does not allow the sharing of your desktop screens unless you install a browser extension via which you can facilitate the screensharing. Firefox uses a different security model and has whitelisted use for screensharing. Technically it would work with Firefox versions below 48 but that is the first version in which we are on the w

[2016-10-01 14:16] #260 closed, assigned to nobody

[2016-10-01 14:42] bradfier commented on #260
Thanks @gregor, are there any plans to support this feature on Chrome (ie adding an extension)? Using Firefox is a perfectly sufficient work around for now.

[2016-10-01 14:53] gregor commented on #260
So far we haven't looked into building, releasing and maintaining an extension. But we are continuously listening to feedback and might re-evaluate the need for it in the future. We targeted the feature at our desktop versions based on Electron at the beginning and then noticed that we could also easily enable the feature in Firefox.

[2016-10-02 09:54] mikalehmann commented on #261
What's the difference between https://app.wire.com and https://app.wire.com/auth?

[2016-10-02 10:01] lipis commented on #261
`/auth/` will always going to prompt you to login, even if you are already logged in. While the other one is going to ask you for credentials only when needed.

[2016-10-02 10:03] #261 closed, assigned to nobody

[2016-10-02 10:09] mikalehmann commented on #208
I agree that this is a good idea, but it should definitely not be turned on by default. This might scare inexperienced users away.

[2016-10-02 10:13] IpsmLorem commented on #208
@Lehmax , if it's not a turned on by default hte app must warn people each time they send messages to unverified devices.

[2016-10-04 19:47] deelan commented on #248
Though I still feel the user experience is problematic, I agree that this is not the right way to handle it. Verifications always need to be handled out of band.

[2016-10-04 19:47] #248 closed, assigned to raphaelrobert

[2016-10-05 08:10] raphaelrobert commented on #208
What you request is there:
https://support.wire.com/hc/en-us/articles/207859815-Why-should-I-verify-my-conversations-
https://support.wire.com/hc/en-us/articles/207149339-What-is-a-man-in-the-middle-attack-and-how-does-Wire-protect-me-from-this-
https://support.wire.com/hc/en-us/articles/207149439-What-is-a-key-fingerprint-

[2016-10-05 19:01] IpsmLorem commented on #208
Comparing fingerprints and turning the shield icon to a half shield one is a detection means, that's good.
But preventing to send messages to unverified devices at all seems safer to me (and doesn't replace the detection feature).

[2016-10-05 19:02] mikalehmann commented on #208
It seems to me that @raphaelrobert didn't understand your suggestion.

[2016-10-06 09:59] raphaelrobert commented on #208
If a new device is added to a verified conversation you either see a warning message when you receive a message or you see a popup screen before your message is sent. You have to take action to still send the message in that case.

[2016-10-06 19:16] IpsmLorem commented on #208
Having to take action it's a mean to prevent sending. Thank you for pointing it out.

[2016-10-08 13:32] mat1th opened #283 "I can't build the app."
Hello I'm trying to build the webapp on my local machine, but it gives a error. I'm using the latest dev branch. The error contains:

[code]

The full npm debug is here: https://gist.github.com/mat1th/0b5cb1a13ba705e3e5f64467e5880d84

The command i'm using is `grunt` after I've run `npm install`. (I've installed npm, grunt, and bower localy on my machine)

[2016-10-10 16:05] fdelapuente commented on #45
Hi,

My father created an account some time ago with firefox on ubuntu 14.04. When he tried to login it said "Problems with the connection". Now he upgraded to ubuntu 16.04 and is running firefox 49.0 (the same version I have). He still gets the same messange when login in. I assisted him and confirmed that he resetted password and tried to login correctly with the same results. In other words he

[2016-10-11 00:30] fdelapuente commented on #45
It's working on chrome on the same device.

[2016-10-11 00:48] bennycode commented on #45
@fdelapuente: Can you please open the JavaScript console from Firefox and report what shows up there? https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console

[2016-10-11 10:00] ffflorian opened #294 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
Server: node v6.7.0, Debian 8.6
Client: Ubuntu 16.04

After executing `grunt` on my server the app runs fine. But when I open the site in my browser, I only see the loading screen and get `Access-Control-Allow-Origin` errors:

Chromium 53:

[code]

Firefox 49:

[code]

[2016-10-11 11:56] faziloub opened #297 "Cant create new account in localhost wire-webapp"
when try to create an account its say Something went wrong
Please try again.

[2016-10-11 14:04] herrmannplatz commented on #294
wire.com is the only origin that is allowed so far. if you want to test it locally u can use Chrome's `--disable-web-security` flag.

[2016-10-11 14:04] herrmannplatz commented on #297
check #294

[2016-10-11 14:08] herrmannplatz commented on #250
Yes its related and its a pitty since a variety of kaomjies break. We will discuss how to improve the markdown parsing.

[2016-10-11 15:06] ffflorian commented on #294
So there is no way for me to use Wire webapp on my own server without using the `--disable-web-security` flag?

[2016-10-11 16:33] daveloyall commented on #250
If you provide some specification of the markdown flavor you are using, I can use some appropriate escape mechanism.

[2016-10-12 08:39] faziloub commented on #297
@herrmannplatz thank you

[2016-10-12 08:42] herrmannplatz commented on #294
Sorry to say, but yes. Will close this for now.

[2016-10-12 08:42] #294 closed, assigned to nobody

[2016-10-12 08:42] #297 closed, assigned to nobody

[2016-10-12 13:31] dschoepe opened #306 "Random disconnects when running webapp locally"
After running the webapp using `grunt` and logging in, the session will disconnect after some minutes of inactivity of the client with the message "Trying to connect. Wire may not be able to deliver messages". Incoming messages are still received, but it is no longer possible to send messages. The webapp does not manage to reconnect without logging in again.

(Only tested on the `prod` branch.)

[2016-10-12 14:23] gregor commented on #306
This is due to CORS limitations. Running the webapp locally we will not be able to refresh the access token. The backend expects the request to originate from certain domains that are whitelisted. As of now the backend is not open sourced and we have no means to change this whitelist for security reasons. We need do that roughly every 14 minutes. As this fails. we try to log you out. One of the fe

[2016-10-12 14:36] StevenVanAcker opened #308 "Running wire-webapp fails using latest node.js 6.7.0"
I've set up the wire-webapp using the provided instructions, using the official node.js Docker image as a basis

My Dockerfile is this:

[code]

When I run this container, I get the following output and error:

[code]

To replicate this error, create the Dockerfile in the root of the repo, and run: `docker build -t wire-webapp .`
Then, after building, run: `docker run wire-webapp`

The current ver

[2016-10-12 15:08] StevenVanAcker commented on #308
After some debugging, it seems the issue is caused because of running `npm install` as root.
If I create a regular user and run `npm install` as the regular user, things seem to work fine.

The updated Dockerfile now looks like:

[code]

I hope this helps other people with similar issues.

[2016-10-12 15:08] #308 closed, assigned to nobody

[2016-10-12 15:56] dschoepe commented on #306
I can confirm that running Chrom(e|ium) with --disable-web-security and a different data directory fixes the issue.

[2016-10-12 15:56] #306 closed, assigned to nobody

[2016-10-12 16:46] someoneEsle opened #309 "Can't see if old messages have been delivered"
Why is the "delivered" tag only shown for the last sent message? How do I know if older messages have been delivered? I don't see an option to see that other than opening the app on my phone...

[2016-10-13 05:56] mzs114 opened #310 "Wire webapp does not work on Seamonkey."
I get a message which shows "Unsupported Browser". Both Firefox and Seamonkey use the same gecko engine under the hood. (about:config)
Please don't limit Wire to just a handful of browsers, by allowing Wire to run on different browsers you increase its accessibility.

[2016-10-13 15:18] bennycode commented on #310
Hey @mzs114, can you please tell us the user agent of your Seamonkey browser?

You can get if from: http://whatsmyuseragent.com/

[2016-10-13 15:19] bennycode commented on #283
Looks like https://github.com/dcodeIO/ByteBuffer.js.git#~3 wasn't available. Can you please run `grunt init` again?

[2016-10-13 19:02] mat1th commented on #283
I've run it again and now it dit work. Thanks!

[2016-10-13 19:02] #283 closed, assigned to nobody

[2016-10-14 03:19] mzs114 commented on #310
@bennyn

`Mozilla/5.0 (X11; Linux x86_64; rv:43.0) Gecko/20100101 Firefox/43.0 SeaMonkey/2.40`

[2016-10-14 10:00] ffflorian opened #313 "Feature Request: Let the user rename devices"
As a user I'd love to be able to rename my devices so I can keep track of which devices I don't use anymore. The fingerprint solution is great for security - but for a quick overview (local?) naming would be cool.

[2016-10-14 11:46] #200 closed, assigned to nobody

[2016-10-14 12:42] helenakos commented on #313
Thanks @ffflorian, good request :)

[2016-10-14 16:24] jackmawer commented on #83
This would be much appreciated!

[2016-10-14 21:23] fdelapuente commented on #45
Hi bennyn,

We did that today, and nothing rang a bell:

![wire_issue1](https://cloud.githubusercontent.com/assets/22240862/19403095/4bb915bc-923b-11e6-8fa4-f95b119c066a.png)

[2016-10-15 16:02] hakusaro commented on #200
@herrmannplatz (I can confirm enjoying wire much more now)

[2016-10-16 11:30] IpsmLorem commented on #208
One of my recipient added a new device (the recipient was fully verified).
On iOS Wire said : "xx started using a new device". Nothing on my Wire desktop, by the way.
I tried to send a message and the application never gave me a screen sending prevention or even a warning message.
My message was just sent. If the device was added to my recipient from a malicious peer, it would have read my message

[2016-10-16 13:26] raphaelrobert commented on #208
Yes, this is indeed a limitation of the web app/desktop apps.

[2016-10-16 13:40] IpsmLorem commented on #208
The message was sent via the iOS Wire version. I didn't see any prevention feature for sending the message. Did I missed something ?

[2016-10-16 13:56] raphaelrobert commented on #208
Whenever a new device is added to a verified conversation (be it one of your devices or someone else's) the conversation status "degrades" to an unverified conversation and the blue shield disappears. This happen when you receive a message.
The indication you saw would appear in that moment and you would have to verify the additional device. Until then no further system message will be shown, even

[2016-10-17 13:12] gregor commented on #310
@mzs114 We currently support Firefox from the last LTS release onwards, which is currently version 45. Your SeaMonkey relies on a Firefox 43 which is not supported. Please upgrade if there is a newer SeaMonkey version available. https://github.com/wireapp/wire-webapp/blob/dev/aws/config.py#L32

[2016-10-17 16:34] mzs114 commented on #310
Thanks @gregor, that makes sense _if_ the Wire web app uses something which older version don't support.
Also I see that Chrome must be at lest 51, that means [midori](http://midori-browser.org/) based on webkit won't work either :(

[2016-10-17 16:34] #310 closed, assigned to nobody

[2016-10-18 16:30] gregor commented on #310
We use many state of the art features of ES6 like Promises or ever evolving APIs like webRTC. Many versions have bugs that we need to work around to keep calling working. We do not have the resources to do cross-browser testing with all these versions with every release. We require almost up to date browsers to take this source of error out of the matrix.

[2016-10-19 09:32] helenakos commented on #309
"Delivered" is shown to the last successfully delivered message, meaning all the messages before the one showing "Delivered" were delivered as well.

[2016-10-19 16:19] someoneEsle commented on #309
Uhmm... So, let's say that I send the messages: A, B, C, D, ... Z. Say that all the messages up to "D" get delivered, then "E" gets lost, and then F, G, ..., Z will be delivered correctly.
What do you display in this scenario? Do you show "Delivered" only up to "D", even if "F" was delivered correctly?

[2016-10-20 06:46] livejamie opened #332 "GIFV Embed Support"
Would be nice if gifv files were loaded like gifs are

https://i.imgur.com/sxc9H2J.gifv

[2016-10-20 06:49] livejamie opened #333 "My avatar being the sidebar background is weird"
Have the same feedback from all my friends and family. It would be fun to be able to choose from something generic, or set a color or set my own photo (separate from my avatar) as the background of the side of the app.

Having it be a blown up version of my own face is really weird.

[2016-10-20 08:25] tkgalk opened #334 "Multi-language layouts broken because of AltGr+ bindings"
Same issue as in #94.

"AltGr+n" = "ń".
"AltGr+s" = "ś".
"AltGr+Shift+n" = "Ń".
"AltGr+Shift+s" = "Ś".

Alt+Ctrl combinations on Windows are treated as AltGr and tend to go in conflict with non-english layouts.

Proposal: move away from Ctrl+Alt keybindings to something like Ctrl+Shift or something completly else because Polish won't be the only affected.

[2016-10-20 09:32] herrmannplatz commented on #333
Yes, good point. Thats already under discussion within our team.

[2016-10-25 08:41] ghost opened #355 "Text formating support is incomplete/wrong"
I tried common text formatting tricks and this is what I get (not entirely sure if this is a way it supposed to be):

`*bold*` gives me italic
`_italic_` works as expected
`~strikethrough~` does nothing

Tested in app.wire.com in Firefox (Linux)

[2016-10-25 13:53] ghost opened #356 "Timed messages → Hover tips translation"
`"Temporare Nachricht"` in English interface while mouse pointer over the timed message icon.

[2016-10-25 14:34] gregor commented on #356
@timur-davletshin Thank you for your report. We already noticed and fixed this in https://github.com/wireapp/wire-webapp/commit/c07f118158af121dbbc7065c29914d372e89fe3b a couple of hours ago. Will be part of the next release.

[2016-10-25 14:34] #356 closed, assigned to nobody

[2016-10-25 16:59] ghost opened #359 "Delete message pop-up"
Delete message pop-up menu probably has got wrong z-index value and should overlap any other interface element. Under certain circumstances it may not be accessible.

See screenshot for details:

![untitled](https://cloud.githubusercontent.com/assets/23050090/19695802/a222cd54-9af5-11e6-9ae9-41245c2f1bee.png)

[2016-10-25 17:36] ghost opened #360 "New messages notification in browser"
I'm sorry, I'm a bit confused with all those new Notification/Push/Workers APIs, so I will explain from user stand point.

Can I receive notification in browser about new messages while tab with Wire is closed (notifications are enabled)?

This is the way I receive news from couple sites on my desktop/phone. I'd like to have the same with web-version of Wire.

[2016-10-25 18:42] ghost opened #361 "Google geolocation API requests without user notification"
Hello everybody!

Every time I open `app.wire.com` in Firefox I see Google geolocation API requests being made with my exact (!) location (Latitude/Longitude) to determine my location (displayed in Settings). JSON response from Google contains my exact address.

Since I don't remember that I was giving app.wire.com right to determine my location via browser Geolocation API there is only one source

[2016-10-25 21:37] IpsmLorem commented on #361
I confirm the serious flaw:
https://maps.googleapis.com/maps/api/geocode/json?latlng=x.y,x.y&key=AIzaSyCKxxKw5JBZ5zE
is requested with the web version. (I suppose the Desktop one is the same)

Furthermore, the https://web.localytics.com/v3/localytics.min.js is requested too.
As a rule of thumb, only https://*.wire.com must be accessed.

[2016-10-25 21:51] ghost commented on #361
Localytics is requested before login only, I believe, to collect usage data. I see no big flaw here. But geolocation (via IP) without notifications (on server side I believe) is very bad idea. I seems like Wire's server side has got email — IP (and latitude/longitude most likely) pairs in open form.

BTW: This information partially mentioned in Privacy/Security Whitepapers. Nevertheless, seeing cl

[2016-10-25 22:00] tokariu commented on #361
i agree with you that wire shouldn't have traffic with 3rd party hosts.

Localytics is the telemetry service wire uses. It can be disabled in the options of the client. Then it should be gone (theoretically, haven't tested).
I already pointed out elsewhere that it is a bad idea to have Localytics enabled by default, and not as an opt-in option.

and the other called host, googleapi... could it be

[2016-10-25 22:03] ghost commented on #361
It is universally used by Chrome and Firefox. Statistic via Localytics has got nothing todo with crash reports (which can be opted in Settings).

[2016-10-25 22:44] tokariu commented on #361
I can confirm the geolocation requests on firefox. But I guess the source-request is not coming from wire directly (maybe localytics or something else). Would be nice to find out where it comes from.

As far as I know, on the Desktop-Client, you can opt-out of localytics, which means no "usage- AND error-reports" (on desktop-wire there is only one option for both). I read somewhere that, on the wi

[2016-10-25 22:47] ghost commented on #361
Source-request (function) is defined in one of JS files received just before request — wire-app.min.js

[2016-10-25 22:59] tokariu commented on #361
thx, doesn't matter, just the proxy-isp geo info.
don't have much time now, but I will try to wireshark desktop traffic to see if it's the same then.

[2016-10-25 23:14] ghost commented on #361
_...doesn't matter..._

Sure, original image is already in everybody's mailbox 🙂

[2016-10-25 23:30] tokariu commented on #361
yeh everybody can have some fun with my proxyisp geolocation. every website I visit got this information too, so I don't consider this as secret.
lets get back to topic and find out what is causing this requests

[2016-10-25 23:32] ghost commented on #361
JS function in wire-app.min.js does that request. I didn't dig further (morning is coming for me and I didn't get a wink of sleep) but I believe this information is used in Settings to show login location for current device. I'm more concerned about server-side activity since they clearly (correct me) store that information in unencrypted/unhashed form.

[2016-10-25 23:45] tokariu commented on #361
from the security whitepaper, it reads:

[code]

Nothing found about whether this information is encrypted or not (will edit if I find)

[2016-10-26 05:01] ghost commented on #361
[As I already said](https://github.com/wireapp/wire-webapp/issues/361#issuecomment-256186750) it is mentioned in whitepaper but still looks like serious flaw to me.

[2016-10-26 08:18] IpsmLorem commented on #361
As far I know, the desktop App only contacts:
![cap](https://cloud.githubusercontent.com/assets/1250795/19718412/710f2558-9b65-11e6-9e50-d1b1860d6ecc.png)

[2016-10-26 08:21] ghost commented on #361
Sorry, I'm at work, dig a bit later but how do I get my location in settings? Obviously they make some sort of geoloc. request. Maybe just on server side but it doesn't diminish this fault.

[2016-10-26 09:43] tokariu commented on #361
i did some short network analysis:
![1](https://cloud.githubusercontent.com/assets/7195846/19721034/df511764-9b70-11e6-8cf8-a1884f3ec6b2.png)
This is the Desktop Wire-Client starting with an already logged-in account.

![2](https://cloud.githubusercontent.com/assets/7195846/19721058/fa25102c-9b70-11e6-8f1e-99718f4b0dcb.png)
Thats the Desktop Wire-Client starting and logging in with some already re

[2016-10-26 09:46] ghost commented on #361
ОК, it's clear but web-version sends those requests to Google every time I open it. Let's wait for developers to comment.

[2016-10-26 09:56] tokariu commented on #361
It's obviously Localytics which can't be disabled in Wire's Browser-version. I assume it collects geolocation information (by resolving IP geo-data via google) to be sent with usagedata and/or errorreports.

I guess if this telemetry thing would be opt-in instead of opt-out, it wouldn't show up.

what options do we have if thats the case? opt-out of telemetry by default? change Localytics internal

[2016-10-26 10:06] IpsmLorem commented on #361
Localytics si blocked on my side and the GMap URL still contain the geolocatisation.

[2016-10-26 10:25] tokariu commented on #361
I guess thats the source of these requests:
https://github.com/wireapp/wire-webapp/tree/dev/app/script/location

[2016-10-26 13:26] gregor commented on #360
Yes, this is technically possible but not currently in our implementation scope.

[2016-10-26 13:30] ghost commented on #360
As far as I understand this will require server side changer, isn't it?

[2016-10-26 16:24] gregor commented on #360
Exactly, we would have to set up a push service that we can use from a service worker.

[2016-10-26 17:45] ghost opened #367 "Menu to download shared images"
I'd like to have menu to download shared images. Copying and pasting blob:address is a bit annoying.

[2016-10-27 08:41] gregor commented on #356
We have fast tracked the fix for this. This is now live and available for you on the next page refresh.

[2016-10-27 08:46] gregor commented on #367
If you click on an image to see it in full screen mode, the option is available on right click. I fully agree that we should add easier ways to download images though.

[2016-10-27 08:49] gregor commented on #359
@timur-davletshin Thanks for the report. We are aware of the issue and have been tracking it internally already.

[2016-10-27 17:27] ghost opened #371 "Report version in webapp"
Full version should be reported in webapp, just like desktop version.

[2016-10-28 07:53] gregor commented on #371
Can you please elaborate your request? I do not understand what you are asking for.

[2016-10-28 08:15] ghost commented on #371
Desktop version Help → About Wire reports version (e.g. 2.11.2665), same in `app.wire.com` just reports 2016-10-26. For bug hunting purpose it would great to have comparable version naming.

Also underlying JavaScript libraries should be mentioned somehow (e.g. image processing JIMP).

[2016-10-28 13:37] gregor commented on #371
Check the top of html code at app.wire.com.  Within a comment you will see full version string, which is a timestamp that also contains the hour and minute. We use those as the release tags on github to identify releases.

[2016-10-28 13:46] ghost commented on #371
OK, it is clear, not within GUI, but OK. Then logical question to ask is about desktop version. Like mentioned above 2.11.2665.

My idea was about uniform version information.

[2016-10-28 13:55] gregor commented on #371
They are completely separate. We need a version number in the above scheme for the Apple AppStore. We don't really have major, minor version on the web. We just release - usually once a week, sometime in between and sometimes not for two or three weeks. Dates is what best reflects this. The wrapper then makes use of the new webapp whenever it is available and you next restart or trigger a page ref

[2016-10-31 16:24] noci2012 opened #386 "I am looking into Wire as a replacement chat tool"
Why doesn't it work on Chromium..., chrome is the google privacy crippled variant of chromium.
So from a privacy standpoint chromium should be part of the family.

A 2nd issue, how is the sustainability of this application arranged for?
There must be something/someone that pays the co-Location bill.

[2016-10-31 18:11] someoneEsle opened #387 "[Feature request] Show when people are typing"
It surprises me that no one has suggested this feature on github yet, so I'll do it. It would be extremely useful if the web app/desktop apps showed when people are typing. I often find myself sending messages on my computer and then checking my phone to see if the other person is typing a reply ^^
Thanks!

[2016-11-01 09:30] gregor commented on #387
This is definitely on our wish list as we do have this feature on the mobile clients and lately expanded it to work in groups too. We just haven't gotten around to implementing it yet.

[2016-11-01 09:32] gregor commented on #386
It should work on Chromium. Can you post your user agent string so we can check why we apprently block your Chromium build?

[2016-11-01 10:03] david-wire commented on #386
@noci2012 Wire is VC backed by Iconical and will monetize with premium features and platform offering in the future.

[2016-11-01 16:27] helenakos commented on #355
@timur-davletshin Thanks Timur, we need to improve the text formatting. No current committed date yet.

[2016-11-01 18:00] noci2012 commented on #386
I have Chromium with the following extentions active:
uMatrix, https everywhere, Ghostery, Cookiemanager.

Even if those are disabled the redirect persists to wire.com/unsupported
I am not aware of anything that changes the UserAgent string.
Ghostery has no issues with your pages
umatrix has innocraftcloud excluded for javascripting. (it only supplies piwik.js).

Chromium Version 41.0.2232.0  (Blu

[2016-11-01 21:47] lipis commented on #386
can you paste here the result of https://app.wire.com/test/agent/

[2016-11-01 22:19] noci2012 commented on #386
I will when i am in the office. (windows system).

On this chromium it does work, test output :
It seems to work on a linux version with same extensions...

[code]

[2016-11-01 22:54] noci2012 opened #392 "Network."
This should not be in wire-webapp, but in wire general, but there is no way to enter issues there.

You announce yourself as a Swiss based company using a Luxembourgh Finance backing company with german developpers.
The again the Server addresses are with google (1e100.net) and Amazon both are AFAICT  US based companies that don't a a lot of trouble harvesting Personal info from people.
The mail c

[2016-11-01 23:17] noci2012 opened #393 "Observed: Password reset fails"
The reset mail has a lifetime of 10 minutes, yet it may take far more then 20 minutes before it gets delivered.
I tried to reset the password three times everytime the link is declared void AFTER the new password is entered, btw, the new password is not checked for typo's using a 2nd field to enter it.

[2016-11-02 10:29] noci2012 commented on #386
Windows chromium without recognition

[code]

[2016-11-02 10:37] lipis commented on #386
So I found your issue.. the Chrome version is 41 and we support >= 51

https://github.com/wireapp/wire-webapp/blob/dev/aws/config.py#L30-L35

[2016-11-02 11:14] noci2012 commented on #386
Ok, maybe the minimal version should be mentioned in the requirements?
Portable Apps isn't there yet afaict.

[2016-11-02 11:20] lipis commented on #386
We are updating them quite often and it would be hard to maintain and keep this information in sync.. Also the officially supported browsers are doing well with their autoupdate mechanisms, so in reality everything is seamless and the end user usually doesn't really care about the actual version.

What do you mean by portable apps?

[2016-11-02 11:23] noci2012 commented on #386
It's not part of native portable apps..., ok that explains why it is behind.. not auto update.
I use a portable apps version of chromium, as i as a regular user cannot install software but can unzip packages. Appearantly this one isn't picked up by the portable apps environment for updating.
Only on work environments i use windows systems as a regular user if needed.

[2016-11-02 11:34] noci2012 commented on #386
thanks for the enlightenment.

[2016-11-02 11:34] #386 closed, assigned to nobody

[2016-11-02 11:35] lipis commented on #386
Awesome! So it looks like it's time to update your browsers.. mostly for security reasons.. and secondly for Wire :D

[2016-11-02 13:02] noci2012 commented on #386
If versions are a requirement, the failure page could tell which versions apply and which test the browser fails (This can be automated..., in a generic version checking routine used both in web frontend as well as webapp frontend).

[2016-11-03 15:28] dietmarw opened #408 "Emojis button in web app and desktop app"
This still seems to be missing.

[2016-11-03 19:11] ghost opened #412 "Foreign avatars in conversation"
Clicking on avatar in conversation gives first avatar I clicked before.

E.g. I click Otto's avatar then click mine and instead of mine I get Otto's.

![untitled](https://cloud.githubusercontent.com/assets/23050090/19981299/d23e08b0-a21a-11e6-9d83-a6e3ce17d9ad.png)

[2016-11-04 07:43] herrmannplatz commented on #412
Thanks. Made already a fix.

[2016-11-04 07:44] herrmannplatz commented on #408
Indeed. 😤 Having a dedicated button is one of the next items on our list.

[2016-11-04 09:44] raphaelrobert commented on #392
Hi @noci2012,

We only use datacenters that are located in the EU. For our service we use AWS servers in western Europe. Emails are also sent out from there and that can be seen in the "Received:" field.
Our website is currently hosted on GAE, but we are in the process of changing that (however it is only a static website that is not part of the product).
In both cases you can verify that on a goo

[2016-11-04 09:44] #392 closed, assigned to raphaelrobert

[2016-11-04 10:15] lipis commented on #392
Just to add one more thing.. our website is hosted on GAE, but even that is not in US.. it is hosted in EU data centers.

[2016-11-04 11:53] dietmarw opened #419 "Feature request: Support IRC "/me" command (just like Skype does)"
This is something that I like to see also in the wire apps.

[2016-11-04 13:44] gregor commented on #101
@Nuruddinjr Ths feature has now made it to production. Restart the app and go to Preferences -> Options to choose to hide sender name and message content in notifications.

[2016-11-04 16:39] noci2012 commented on #392
Hm.. The country of origin code in my spam checker classiyfies it as US origin, might be because of Amazon as the controlling owner of the address spaces.
And Amazon as a US based company and is required to answer to the US laws..., so there is a vacuum there, it just depends on who pulls strings more effectively.
Without any real consecuences for Amazon if doing it wrong on the EU side.  in this

[2016-11-04 16:46] noci2012 commented on #393
Part of this might be that there is no allowance for spam filter solutions.
I tried a few resets because the sources varies a greylisting using server somwhere in between you sender & my receiver can cause mail the be held for between 30-45 minutes. (That is if after retries are done according to RFC's, if retires occur before the established minima the new countdown for the allowance timer will s

[2016-11-04 17:58] Nuruddinjr commented on #101
Great! Thank you!

[2016-11-04 18:11] dietmarw opened #428 "Feature request: Display "last seen online" besides the contact name"
Telegram has this and it would be a nice addition.

[2016-11-05 06:39] notNSANE commented on #332
Not sure if webms are supported, but those would be awesome too.

[2016-11-07 13:17] ffflorian commented on #428
I am against this, since it's completely against privacy standards. Neither Signal nor Threema have that.

Also see #46 and #8.

[2016-11-07 14:02] lipis commented on #428
Yes, we don't show presence so this is also not part of our current timeline (if at all).

[2016-11-07 14:02] #428 closed, assigned to nobody

[2016-11-09 09:36] DragonzMaster opened #437 "Can't log in to wire webapp"
I've created an account using desktop-app and it works fine but when I tried to log in at app.wire.com it didn't work and showed "Problems with the connection. Please try again."

[2016-11-09 16:21] taylorzane commented on #229
@bennyn Do you have an update on this? I've been considering Wire for our org, and I'd really love to integrate our tools with Wire.

Thanks!

[2016-11-09 16:23] lipis commented on #229
Stay tuned.. it's all we can say :D

[2016-11-09 16:27] taylorzane commented on #229
👍 Thanks for the swift response! I'll be sitting on the edge of my seat.

[2016-11-10 15:07] ghost opened #444 "Avatar image is broken"
Looks like avatar image became broken in desktop version since yesterday. All of them just disappeared (mine, others), while mobile works fine. No browser/addons updates so far. Tried to upload new — no result.

[2016-11-11 10:34] ghost opened #446 "Add Two-factor authentication"
Hey,
it would be nice, if all Wire Clients Support a Two-factor authentication for the first login (or for the WebApp every login).
There are multiple options possible:
- Send a SMS with a One-Time-PIN
- Use a One-Time-Password Protocol like TOTP
- Support FIDO U2F Hardware Device (Only Chrome Browser)
- Authorized with another registered device (Like iTunes. Send a Push Message to the other devic

[2016-11-14 09:46] shvchk opened #447 "Feature request: Show timestamps for calls"
Now timestamps are shown for messages and pings, but not calls (see attached image). It would be nice to have them, maybe like `start — end`, e.g. `14:39 — 14:56`.

![wire-no-call-timestamp](https://cloud.githubusercontent.com/assets/872945/20259855/8f1ce304-aa70-11e6-9074-6851f5606333.png)

[2016-11-14 10:41] ghost opened #449 "Feature request → Unique keys"
I'd like to know if it is possible to see:

1. Unique keys (fingerprints) on every message (in pop-up menu for example).
2. Give names to my fingerprints so other part can easily distinguish message origin. It is not convenient to have, let's say, two fingerprints named "DESKTOP".

Thanks a lot for Wire!

[2016-11-14 10:47] ghost commented on #444
Seems like time to time it works. Server side performance issues?

[2016-11-14 10:58] ghost opened #450 "Feature request → Escape UTF-8 symbols conversion"
Is it possible to make automatic conversion of escaped sequences in URL?

E.g. convert https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0 to https://ru.wikipedia.org/wiki/Заглавная_страница

Thanks in advance.

[2016-11-14 11:05] ghost opened #451 "Feature request → URL preview in desktop client"
Make URL previews in dekstop client just like in messages from mobile, not just links.

[2016-11-14 11:06] noci2012 commented on #393
created a new account for remedy.

[2016-11-14 11:22] herrmannplatz commented on #451
Atm all clients rely on open graph data. Mobile clients will show at least the title of the page if no data is present. We will align with other clients once we have time for it.

[2016-11-14 11:24] herrmannplatz commented on #450
👍🏻

[2016-11-14 11:26] herrmannplatz commented on #449
Will bring this up for discussion. Thank you for participating! :)

[2016-11-14 11:28] herrmannplatz commented on #444
Does it happen for all images or only specific?

[2016-11-14 11:29] herrmannplatz commented on #437
can you check the console?

[2016-11-14 11:31] ghost commented on #444
To all images. That is why I assumed that it could be performance problem. Generally speaking image performance is not particularly good. Sometimes it takes second for images to appear.

[2016-11-14 11:31] herrmannplatz commented on #412
Should be fixed. Feel free to reopen if not.

[2016-11-14 11:32] #412 closed, assigned to nobody

[2016-11-14 11:33] ghost commented on #412
Yep, I noticed that already in browser notification (good thing to inform about changes, BTW)! Thanks a lot!

[2016-11-14 11:34] herrmannplatz commented on #449
#313

[2016-11-15 08:04] ghost opened #454 "Cannot log in"
Webapp kicked me off and I cannot log in. Tried to reset it couple times but still unable to log in with new password — "Problems with the connection. Please try again."

[2016-11-15 10:34] roberdorfer opened #455 "[Suggestion] Add voice message functionality (like in the android and ios apps)"
Currently it's not possible to send voice messages, would be great if support for it could be added.

[2016-11-15 16:45] ghost commented on #454
It was my fault with sessionstore file in Firefox profile. Removing it helped.

[2016-11-15 19:59] DragonzMaster commented on #437
I checked it again today on firefox and it works.
Thanks anyway.

[2016-11-15 19:59] #437 closed, assigned to nobody

[2016-11-15 20:30] lipis commented on #454
Then we can just close this one I guess :)

[2016-11-15 20:30] #454 closed, assigned to nobody

[2016-11-15 20:31] ghost commented on #454
Yep, I'm sorry for hasty report :)

[2016-11-17 14:15] notNSANE commented on #446
SMS have been proven insecure. TOTP or similar would be the way to go nowadays.

[2016-11-19 10:00] ghost opened #473 "Chat history synchronization"
I'm sure I don't get something in concepts of Wire, but anyway. Why I cannot get chat history synchronized on newly added device even if it was marked as verified in settings?

Thanks in advance.

[2016-11-19 11:59] tomicakorac commented on #26
For anyone getting the same issue, I just learned that `npm install --no-bin-links` will in fact allow you to install packages on a FAT32 file system. I still haven't tested this with wire, but will come back with results when I do.

[2016-11-21 10:40] ffflorian commented on #473
**Short answer**: For privacy and encryption reasons. This doesn't have anything to do with marking another device as verified and is intended behaviour.

**Longer answer**: All sent messages are encrypted for all your current devices. When you add a new device, your old messages are not encrypted for your new device and can't be re-encrypted because your new device never saw those messages unencr

[2016-11-21 10:54] ffflorian commented on #450
Actually I wouldn't consider this a bug since this is the normal behaviour when you copy a link with UTF-8 chars from a browser address bar and paste it somewhere. I'm not aware of any app which converts this on paste and wouldn't implement it because sometimes you want to write something like `%80`.

But it would be a nice improvement to convert these URLs after sending them.

[2016-11-21 11:55] herrmannplatz commented on #450
Sry, i think i misunderstood the question. As ffffflorian pointed it out there are cases where this would actually break the url.

[2016-11-21 12:04] ghost commented on #450
As far as I understand this conversion is fully reversible and will not break anything. Browsers do this conversion for quite a long time already.

[2016-11-21 12:06] ghost commented on #473
OK, clear. Thanks for comments!

[2016-11-21 15:40] ffflorian commented on #450
OK I think I didn't make myself completely clear.

Yes, in the case of a URL the conversion is useful and won't be a problem. But what I meant is, that I would convert `%80` only to `р` (cyrillic letter `r`) when it's actually a URL and only *after* we sent the message containing the URL. Then the URL preview is added anyway and the UTF-8 codes could be converted, too.

Because if we convert the U

[2016-11-21 15:57] ghost commented on #450
**First:** `var x = 10%80;` should never be treated with URL processing code since it has got no scheme identifier.
**Second:** Browsers already do this conversion and few people are confused. I'd say that I more confused to have escaped URL in buffer, because I copy "normal" URL in browser and then I get escaped sequences in Wire.

[2016-11-23 12:03] GabMar commented on #236
+1 :)

[2016-11-24 14:20] ffflorian commented on #473
Alright, could you close this issue then? Thanks!

[2016-11-24 14:23] lipis commented on #473
Thanks @ffflorian for clarifying it. If you have more questions/issues @timur-davletshin don't hesitate to open another issue :)

[2016-11-24 14:23] #473 closed, assigned to nobody

[2016-11-24 18:30] alekratz opened #494 "Backslashes entered by users are handled like escapes"
Here's an example of my input to the webapp:
![](http://i.imgur.com/4uRtllz.png)

and how it shows up in the chat window:
![](http://i.imgur.com/5LjiRnk.png)

I am using Chromium 54.0.2840.100 (64-bit) on Linux.

[2016-11-25 20:31] ghost opened #506 "No link preview in Wire Web client"
When sending a link from Wire web client, no link preview is generated. Links sent via macOS or iOS client get a link preview (also on Wire web client).

[2016-11-26 00:04] lipis commented on #506
As this is done client side.. this impossible to achieve via JS without an extension.

[2016-11-26 00:04] #506 closed, assigned to nobody

[2016-11-26 15:14] ghost commented on #506
Hm, Telegram’s web client can generate link previews.

On 26 November 2016 at 01:04:52, Lipis (notifications@github.com) wrote:

As this is done client side.. this impossible to achieve via JS without an
extension.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/wireapp/wire-webapp/issues/506#issuecomment-263034189>,
or

[2016-11-27 12:38] IpsmLorem commented on #208
Just tried this:

* User B as a web app
* User A validates B web app
* User B log off and destroy is local data
* User B log in and a new session (key etc.) is made
* User A send a message on iOS and Wire displays "User B begin to use a new device. Are you sure you still want to send your message ? [Display device / Send anyway]"
* User A does NOT click on anything
* User B as already received the

[2016-11-28 19:31] 0ki commented on #208
If what @IpsmLorem says it's true, this is a serious security bug and (s)he should be awarded a bounty. ;)

[2016-11-28 20:22] IpsmLorem commented on #208
I still think that the most rock solid way to go is to have an option to force sending only to validated devices and no others.

[2016-11-29 08:49] IpsmLorem opened #510 "Persitant storage only for non temporary devices"
Since there is two type of user devices (temporary or not), it would be interesting to have a different online storage policy for media/messages.
When someone has only non temporary devices (e.g. one iOS and one "desktop"), there is no need to store their delivered medias/messages online. They must be localy read from the device.

[2016-11-29 14:03] 0ki commented on #510
Could you give an example of a "temporary device"?

[2016-11-29 14:18] IpsmLorem commented on #510
Just open a session on a web browser. It will be classed as a temporary one. If I understand correctly, each user can have only one temporary device associated with their account.

[2016-11-29 15:03] gregor commented on #510
If you log in from a web browser without enabling the remember me checkbox, you will register a temporary client. @IpsmLorem is correct that a user account is limited to a single temporary device. The user data will be deleted from the local database by signing out. If we do not persist it, even a page refresh would result in history loss.

[2016-11-29 15:57] IpsmLorem commented on #510
When talking about persistence I was refering local (indexDB ?) storage vs online storage.
Trying to clear things up:

A user having:
* a long term iOS device: datas are stored on iOS FS
* a long term "Desktop" (ATOM) device: datas are stored on OS FS (indexed DB ?)
* a long term web app device: datas are stored on indexed DB
* a temporary device: datas are stored (for how long ?)  into Wire cloud

[2016-11-29 16:19] ghost commented on #494
\| is shown like |

[2016-11-29 16:27] marcoconti83 commented on #208
@IpsmLorem thanks for the report, we will try to reproduce the behavior you described to investigate the issue.

[2016-11-29 16:33] marcoconti83 commented on #208
@IpsmLorem actually the behavior you described seems to be an issue with iOS. I would close this ticket (as this is on the webapp repository) and create a copy on the iOS repository.

[2016-11-29 16:33] #208 closed, assigned to helenakos

[2016-11-29 19:16] gregor commented on #510
We can only decrypt each message once. We do not store unencrypted messages on our servers. Anything that is not persisted locally in the IndexedDB is lost after a page refresh. Or currently already when switching conversations.

[2016-11-30 11:00] ghost opened #519 "Feature request: Wire.me hyperlink"
Hyperlink for web pages which would start a chat with a specific user or group in Wire messenger.

[2016-12-01 13:03] mohammadrafigh commented on #178
@marfous did you update your FF to a recent version? (maybe it's just a bug in FF 47 notifications)

[2016-12-02 10:47] mohammadrafigh commented on #182
I want to go for this feature. but I have some questions:

anyone else is working on it? and is there a restriction in the backend apis to implement this (since it's close source yet I ask this)?

the first thing comes into my mind is just copy the replying message and format it using markdown's Blockquote syntax. but I assume I need to include the message id inside it too, so when user clicks on

[2016-12-02 13:45] ffflorian commented on #494
@timur-davletshin: You mean `\|` is shown like `|`, right?

[2016-12-02 13:46] ghost commented on #494
Yes, exactly

[2016-12-02 16:13] herrmannplatz commented on #451
Tried to address this in #525

[2016-12-03 15:53] marfous commented on #178
Looks to be working well now. Thanks for reminding it. :)

[2016-12-03 15:53] #178 closed, assigned to nobody

[2016-12-05 20:07] ghost opened #529 "Soundcloud links validation"
https://soundcloud.com/charts/top — is not treated as valid link. Wire tries to generate composition preview.

[2016-12-05 20:26] ghost opened #530 "HTML tags filtering"
It looks like HTML tag are directly allowed in conversations which I consider a bug. What if I try <script>?

Screenshot with some statistics pasted from HTML file:

![untitled](https://cloud.githubusercontent.com/assets/23050090/20901123/87119016-bb4a-11e6-9e82-e87dd39622fe.png)

[2016-12-05 21:49] liocalset commented on #83
Hi,

A dark theme would be a welcomed addition to the Web App. For me, it's easier on the eyes, especially at night. Thanks!

[2016-12-08 21:31] max-baz commented on #218
@gregor, @lipis: I want to add another reason to reconsider this. Given that desktop apps in reality just load this same webapp, you have to consider how they are used when taking such decisions.

I can see that right now the minimal supported width is around 760px, below which the layout starts to break. However people on desktop rarely spend their time _exclusively_ in the chatting apps, instead

[2016-12-08 21:58] max-baz opened #541 "Feature request: Emoji autocomplete"
I'd like to suggest to implement emoji autocomplete, using [the following cheat sheet](http://www.webpagefx.com/tools/emoji-cheat-sheet/).

![70370296-d9ff-11e4-80ac-34fc67e16af8](https://cloud.githubusercontent.com/assets/1177900/21028944/b4fb63b8-bd97-11e6-8262-ba7abb68d904.png)

If you ever used Slack, you would probably know how much this is useful. Implement with care, this has to be unobtrus

[2016-12-09 11:19] bennycode commented on #530
@timur-davletshin Can you please provide the input that you sent to get the result which is shown in your screenshot?

[2016-12-09 20:35] max-baz commented on #355
@timur-davletshin the app is respecting [the markdown syntax](https://daringfireball.net/projects/markdown/syntax#em), which I think is actually pretty cool, as it is standard and it allows sharing markdown documents _just by copy-pasting the text_ in the conversations, and voilà, it is nicely formatted.

See the list of formatting commands:

[code]

Honestly I would think twice before killing the

[2016-12-09 21:28] max-baz opened #549 "Unable to scroll history in conversations without using a mouse (i.e. with PageUp/PageDown)"
Open an Otto the Bot chat.
Exchange a few messages so that the history does not fit one screen and requires scrolling.
Try to scroll the history without using a mouse (natural thought: PageUp / PageDown).

Nothing happens, the page does not scroll.

----

I had a quick look at the code, it doesn't seem to be a problem with javascript - the keydown events are bubbled and not cancelled. I believe th

[2016-12-12 10:10] helenakos commented on #519
@herrpoerner Thanks for the request, it's something we have planned for the future :)

[2016-12-12 10:45] herrmannplatz commented on #236
In order to make this work we need an intermediate step in the UI to avoid accidently pasting to a conversation. Had a small discussion with our design how to implement this. Will link the PR once we have sth to show.

[2016-12-13 14:52] IpsmLorem commented on #510
What about media ?

[2016-12-13 17:01] liocalset opened #569 "Ability to Delete, Not Block Contact"
Hi,

Currently there is no way to delete a contact, and the user must block the contact to remove them off their contact list. It would be nice if there were the ability to remove a contact from your contact list without having to block them. Maybe a user has stopped using Wire for a period of time, and you want to clean up your contact list yet not block them. If they come back online, they can r

[2016-12-14 10:40] helenakos commented on #569
@liocalset Thanks for the request, this is something we should plan to implement in the future.

[2016-12-14 18:47] max-baz opened #575 "Feature request: forward messages"
Similarly to the ability to reply on a message #182 it is often useful to forward a message from one conversation to another one (or to the same one).

[2016-12-14 19:04] max-baz opened #576 "Feature request: ability to have a conversation with myself"
Today it is impossible to add myself as a contact, though I don't see any technical limitations that prevent us from having this feature.

The reasons for wishing to have a conversation with my own account are:
- Sharing private information between my own devices (especially nice because of end-to-end encryption).
- Quickly adding a note/todo item for myself (especially useful together with the ab

[2016-12-14 19:34] gregor commented on #576
Definitely a valid use case. Not sure if and when we will ever implement it though. As a workaround you can create a group with two other people and then remove both of them. You will end up with a conversation like you requested.

[2016-12-14 19:37] max-baz commented on #576
Thanks for the workaround!

[2016-12-16 10:01] ghost opened #580 "Something went wrong please try again"
I tried to register new user via my localhost website, it returns me "Something went wrong, please try again"
What's wrong with that, supposed to be like that?

[2016-12-16 11:15] gregor commented on #580
Yes, due to CORS it is currently not possible to make certain requests from domains which we have not whitelisted on our backend. You will not be able to register from localhost and you will not be able to refresh your access token from localhost for example.

[2016-12-16 11:25] herrmannplatz commented on #580
#294

[2016-12-16 11:25] herrmannplatz commented on #580
Will close this for now.

[2016-12-16 11:25] #580 closed, assigned to nobody

[2016-12-16 16:53] max-baz commented on #250
I belive this is not a bug. The [markdown syntax](https://daringfireball.net/projects/markdown/syntax#em) defines text wrapped in `_` as _italic_, and so the proper way is either to escape `_` with a backslash ( `<\_< >\_>` ), or wrap the entire thing with back quotes ( \`<\_< >\_>\` ).

I think it's rather an issue in Android that the app does not render markdown.

[2016-12-16 17:09] max-baz opened #582 "Feature request: show help for styling the text with markdown syntax"
People get confused with markdown syntax (see #250 and #355), but it would be a pity to lose such a nice feature because of it.

I suggest to implement a hint of some sort (at least in the web / desktop apps), that would explain how to style the messages. Perhaps even a most common subset of features, not the full list.

My suggestion of a hint message:

* Use \*stars\* or \_underscores\_ to style

[2016-12-16 20:05] max-baz opened #584 "There is no alert that a conversation became not verified"
According to the support page a user should be alerted when a non-verified device joins the conversation:

However this does not happen. Repro steps:

- You (user A) join a conversation with user B
- User A verified all current devices of user B
- User B opens an "incognito browser" and logs in, therefore adds another device
- User B is sending a message to user A
- User A is not notified that thi

[2016-12-16 21:58] max-baz opened #585 "Feature request: Implement a "Seen" marker in addition to "Sent" and "Delivered""
I would like to know which of my messages were seen by a receiving party.

I can see in the code that this information is already available in [StatusType.coffee](https://github.com/wireapp/wire-webapp/blob/dev/app/script/message/StatusType.coffee), and it only has to be consumed by the UI similarly to #281.

My questions to you are:
- Was it a deliberate decision not to show this information, or

[2016-12-16 23:13] max-baz opened #586 "Feature request: option to show sender's name in notifications, but not the message itself"
Having the ability to hide all information about the incoming message in a notification is good, but there are cases when a user would like to see who is the sender of the message, while not exposing the message itself.

To see the sender's name allows a user to have less distractions when they are busy with something else, a user now is able to make assumptions whether the message is important an

[2016-12-17 13:23] gregor commented on #585
Not adding a seen/read message feature is mostly a deliberate decision at this time. Sharing this information on the recipients state of the message is leaking privacy relevant information. This could only be done in an opt-in manner in order to align with what Wire stands for.

We have been thinking about it but there is just no way to do that currently and provide a user experience that ads enou

[2016-12-17 13:27] gregor commented on #586
I thought about this when implementing the feature a little while ago. In the end together with our design team we decided against it to simplify implementation and testing effort in order to release quickly, as this was some sort of a side project. I will talk to design on Monday if we want to enable the more granular approach you are offering to implement or whether it ads too much complexity fr

[2016-12-17 13:29] gregor commented on #584
Our implementation on the web unfortunately lacks a few components of the mobile clients. We definitely have to work on this. Thanks for bringing it up as verification is a key part of trust in encrypted conversations.

[2016-12-17 13:36] gregor commented on #586
Somewhat related when looking at this again: https://github.com/wireapp/wire-desktop/issues/234

[2016-12-17 14:00] max-baz commented on #585
I understand, ok, thanks!

[2016-12-18 02:36] max-baz commented on #585
Out of curiosity I had a closer look at this anyway (thought I might enable this feature only for myself :stuck_out_tongue_winking_eye:), but my assumption that this is a purely UI change proved to be wrong :blush:.

Which is good from the privacy perspective, but it means that a pull request even hypothetically cannot be provided without having access to the server code.

[2016-12-19 13:00] gregor commented on #585
You will not need to touch server components for a feature like this. Just make use of the [addtional flag our cross-client protobuf  already provides](https://github.com/wireapp/generic-message-proto/blob/master/proto/messages.proto#L112) and send a correct message to the correct recipients. Just check the `z.conversation.ConversationRepository.send_confirmation`. A message like this you will onl

[2016-12-19 16:32] max-baz commented on #585
I see, so as I understood, if I hypothetically speaking wanted to add "delivered" markers for me and my friends, I would have needed not only to change my client to receive "SEEN" marker and draw it in the UI, but also to build custom clients for all my friends that would _send_ this marker along with the messages to my client. Server component is not touched, but the senders' clients have to be a

[2016-12-21 12:48] gregor commented on #586
@maximbaz I talked to our design team and we will be more than happy to accept a PR for this. We are looking forward to your contribution and I will help out wherever I can. Please keep in mind that merging and testing might be delayed due to the season though.

[2016-12-21 12:51] max-baz commented on #586
Amazing news!

[2016-12-22 13:56] Sopsy commented on #585
I'd say no thanks to this. If you are going to add it anyways, please at least make it possible to opt-out from it.

[2016-12-22 21:03] max-baz commented on #584
By the way, regarding the image with the shield icon, I've just noticed that on app.wire.com the two shield icons are visible, while on the `dev` and `prod` branches there is only one icon.

A hotfix, that was forgotten to be merged back? :wink:

[2016-12-23 00:20] max-baz commented on #541
@herrmannplatz @gregor just wondering if you guys are aiming to implement your own control to show emojis, or you would consider integrating third-party libraries as well?

Just a quick search discovered a few options (without considering licensing or requirements/dependencies, but only looking if something like that exists at all):

https://github.com/missive/emoji-mart
https://github.com/mervick

[2016-12-23 07:55] Caspy7 opened #599 "Inconsistent display of some characters between web interface and app"
If I put  ̆¯\\\_(ツ)\_/¯̆  in the web app it shows up as  ̆¯_(ツ)\_/¯̆ for me. I realized it's wiki markup so I inputted  ̆¯\\\\\\\_(ツ)_/¯̆ and it displayed correctly. Then my friend, on her mobile app, says that the first one looked fine but the second one had three arms.
*sigh*
So for me I'm seeing something differently than she's seeing because the web app version seems to be interpreting wikimar

[2016-12-23 08:49] max-baz commented on #599
Link: https://github.com/wireapp/wire-android/issues/414 and https://github.com/wireapp/wire-webapp/issues/494 and https://github.com/wireapp/wire-webapp/issues/582

[2016-12-23 11:40] lipis commented on #599
I will close this.. @Caspy7 please upvote the ones that are posted by @maximbaz  :)

[2016-12-23 11:40] #599 closed, assigned to nobody

[2016-12-23 15:17] gregor commented on #541
To manifest my answer here as well. This is something that is high on our wish list. Generally we do consider third-party libraries as well. But mostly for under the hood stuff. As this is a very user centric and visible part of the UI my guess at this time is that we want to integrate a custom solution. I will talk to design when people are back at the office after the Christmas holiday early nex

[2016-12-24 14:28] max-baz opened #600 "Bug: messages are displayed in a wrong order when client time is not exact"
I've discovered an interesting case, where messages appeared in different order on different devices.
Have a look what two users see on different clients. The number in a message denotes the order of when it was sent:

![image](https://cloud.githubusercontent.com/assets/1177900/21467416/dfcd8c4a-c9ec-11e6-9e1c-e9b803b78226.png)

Further investigations showed that the time on Windows box was ~20 se

[2016-12-24 15:37] lipis commented on #600
That's a known issue when the system time is wrong. Fortunately today most of the devices have the correct time. But it's an interesting idea maybe to check in the beginning if the time is correct and just inform the user that their time is most likely wrong and some messages might not be in order.

[2016-12-24 15:39] lipis commented on #576
We used to have that actually in the early days of Wire :)

[2016-12-24 15:47] max-baz commented on #576
Just curious, what was the reason to remove this functionality? :)

Honestly the workaround works flawlessly, a bit cumbersome to configure, but you need to do it once.

[2016-12-24 16:09] lipis commented on #576
If I remember correctly it was a bit confusing for newcomers.. opening the app for the first time and having only one conversation with yourself there.

[2016-12-25 15:49] max-baz commented on #450
It is annoying, but it is a browser issue. Copy URL and paste it _anywhere_, and you will see these `%` signs.

A quick search found [one bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=68718) for Chromium, but it seems to be closed as Won't Fix. I personally think if you want this issue to be _properly_ fixed, raise this issue again on the browser's issue tracker.

In meanwhile

[2016-12-27 09:26] gregor commented on #600
@maxin Thanks for the detailed issue report. Just as @lipis stated this is currently a limitation of the webapp. Due to some decision we took with the database stucture and primary keys, we currently cannot and do not update timestamps of outgoing messages. All incoming messages are tagged with a server timestamp. We do get that timestamp from the server when sending a message but as we have previ

[2016-12-27 11:17] max-baz commented on #586
Closing per #595.

[2016-12-27 11:17] #586 closed, assigned to nobody

[2017-01-02 09:12] herrmannplatz commented on #584
@maximbaz there was an issue when you only had one device, the conversation wouldnt be marked as verfified. that should be fixed on dev and should land on prod with the next release.

[2017-01-03 14:25] Kasmetski opened #606 "7 days duration for the "Timed message" (or at least 3-5 days...)"
What do you think about 7 days "Timed message"? For now the longest duration is 1 day.
When people are using this option for all of their messages and contacts it's going to be useful to have 7 days option too (or at least 3 - 5 days...). If someone couldn't see the message until the 24 hours he could see it in the next days.

[2017-01-04 09:36] gregor commented on #606
The lifespan of a timed messages does not indicate until when a recipient can read a message but for how long. The timer will only start once it is rendered into the view on one of his devices. Users can definitely read a message the next day even if it is set to 30s only.

[2017-01-04 13:21] Kasmetski commented on #606
In this case there is no need of 7 days timer, so you can close the issue.
Thank you for the explanation.

[2017-01-04 13:21] #606 closed, assigned to nobody

[2017-01-04 14:02] max-baz commented on #584
I think you refer to a different issue. Have a look at screenshot below, this is what I see today on `dev` branch. Two devices, both verified, and the icon is missing. Open `app.wire.com`, and the icon is present.

![image](https://cloud.githubusercontent.com/assets/1177900/21644662/d0cb5592-d28e-11e6-8dce-4b9e8ead6d78.png)

[2017-01-04 15:03] herrmannplatz commented on #584
In order to verify a conversation you need to verify all the participating clients (including your own client). Keep in mind that the verification is not synced across clients (see #248). So pls check your devices in the preferences. Also keep in mind app.wire.com and your local dev branch are two different clients.

[2017-01-04 15:09] herrmannplatz commented on #510
All the assets are encrypted with a symmetric key and stored on our backend. This key is then send as a part of a regular encrypted message. see https://github.com/wireapp/generic-message-proto/blob/master/proto/messages.proto#L189

[2017-01-04 15:19] max-baz commented on #584
I know that :) On the screenshot above you see that all two devices are verified, and the icon to the right is visible. When the icon to the right is visible, the icon to the left should also be visible.

That is also clear that app.wire.com is not a `dev` branch, but I hoped that it follows the `prod` branch :)
I mentioned that earlier and I just double checked, the behavior on `prod` branch is e

[2017-01-04 15:33] herrmannplatz commented on #584
Ok ok :)

Can you pls check again that you have verified your own devices in the preferences (preferences > devices)? The shield in the popover only indicates that this user with all her/his devices is verified.

[2017-01-04 15:39] max-baz commented on #584
Oh wait, now I get what you are saying! So the icon on the right means "I verified all this user's devices, so nobody is eavesdropping on _their_ side", but icon on the left means "I verified all their and mine devices, so nobody is eavesdropping on _any_ side"?

Yes, that was it! I had one of my devices not confirmed, just like you said. Now that I know this, it actually makes sense! :smile:

[2017-01-04 15:43] max-baz commented on #584
Then this issue is only about "notifying" that a conversation has suddenly became not verified as mentioned in the docs. I was confused that two icons have different meaning but now I see the point of it, so it is not an issue after all. Sorry about that :)

[2017-01-04 15:53] herrmannplatz commented on #584
No problem. Yes indeed thats still an issue.

[2017-01-04 18:44] ghost commented on #446
I would say, try to authenticate new logins using existing devices with a push notification asking for confirmation and use email/sms verification as a backup (not an ideal solution though). This way the user is alerted when someone has their password but is also able to get into their account without any logged in devices.

Off-topic: we should want to use SRP for password authentication, this en

[2017-01-05 10:15] raphaelrobert commented on #446
Thanks for the suggestions, two factor authentication and PAKE (SRP or similar) are on the list!

[2017-01-05 11:28] fortran77 opened #608 "Request to document the security of https://app.wire.com/"
It appears to me (without having pored through the source code in detail) that when a user connects to  `https://app.wire.com/`, encryption is not really end-to-end, as encryption apparently takes place on the  app.wire.com server and not in the user's own web client. (Other than the normal https encryption which doesn't make it end-to-end.)

I looked at the pdf documents on the website (“Wire Sec

[2017-01-05 12:36] gregor commented on #608
Messages are definitely encrypted locally in your browser with no way for our backend or anyone other then the intended receiving client being able to decrypt the content of that message.

[2017-01-05 12:55] raphaelrobert commented on #608
On https://wire.com/privacy we say that "Text, voice, video and media on Wire are always end-to-end encrypted 1:1 and in groups, so all your conversations are secure and private. Conversations are available on multiple devices and platforms without weakening security."

We thought that this implied that the web app was not different.
It uses https://github.com/wireapp/proteus.js to do the end-to-e

[2017-01-06 00:57] fortran77 commented on #608
Thank-you for setting me straight. I have never been so happy to have been mistaken!

Regarding the cited statement on https://wire.com/privacy, it does imply end-to-end encryption in the web app too, provided that the user's web browser, and not the web server itself, is the “end” in "end-to-end”. There's some room for doubt here. It would be better to mention the web app's security too in the wh

[2017-01-07 10:19] IpsmLorem commented on #510
When only devices with local sotrage capabilities are at stake, why keeping assets online ?

[2017-01-07 14:51] roberdorfer opened #612 "Huge issues with wire on multiple clients (since today)"
Is there something wrong with the server? I've had a lot of problems today.

- Messages on the desktop client are not being sent (appear greyed out)
- Messages on the android client are stuck in "sending"
- Play button for voice messages on the desktop client is missing
- Images sent from ios don't show up on the android client
- Images that were sent don't show up on the desktop client or only sh

[2017-01-07 15:54] max-baz commented on #612
I confirm. By the way, it would be nice to have some analog of https://status.slack.com/ for wire.

[2017-01-09 01:39] someoneEsle commented on #585
I'd say yes to this feature, implemented in an opt-in fashion. As for the users "never turning it on" because they don't know they have such option, I see two solutions:
- (not a fan of this one) use one of those ad-looking messages within the app (phone clients) to advertise the new feature;
- (more preferably) add a small "NEW" red label to the settings so as to guide the users to discover the n

[2017-01-09 10:30] helenakos commented on #612
@rbieb Hey, thanks for the list. We're aware of the issues and are investigating.

Can you tell me what do you see when you try to login?

[2017-01-09 10:32] max-baz commented on #612
Can't speak for @rbieb, but for me and my contacts all the issues were gone around midnight on that same day.

[2017-01-09 10:36] helenakos commented on #612
@maximbaz Yes, we had some issues that day. Most are resolved.

[2017-01-09 13:12] ffflorian commented on #608
@fortran77

Actually, there isn't (IMO at least). By [definition](https://en.wikipedia.org/wiki/End-to-end_encryption), E2EE is a system of communication *where only the communicating users can read the messages*.
So when Wire is using the term "End-to-end encryption" in their Security Whitepaper, it means they actually established a protocol+system which works in the intended way. Everything else

[2017-01-09 13:19] ffflorian commented on #519
@helenakos

If it's about the domain you could add the feature e.g. in `https://wire.com/u/<username>` , with the same functionality which starts a bot chat.

[2017-01-10 10:17] fortran77 opened #614 "Password manager incompatibility & clipboard risk"
The web app login page at https://app.wire.com/auth/#login appears to be incompatible with the Lastpass password manager used as a Google Chrome extension (even when I use the Lastpass feature that lets me manually initialize all possible password-related form fields). The email field gets filled in but the password field remains empty.

A minor consequence of this is the slight inconvenience of u

[2017-01-11 09:46] ffflorian commented on #614
@fortran77

I am against this, because I don't want any web app to just clear my clipboard. The password manager is responsible for that.

I just tried autofilling the login page with [KeePass2](http://keepass.info/) + [chromeIPass](https://chrome.google.com/webstore/detail/chromeipass/ompiailgknfdndiefoaoiligalphfdae) + Chromium. Works as intended.
Did you try the [trouble guide](https://lastpass

[2017-01-11 09:51] ffflorian commented on #576
@lipis

Understandable. I also don't think my own name should be in the conversation list from the beginning on, but it would be good if I'd be able to find myself by searching my username - and then start the conversation.

[2017-01-11 09:56] ffflorian commented on #529
Additionally, SoundCloud shortlinks (e.g. http://snd.sc/1cvgIjv) are not treated as valid SoundCloud links.

[2017-01-11 10:01] ffflorian commented on #614
Alright, after quickly creating a LastPass account, I figured it out. in [AuthViewModel.coffee#L1334](https://github.com/wireapp/wire-webapp/blob/prod/app/script/view_model/AuthViewModel.coffee#L1334) there is a fix to disable Chrome's auto form fill. This causes LastPass to ignore the password field.

As a temporary workaround you can right-click on the password field, select Auto-Fill and then c

[2017-01-11 23:58] fortran77 commented on #614
So it looks like this is fixable within the Wire web app? That's great.

The only useful part of the Lastpass trouble guide is the suggestion to use the Save All Entered Data feature, which I did try, hence my comment “even when I use the Lastpass feature that lets me manually initialize all possible password-related form fields”.

Regarding the suggestion to right-click, the sequence I see is rig

[2017-01-12 08:56] Kasmetski opened #620 "Can't see my messages from the other devices"
Not sure if this is a bug, or I suggest a future request, but here is the problem..

I'm using latest versions of Wire for Android and Linux.
I have verified my devices.. the problem is when I write something from my phone, I can't see it in the chat on my computer. Same thing happens from pc to phone.

I would suggest to keep this behavior when the devices are not verified, but when I do, I prefe

[2017-01-13 08:55] fortran77 commented on #614
There is an additional related Lastpass issue in the web app. If I take the click path:

&emsp;Devices => (for any listed device click on right arrow) => REMOVE

I get a small window that asks for my password. Invoking Lastpass (by any of several methods) and asking it to autofill this password field results in the field being filled with my email address, not my password. Once again, I can manual

[2017-01-13 11:57] ffflorian commented on #614
@fortran77
Without further investigation I assume that this is the same issue.

@bennyn
The fix exists since [the initial commit](https://github.com/wireapp/wire-webapp/blame/prod/app/script/view_model/AuthViewModel.coffee#L1334), maybe it's time to discuss it? :slightly_smiling_face:

[2017-01-13 12:41] bennycode commented on #614
@fortran77 &  @ffflorian: We deactivated autofill in our forms because Google Chrome adds a yellow background to fields which can be filled with autocomplete. It was a design decision.

We can evaluate again if this workaround will help: https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/

[2017-01-13 20:45] fortran77 commented on #614
Denying users the ability to autofill a long random password, thus encouraging them to use a short and simple password or, in cases such as mine, creating the risk of a password lurking in the clipboard, seems to me to be excessively severe collateral damage just to prevent a yellow background. Especially because the yellow background actually provides a useful hint to users who have enabled autoc

[2017-01-14 14:19] max-baz commented on #620
@Kasmetski how does that exactly behave, when someone sends a message to you, you see it displayed on both devices, but when you post a reply, your own message is visible only on that one device?

If yes, I wonder if you might hit #600, that is, your devices have different system time, and your outgoing message is displayed in a different place, perhaps being inserted somewhere up in the conversat

[2017-01-14 22:58] max-baz commented on #600
What a coincidence, during one day I stumbled upon 3 issues that all look like a duplicate of this one. I was not searching for them on purpose :)

[2017-01-15 00:44] max-baz opened #626 "Feature request: conversation history backup (import / export)"
Today Wire can only be used when it is acceptable to lose the entire conversation history with all contacts. A single wrong step (could be a user action or even a bug), and the device is not recognized anymore and is registered as a new device, with all the history gone.

The reasons for **not** synchronizing the history are well understood, they are described in #473. However, the pain point is s

[2017-01-15 11:39] Kasmetski commented on #620
`@Kasmetski how does that exactly behave, when someone sends a message to you, you see it displayed on both devices, but when you post a reply, your own message is visible only on that one device?`
-Correct

I've made more tests and this is what I found..
The problem only appear when "Time messages" are checked. If this option is OFF - everything is great and I can see the message on both devices

[2017-01-15 18:56] bennycode commented on #600
It gets time to fix this bug. We will investigate on it in our next "Service Run". ✌️

[2017-01-16 03:42] 0xdade opened #627 "Markdown Images"
Opening a ticket here, just for better tracking. Have mentioned a few things via [twitter](https://twitter.com/0xdade/status/820198012769026048).

## Case 1
[code]

Generates this (incorrect) HTML

[code]

## Case 2
[code]

Generates this (correct) HTML

[code]

&nbsp;

## Proposed Solution
I see two solutions for this:

1. When inserting images via markdown on the web, handle `https://` the same

[2017-01-16 05:34] notNSANE opened #628 "The upload progress circle is too small to be noticeable on desktop devices"
![vu6wc0z](https://cloud.githubusercontent.com/assets/7162375/21971926/2fae42a0-db94-11e6-98cf-ce683caed598.png)

There's not enough contrast between the green and the grey, and it's really small. I have to get my eyes closer to the monitor to actually see the progress.

[2017-01-16 07:24] herrmannplatz commented on #620
@Kasmetski thats correct, timed messages are not send to you own clients. we should make this more clear. Will close this for now.

[2017-01-16 07:24] #620 closed, assigned to nobody

[2017-01-16 15:26] helenakos commented on #628
@notnsane Thanks, forwarding to our design team.

[2017-01-16 15:35] lipis commented on #626
What about the deleted/edited messages..? Ephemeral? The whole idea of the privacy is that when I delete a message I know that is deleted from "everywhere".. while I understand that people can take screenshots, copying etc.. having the export/import built in would raise some other issues.

[2017-01-16 16:02] max-baz commented on #626
I want to export only that what I can see in the app at this moment. If the message was edited, I see it edited in the app, and I want to export it in the edited state as well. If the message is ephemeral or was deleted, I don't see them in the app, so I don't want them to be exported. Simple :)

Like you say, it's exactly like copy-pasting the history, but a nice way of doing it. We can also call

[2017-01-16 16:12] lipis commented on #626
Yes I understand that.. my point wasn't what we are going to do or what to backup.. but more philosophical.. Whenever I'm deleting a message.. I don't want this message to be backed up somewhere on your machine! At least I wouldn't like Wire to provide the tools to keep it.. Similar idea of Snapchat. Of course nobody can stop the screenshot.. but at least the original poster would get a notificati

[2017-01-16 16:32] max-baz commented on #626
Hmm, I see your point... But honestly I don't think someone would use backup functionality to save a compromising message that you had sent, it's much easier to make a screenshot :) Simply because then they have to restore backup, and only then to either copy text or make a screenshot — it's two extra steps comparing to just making a screenshot on the spot.

I'd also question how often people edit

[2017-01-16 18:39] #628 closed, assigned to nobody

[2017-01-16 20:18] lipis commented on #626
I'm just raising the issue. If we all about security/privacy and we have a built in functionality that exports the data in "plain text", it might not be that private anymore :)

[2017-01-17 00:01] #198 closed, assigned to nobody

[2017-01-17 16:28] max-baz opened #640 "Feature request: a message with an image URL should be replaced with the image itself"
I can think of one intuitive way to share images on Wire web / desktop: find an image in the browser, right click > "Copy image URL" > paste in Wire and send.

Today the pasted link remains a link, while I would expect it to be converted to an image automatically (similarly to how there is sometimes a website preview generated for a pasted URL).

If the message consists of something plus image URL

[2017-01-18 11:22] Kasmetski commented on #620
And why is that? Is there a chance to have this like a option in the settings? If I want to share my messages with the other devices, even if they are "time messages"?

[2017-01-21 04:02] fortran77 commented on #640
The default action should be to send a link as a link. This is intuitively more correct, and it does not require the software to distinguish between links to images and links to other things like html pages and binary files.

Users often prefer to send links to public images (and other public documents), and not the images (or other documents) themselves, over low-bandwidth channels.

After insert

[2017-01-21 04:05] 0xdade commented on #640
I think it'd probably be ideal to have the recipient(s) click a link that ends in (.png, .jpg, whatever) and have it loaded inline in the client. That would be a bit of a compromise, where it makes it so you can see images without leaving the client, but not necessarily automatically fetch the image.

[2017-01-21 11:26] gregor commented on #541
@maximbaz It's been a busy start into the new year. Please pardon my slow response. As previously states this is very high on our wishlist. Especially on the personal ones from the devs involved. We have had a discussion within the team and with design. Our UI is a core assset of the overall user experience. While relying on an exisiting control would be convenient, we will require a custom versio

[2017-01-21 16:42] mokiding commented on #308
Why is there no official impelemtation of Docker ?
And is there any user manual on how to setup wire-webapp on brand new digitalocean servers ?

[2017-01-22 14:02] max-baz commented on #640
Actually when [this pull request](https://github.com/wireapp/wire-webapp/pull/570) makes its way to production, a knowledgeable sender will know to use "Copy image" instead of "Copy image URL" in browser when they want to share a picture with someone. I will still be annoyed when someone else sends me a link instead of an image (as I will need to click it, switch to a browser to look at it, switch

[2017-01-23 18:12] max-baz commented on #236
And so it's done 🎉

Playing with it now, looking good @herrmannplatz 👍

[2017-01-23 19:18] ghost opened #673 "No error message on device remove password"
1. Choose Preferences → Devices
2. Click remove any active device
3. Type wrong password

Result: no error message on wrong password

[2017-01-23 19:24] gregor commented on #673
Thank you very much for your report. We are aware of the usability issue created by not idicating an error in this case at all.

[2017-01-24 10:05] ffflorian commented on #614
@fortran77 Fixed in https://github.com/wireapp/wire-webapp/commit/ea873ecebb7866d4709fbd1494b6ef37ddec2333.

[2017-01-24 10:21] #236 closed, assigned to nobody

[2017-01-24 10:22] gregor commented on #334
Closing in favor of #94

[2017-01-24 10:22] #334 closed, assigned to nobody

[2017-01-24 10:25] gregor commented on #367
We have made a number of improvements in this area including adding the download option to the message menu and adding an obvious download button on the detail view. Thereby closing this. Please come back with more feedback if you feel that something is still missing.

[2017-01-24 10:25] #367 closed, assigned to nobody

[2017-01-24 10:26] gregor commented on #45
Closing this as there has not been any activity for months.

[2017-01-24 10:26] #45 closed, assigned to bennycode

[2017-01-24 10:28] gregor commented on #229
We have since started our developer initiative. SDKs are being tested in closed beta. You can find all the information related to this at developer.wire.com.

[2017-01-24 10:28] #229 closed, assigned to nobody

[2017-01-24 11:09] gregor commented on #447
We implemented this change with PR #657 which will be part of our next release. Thereby closing this.

[2017-01-24 11:09] #447 closed, assigned to nobody

[2017-01-24 12:26] #614 closed, assigned to nobody

[2017-01-24 14:03] EgbertW opened #678 "Pictures are shown with wrong orientation"
Pictures sent by an Android Wire client seem to be shown always in landscape orientation assuming an upright position in the web client, disregarding orientation information on the picture itself.

On my iPhone this very same images in the same conversation show up in the correct orientation,.

This doesn't seem to happen with images sent by an iPhone.

[2017-01-24 15:29] EgbertW commented on #612
Not sure if this has influenced me or that it were separate issues, but I sometimes experience similar issues.

It would be great to have better self-diagnosis in the apps so that it actually detects when there are issues and warns the use that Wire is unavailable due to issues on the server, rather than appearing to work but misbehaving. I think it's better to have the app state "Sorry, Wire does

[2017-01-24 16:04] EgbertW commented on #510
What is the storage policy on this? How long is the asset available for download?

I'm assuming the reason it's stored online, encrypted with a symmetric key, is that without this approach, the asset would need to be encrypted and transferred once for each recipient, generating a lot of data usage in group conversations. Is that true?

[2017-01-24 16:06] EgbertW commented on #182
You would need the message ID or something to avoid sending duplicate content and to have the replied to message updated when the original message is edited, as a proper implementation should, IMO.

[2017-01-26 11:00] MakisH opened #685 "Video call Firefox/Linux-to-Firefox/Linux cannot be answered"
I just tested it with a partner and we both confirm this problem:

Doesn't work:
- A video call started from Firefox on Linux cannot be picked up from Firefox on Linux. (we tried it both ways) **No "accept"/"decline" buttons are shown.**

Works:
- The same call can be picked up from Android.
- A video call started from Android can be picked up from Firefox on Linux.

Wire web version: 2017-01-23
F

[2017-01-26 16:58] ffflorian commented on #685
I cannot confirm this - at least on Debian 8 with Firefox 51.0 it works as intended. Have you tried it with Firefox 51.0? And could you provide a screenshot and/or a log?

![screenshot](https://cloud.githubusercontent.com/assets/5497598/22341372/d78f0bee-e3f0-11e6-8835-7356592be117.png)

Wire web version: Version 2017-01-23
Firefox version: 51.0 (64-bit)
Both on Debian 8.

[2017-01-26 17:20] MakisH commented on #685
We just tried again and it worked. But please don't close this yet, it has happened to me again some times, I will try to observe it. Probably it doesn't really depend on which platform calls though.

How can I get a log?

[2017-01-26 17:38] MakisH opened #687 "Firefox/Linux: A video call doesn't end completely for the receiver"
How to reproduce:
1. Both Alice and Bob use Wire 2017-01-23 on Firefox 50.0.1 on Ubuntu 16.04.
2. Alice starts a video call to Bob (it doesn't matter who starts)
3. Bob answers (with video)
4. Bob sees the video of the conversation normally.
5. Alice ends the call.
6. **Problem:** Bob sees the message view again, but:
  6.1. He can't start a new call to Alice, since the buttons for voice and video

[2017-01-26 18:56] liocalset opened #688 "Losing Conversation History upon Login"
Hello,

Frequently in the past, and now every time when logging into the wire web app, I get this notification message:

The only thing is that it's not the first time I've used wire on the device. I thought maybe this was happening only after clearing Firefox's cache, but today I confirmed that all it takes is logging out and back in of wire for the above notification to show up. Upon logging in/

[2017-01-26 19:14] liocalset opened #689 "Images Won't Load"
Hi,

There is a new issue I am experiencing with the wire web app as of one of the recent updates. When I receive or send an image, all that's displayed is a frame that's the same dimensions as the image. The frame displays as a turquoise, beige, or greenish box (when I tested, the color varied between sessions) with three animated dots in the center indicating the image is loading. However, the i

[2017-01-26 23:15] someoneEsle commented on #688
See also #261

[2017-01-27 00:13] liocalset commented on #688
So the user has to tick the _"Remember Me"_ option for the conversation history not to get deleted upon logging out. I this default could be improved, because:

1. The _"Remember Me"_ option is not self-explanatory in what it actually does; it's actually quite obscure. In other words, _"You'll lose your conversation history every time you sign out unless you tick this box when you sign in"_ is wha

[2017-01-27 15:22] gregor commented on #687
@MakisH Thank you for your report which we have reproduced internally.

[2017-01-27 15:28] gregor commented on #685
Can you check if your non working calls on Firefox are related to this issue #687

[2017-01-27 17:03] max-baz commented on #688
@liocalset would it solve the problem if _"Remember me"_ checkbox was enabled by default?

[2017-01-27 17:27] gregor commented on #688
We have an internal ticket tracking usability issues in this area.

Please take a step back and consider that a "normal everyday user" does not exist as such. Wire is used by many different kind of "normal everyday users". These have expectations that can vastly divert from yours. Wire is focused on security foremost. We do not see security and privacy as trade offs to usabilty that require lots o

[2017-01-27 18:01] max-baz commented on #688
Maybe a simple and yet efficient solution would be to rename the label "Remember me" (which nobody understands) to "Forget my history after log out"?

[2017-01-27 19:06] ghost opened #693 "Content button → Hover tip missing"
Content button, which was just added (top-left in conversation), is missing mouse hover tip.

[2017-01-27 19:10] ghost opened #694 "Content button → Soundcloud, YouTube missing"
Content button (just added) is missing YouTube and Soundcloud links, just WWW.

[2017-01-27 20:51] gregor commented on #694
Currently the collection only contains links for which a link preview has been generated on the sender side. This will be changed at some point in the future.

[2017-01-27 20:53] gregor commented on #693
Thanks for the report. The collection icon is indeed missing the expected tooltip.

[2017-01-27 23:51] liocalset commented on #688
"Forget my history after log out" is a bit too long of a string IMO, but something similar to it such as "Incognito mode" I think makes sense.

The web app has a huge untapped market, and I for one am using it a lot more than just for temporary means. I believe it's currently good enough, too, to be used as such. Web apps on the desktop are the future if you look at current trends. All people use

[2017-01-28 10:14] gregor commented on #688
@liocalset Thanks for your insights.

This just makes me wondering on how you come up with the "(most likely small) percentage of Europeans" using Wire? We are a European based company. Our development center is in Berlin, Germany. We have people from more than 20 different countries working on shaping the future of Wire. We are a messenger that heavily emphasizes privacy and security as core valu

[2017-01-28 19:22] MakisH commented on #685
Indeed, it is related to #687!

How to reproduce/what happens (Alice and Bob both have Firefox on Ubuntu):
1. Bob calls Alice (audio or video call, doesn't matter).
2. Alice answers and they talk.
3. Bob ends the conversation.
4. As stated in #687, the buttons to place a call disappear from Alice's page.
5. Bob calls again.
6. This time, no buttons to answer the call are shown in Alice's page.

Fo

[2017-01-28 19:38] MakisH opened #697 "The "decline" button doesn't end the call (Firefox/Linux)"
![wire-declineproblem](https://cloud.githubusercontent.com/assets/4943683/22399271/79e9614c-e599-11e6-9e07-30b801e8b8a5.png)

Scenario:
1. Alice calls Bob (both from Wire Web, Firefox, Ubuntu)
2. Bob is busy, so he presses "Decline" to reject the call.
3. Alice doesn't see that her call was rejected. Bob still hears his other devices (Android) ringing.

(Firefox 50.1.0, Ubuntu 16.04, Wire 2017-01-

[2017-01-28 19:42] MakisH commented on #689
For me, this works normally on Firefox (Firefox 50.1.0, Ubuntu 16.04, same wire version).

**But**, I had the same problem when using Wire via Rambox 0.4.5 (Rambox is an Electron app). It works correctly on Rambox 0.5.3.

[2017-01-28 23:01] liocalset commented on #689
I did some more testing and narrowed down this issue to [Privacy Badger](https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/) 2017.1.26.1. This add-on has to be completely disabled for images to load in the wire web app, even though Privacy Badger isn't blocking any trackers as there are none to block. I also tried setting the option in Privacy Badger: "Disable Privacy Badger for this

[2017-01-29 03:33] fortran77 commented on #688
I've found the current checkboxes slightly confusing, but instead of simply requesting that they be differently pre-checked, let me ask a broader question.

Who should be using Wire and when?

Should everybody be using Wire almost all the time? That would be ideal. It would make mass surveillance much harder. But then conversations should be saved by default in the web app, otherwise it will be ex

[2017-01-29 05:47] Bugsbane commented on #640
Personally I would wish that we saw the image inline, so there was no need to click, wait for the browser to open etc, but that the link was displayed underneath (either in full or a link icon with the word "Link" that opened a browser when clicked), so I could still copy that if I wished. Clicking on the image itself would open it in the default gallery app. A Web browser is a distinctly suboptim

[2017-01-29 10:31] max-baz opened #698 "Feature request: ability to zoom images"
Click on an image - it is opened in full screen, with title and actions Download / Like / Delete.

What I'm missing is the ability to zoom the image in and out, in order to look at some detail.

Suggested triggers:

- Ctrl + mouse scroll
- Pinch zoom gesture

[2017-01-29 17:58] gregor commented on #698
Thank you for your suggestion. That would definitely by a nice addtion. I hope we get to it at some point in the future. Will probably take a while though.

[2017-01-29 18:04] gregor commented on #697
This is actually by design for privacy reasons. Declining a call is a local action to ignore the call. The other side and your other devices will not be notified. We are changing a lot of things in our calling implementation but this will essentially stay the same. Outgoing calls will stop after 30seconds moving forward though. Thereby closing this.

[2017-01-29 18:04] #697 closed, assigned to nobody

[2017-01-29 18:06] gregor commented on #685
Thank you very much for verifying my suspicion. I will thus close this issue and continue to track it in #687.

[2017-01-29 18:06] #685 closed, assigned to nobody

[2017-01-29 18:18] MakisH commented on #697
I understand that there may be a good reason to not notify the other side.

But why should I have my other devices still ringing when I explicitly pressed "decline"? If I am busy, should I go to every device around me and decline the call, so that I stop hearing ringtones? I think this is very unexpected from the user's perspective and it only creates the impression of a bug. From my point of view

[2017-01-29 23:00] gregor commented on #697
I personally fully agree with you and will forward your concerns to our audio and design teams.

[2017-01-30 16:58] bennycode commented on #698
Could be done with the [Pinch Zoom gesture](http://hammerjs.github.io/recognizer-pinch/) from [Hammer.js](http://hammerjs.github.io/).

**Example**
- http://codepen.io/naradesign/pen/GpXmVP

[2017-01-31 13:54] tmikaeld commented on #7122
Sorry for closing, mistook it for the new naming but it's different.

[2017-01-31 13:59] lipis commented on #7122
I renamed it to aliases to avoid confusion.

[2017-02-01 06:24] lk16 opened #10300 "Chat group icon"
It would be nice if each chat would have an icon, similar to whatsapp. For group chats this is could be chosen by the group members and for 1:1 chats this would be the icon of the other people.

Thanks for putting your time in this wonderful project!

[2017-02-02 12:46] Caspy7 opened #717 "Cannot send singular emoji character from Firefox"
When I paste one emoji into the text entry line and hit enter it will not send.

Adding a space allows it to send.

This is the behavior in Firefox. Chrome seems to work (though its emoji set stinks on my computer :).

[2017-02-02 22:37] ghost opened #722 "Tor Browser: ASMJS is disabled by default"
Can't you run with Javascript only?

[2017-02-03 13:26] mat1th opened #723 "Don't use Google for maps, use Open street map instead."
Thank you for your nice app!

I like your app because of the privacy aspect of the application. In your privacy statement you are saying: 'Wire does not sell your usage data to advertising companies.' But you are using the google service to place a marker on a map. It would be much more privacy friendly to use leaflet.js with open street map.

[2017-02-03 13:53] noci2012 commented on #723
i will agree to that.

[2017-02-04 06:35] fortran77 opened #726 "Lastpass password manager missing checkbox"
This is a continuation of the recent issue  #614.

The current web app (Version 2017-02-03) is now working nicely with Laspass, with just one minor exception. This is not a big problem, but let me document it anyway.

This is on Google Chrome using the Lastpass extension.

Lastpass in automatic login mode (Note 1) will not only fill in the login and password fields, but also check any desired chec

[2017-02-04 07:00] ghost opened #727 "Feature request → Liked messages collection"
Add liked messages to collection (top-left icon in conversation), so they are easily accessible.

Thanks in advance.

[2017-02-05 14:09] lipis commented on #727
I like this one :)

[2017-02-05 16:07] max-baz opened #728 "Design feedback: colorful names in conversations"
I think it was a great idea to add color to the user names in conversation view, I quickly got used to use color to distinguish which messages are mine, and which are not.

Except that this concept doesn't work when both me and my contact use the same color. In these cases I have to fallback and actually carefully read sender's name to distinguish messages.

My feedback is therefore to avoid situa

[2017-02-06 21:35] max-baz opened #733 "Consider using different shortcuts for "Next/Previous Conversation""
The combination <kbd>Alt+Shift+⬆/⬇</kbd> was a very poor choice to use as a shortcut, because <kbd>Alt+Shift</kbd> is often used to switch between language layouts. I found a workaround for myself to use <kbd>Shift+Alt+⬆/⬇</kbd>, but it's a dirty hack. Every time I forget to use it, I change my keyboard layout instead and get very annoyed 😤.

Can we get different shortcuts? Ideas:
- <kbd>Ctrl+Tab<

[2017-02-07 08:47] 0ki opened #734 "Not able to login with "remember me" on FF51.0.1 (since FF50?)"
**I've not been able to use wire-webapp for at least a month now.** I though it might be stale cookies, so I finally braved myself to try a clean install today. No dice.
After entering my username and password, it just never loads. Attaching data:
http://02.lv/f/2017/02/07/wire.png
http://02.lv/f/2017/02/07/loader.png

(wire-app.min.js is 2017-02-03-10-46-prod)

[2017-02-07 09:42] ffflorian commented on #734
@0ki Sorry, can't reproduce this on my machine. What do you mean by "clean install"? Did you reinstall the whole system or just the browser? If you just reinstalled Firefox, it's possible that it kept your whole data, including the cache - have you tried clearing the cache?

[2017-02-07 09:47] ffflorian commented on #717
@Caspy7 Sorry, I can't reproduce this.
Did something appear in the console when you tried sending? From where did you copy the Emoji? And which OS / which Firefox version are you using?

[2017-02-07 16:48] 0ki commented on #734
I did incidentally reinstall my whole system, yes.

I did some additional testing, and the problem manifests itself only when I check the "remember me" box.
When the box is not checked I immediately get the "your history won't appear here" message and I'm able to log in very fast.

Hope this helps.

[2017-02-07 17:34] max-baz commented on #734
I have had a very similar experience once, usually I use desktop version and it always works fine, but when I tried web version, it stuck on loading, just like yours. I tried again and again over weeks, the issue didn't seem to be resolved, so I gave up on web version entirely.

Later I saw someone mentioning that this step of loading screen means that the app is decrypting your data. And if you h

[2017-02-07 18:05] 0ki commented on #734
Thanks for the tip. Sounds reasonable. I'll try it tonight.

There is nothing to decrypt thought, since wire security model should not allow access to any of my previous info when logging in for the first time.

[2017-02-08 04:17] gregor commented on #734
From the first screenshot I can tell that we found a previous database on your machine. At least 60.500 events vare in the queue to be decrypted. At least hitting the /notifications endpoint a multiple times indicates that. This will take a very long time.

[2017-02-08 07:03] 0ki commented on #734
http://02.lv/f/2017/02/08/no-dice.png
I left the tab running for exactly **8 hours**.
The progress bar did move, but this is clearly a bug in at least two ways:
1) User has no clear feedback regarding the decryption process;
2) The process is clearly taking way too long.

[2017-02-08 08:51] 0ki commented on #734
Somehow, old *wire* data had bled from my backup into my new installation.
Using "forget about this site" feature resolved the issue for me completely.

However:
Please don't close this issue, as there is still some improvements to be made at least to the UX.

[2017-02-08 10:03] max-baz commented on #734
@gregor could you please share a bit more context, what 60.500 events is wire decrypting on startup? Or to start with, what exactly are the "events", different kinds of messages (text/image/link/ping/...)? Why not decrypt last 20 for every contact, and decrypt the rest on demand? Is it because the current algorithm simply cannot decrypt the last message without decrypting all the history first?

[2017-02-08 10:27] herrmannplatz commented on #734
@maximbaz dont think the number of events is that high. Since half on the requests are actually CORS preflight requests.

So these are the events you would get over the websocket connection when you are online. This could be an encrypted message like Text, Image, Delivery Receipts, ... or just non encrypted event like conversation renaming etc. If you are offline these event are stored and we can

[2017-02-10 20:19] 0ki commented on #734
Do you still need more info?

[2017-02-10 20:22] 0ki opened #749 "https://app.wire.com/ returns 0 byte content and 503 Status"
date +%s; curl https://app.wire.com/ -D-
1486757931
HTTP/1.1 503 Service Unavailable: Back-end server is at capacity
Content-Length: 0
Connection: keep-alive

[2017-02-10 20:35] herrmannplatz commented on #749
Thanks, we are on it.

[2017-02-10 20:49] herrmannplatz commented on #749
should be fine now.

[2017-02-10 20:49] #749 closed, assigned to nobody

[2017-02-11 11:02] lwatsondev opened #751 "Licensing issues."
Each Wire client's repo is apparently licensed under the GPL, yet the README states "All Open Source Apps are subject to, and may only be used and/or commercialized in accordance with, the Terms of Use applicable to the Wire Application", and then lists said restrictions.

The problem is, the [The GNU GPL is designed specifically to prevent the addition of further restrictions](https://www.gnu.org

[2017-02-11 11:44] mat1th commented on #678
I've the same issue with all android send pictures.

[2017-02-11 12:01] Ditti4 opened #752 "Feature request: make local video in a video call resizable"
The local video preview box in a video calling is rather tiny. It would be awesome if it was possible to resize that element so you can actually see what you're doing, like holding up your phone so you can show the other person something on its screen.

I've played around with `resize: both` and `overflow: auto` in the web app but I couldn't get it working in a satisfying way (thinking of somethin

[2017-02-12 10:12] raphaelrobert commented on #751
We do not impose restrictions on the clients. These restrictions apply to the service. The section you quoted is indeed from our Terms of Use ([wire.com/legal, section 6.4](https://wire.com/en/legal/#apps-use-requirements)).
We repeated them in the README file, because sometimes users don't read the Terms of Use. 😉

[2017-02-13 09:21] dietmarw opened #753 "Total loss of history due to Chrome browser update"
Hi,
I've just got my web-wireapp reset with a new id just because the browser (Chrome on Linux) got updated to a newer version. This is of course something  that happens frequently and it is really annoying to loose all of the chat history (and attachments) on the same browser. A browser update should not trigger a new wire id.

[2017-02-13 20:30] max-baz opened #760 "Unknown people appear in the contact list"
I'm describing this issue on behalf of someone else, but I have access to their devices if any extra data is needed. Furthermore, I am actually hearing about this issue for the second time from different people (it has never happened with my personal account though), but this is the first time I see it with my own eyes.

-------

Today a message on the Wire for Android appeared saying "Demetroid h

[2017-02-14 19:04] someoneEsle commented on #760
This looks like an auto-connect: Demetroid must be someone in your friend's address book. It is true that no one sent any connection request, but because your friend has shared their contacts with wire, when Demetroid joined Wire they were connected automatically.
If your friend wants to know who Demetroid is, tell them to:
1. Open Wire on Android
2. Open the conversation with Demetroid
3. Tap "De

[2017-02-14 21:34] max-baz commented on #760
Thanks for the hint @someoneEsle! I asked to do what you suggested, however there is no extra information on that screen that would determine Demetroid's identity. There's definitely no phone contact named Demetroid. So... it's probably caused by something else?

That is a wrong place to ask probably, but is there a way to disable auto-connect feature, just in case? If they revoke "Read contacts"

[2017-02-14 21:37] someoneEsle commented on #760
I think that Demetroid has your friend's number in their address book, even though your friend doesn't have Demetroid's.

As for whether or not revoking contacts access would help with auto connect, I honestly don't know.

[2017-02-14 22:35] max-baz commented on #760
Thanks! I would be interested to hear Wire member's comment on that, I hope it's not the case (because otherwise someone would just create an enormously large contact list on their phone, with all possible numbers, and the numbers that actually resolve to a wire account would be added as their contacts _and be auto-approved_).

At this point I'm curious if there is any way at all to prove that Dem

[2017-02-15 12:27] pasikarkkainen opened #764 "Long audio lag/delay on audio i'm sending with web app.wire.com on Firefox/Linux"
Randomly, but quite often, app.wire.com web audio call gets messed up, and for some reason LONG audio delay is introduced to audio I'm sending.. others will hear me 10-30 seconds later, so it obviously makes discussions impossible. I'm hearing others "in real time", but others will hear me much later.

I have no idea how/why this happens, but it seems to happen quite often, and it's super annoying

[2017-02-16 11:00] mohammadrafigh commented on #728
I agree with you about colors, but the problem with changing other's colors is when you are in a group conversation and there are 100 people in the conversation, then it's very likely to have 10 peoples with your own color. so changing to a different color causes all those 10 people be in brown and it's still difficult to distinguish them.
but if the problem only is distinguishing your messages ag

[2017-02-16 11:11] mohammadrafigh commented on #723
OSM tiles server is not a good way to go since it's just for testing purposes and not the production in large scale like Wire. so if Wire wants to switch to OSM then Wire needs a lot of storage and computing resources to maintain and provide maps on Wire servers, otherwise the only solution is relying on other 3rd party services like Google, MapBox, etc. and I consider all of them won't care too m

[2017-02-16 11:20] mohammadrafigh commented on #698
Pinch gesture in hammer.js only works on mac and windows (in some devices and some driver implementations) and not linux (at least on my machine). I suggest to only stick with a simple scroll or as @maximbaz mentioned using ctrl+scroll

[2017-02-16 13:37] SuperHaze opened #770 "Feature Request: Display chat history when across all devices"
Hi guys, I use temporary work stations a lot (for work), so usually use web services like WhatsApp.  Only problem with using the web service for Wire, my chat histories aren't migrated when I open a new session in the webapp.

I'm not sure how WhatsApp is able to migrate chats across device and web simultaneously while keeping E2E encryption, but was wondering if this could at least be an option.

[2017-02-16 13:39] SuperHaze commented on #770
Something I forgot to add!!!  Please, PLEASE give me an option to disable the e-mail "New device detected" every time I use a new webapp session.  Very annoying - I know this is also for security, so at least give me the option to disable.

[2017-02-16 17:10] liocalset commented on #770
See #688

[2017-02-16 21:48] Acromonkey opened #772 "Web app opened twice --> "A MESSAGE FROM ... WAS NOT RECEIVED""
I am using Wire as a web app in Chromium on my Linux Mint PC. When I accidently open the Wire app twice, I can normally chat in the secondly opened chat window, but in the firstly opened chat windows I will see messages like

"A MESSAGE FROM XXX WAS NOT RECEIVED. (ERROR: 8550)"

You find the detailed error messages in the attached image.

I don't think, that this kind of behavious is intended, bec

[2017-02-17 02:08] fortran77 opened #773 "Allow large file uploads when endpoints communicate directly"
The security whitepaper says: “Whenever possible the endpoints allow direct media flow between them.”

I don't know what fraction of the time Wire is able to punch through NAT.  When it can, the 25 MB file size limit for uploads should be increased, to hundreds of megabytes, even gigabytes. it would be so convenient to be able to easily send a big file to a remote correspondent.

(This applies to

[2017-02-17 11:01] speedy9 commented on #94
I would also love a very simple option in the settings: "Turn off hotkeys". I never use them anyway :)
I also see no use for "Archive" shortcut. Such options are not commonly used I think.

[2017-02-17 20:06] mat1th commented on #723
Thanks for your explanation. I understand that Wire is not using OSM. But I really do not like the way Google is collecting data. I think there are more private ones than the Google map for web. Maybe is [here maps](https://developer.here.com) an option

[2017-02-17 20:15] max-baz opened #776 "Bug: Wire should not parse links within the code tags"
Try to send the following message in Wire:

[code]

Expected: the message is sent formatted as code, nothing else is attached.
Actual: below the code a link to `http://toast.show` website is attached.

![image](https://cloud.githubusercontent.com/assets/1177900/23081632/00c162f2-f556-11e6-933d-571219bac3dd.png)

[2017-02-17 21:19] noci2012 commented on #723
Not sure why my item got a thumb down.. anyway.
You may also considder the next:   people using Wire might also use OsmAND , possibly with the maps already on the phone. (I do, and i am not alone)  OsmAnd uses the native OSM maps. (Or uses a tile server for maps). This way i don't need a live data connection during navigation.

In my case all (relevant) maps are already available, and they can be

[2017-02-18 12:06] anatoli26 commented on #7122
Will the aliases be saved locally or will they be uploaded to the server to synchronize among the devices? I believe they should be somehow protected. It would be great if the list is encrypted with the device keys so the server can store it but can't read it.

[2017-02-19 04:58] anatoli26 commented on #600
Some of my contacts are also affected, always windows desktop client, but from this issue and the related ones I understand this is a general problem of all clients. It's a show-stopper actually, for now I just recommend my contacts not to use desktop client, only mobile (it's too difficult and error-prone for most non-technical users to configure time sync on windows).

This is the most significa

[2017-02-21 09:25] mat1th opened #780 "Bug: The sound bar in a audio message is not center alined."
When I send a audio file the Wire web app renders the sound a sound bar. This bar is not centered aligned. I think this is a bug.  See the screenshot for the way I'm seeing the bars.

[2017-02-21 13:08] helenakos commented on #780
@mat1th I can reproduce, thanks. Will open an issue internally.

[2017-02-22 10:26] bjoernherbig commented on #760
Apologiesfor the late reply. Yes, it is a one way autoconnect that you are getting. This is also the reason why you do not see any additional information in the profile card, like e.g. the users name in your addressbook or alike.
We also see issues with this behaviour and plan changes regarding the autoconnections. Until those are implemented you should block users as described by you, sorry.

[2017-02-22 12:45] lipis commented on #7122
@anatoli26 security and privacy are on top of our lists.. so we will not compromise those for anything :)

[2017-02-22 13:08] anatoli26 commented on #7122
glad to hear that!

[2017-02-23 09:58] helenakos commented on #760
@maximbaz The notification text you saw ("Demetroid has approved your request") should actually be something else, we changed it some time ago. We opened an issue internally, thanks for noticing!

[2017-02-23 15:55] pasikarkkainen commented on #764
It seems the native wire app (wire-2.11.2685-x86_64.AppImage) works better, and does *not* have this audio lag problem. So it's only the web app that's buggy.

[2017-02-27 17:57] gregor commented on #584
The system messages that indicate a conversation downgrade are fully implemented and live for quite some time. Thus closing this issue.

[2017-02-27 17:57] #584 closed, assigned to nobody

[2017-02-27 18:02] gregor commented on #764
The webRTC implementations on Chrome and Firefox are still not fully aligned. The issue you are describing are out of our reach but lie within those implementations within the browser. Our desktop app is build on electron which internally uses Chrome. Thus the experience can divert and be better compared to Fedora build on Firefox.

[2017-02-27 18:02] #764 closed, assigned to nobody

[2017-02-27 18:04] gregor commented on #772
Opening the app in two seperate tabs is going to lead to major issues with message decryption, access tokens and more due to the shared resources within the browser. We could definitely do a better job by preventing users from using the app on multiple tabs within the same browser though.

[2017-03-01 11:12] gregor commented on #760
@maximbaz If I understand your report correctly, the confusing notification text was shown on Android and not web/desktop. We have changed the copy in this case on those platforms and I do not see a regression introduced since #621. @bjoernherbig should be aware of the missing DCR implementation on Android and continue to track this for said platform. If this happens on web/desktop, please let me

[2017-03-01 11:16] max-baz commented on #760
My report was mostly about a possibility to bypass the confirmation in order to become a contact. While this is a huge and easily exploitable breach in my mind, now I understand that this is caused by Android version, though the effects are visible on all platform afterwards.

I'm fine with closing this issue on the webapp side, as long as it is tracked somewhere :slightly_smiling_face:

[2017-03-01 11:21] gregor commented on #760
Yes, fully agree on that one. One-way auto-connects are not the way to go and this will be changed going forward - without comitting to a timeline. Was asking for your confirmation as the ticket filed internally was asking me to fix a non existent regression with the user connection notification copy shown on web/desktop.

[2017-03-01 21:01] max-baz commented on #541
I've come across a [chrome extension](https://github.com/brookhong/Surfingkeys), which as one of its features implements a simple emoji selector. It doesn't depend on any library, the entire relevant code is probably [under 100 LOC](https://github.com/brookhong/Surfingkeys/blob/master/content_scripts/insert.js#L97), and yet it provides a very usable emoji selector. The emojis are OS native, do not

[2017-03-01 21:42] bennycode commented on #541
@maximbaz I would like to buy you a beer! Your preview looks great (and it fits Wire's lean design principles). It gives a great impression on what's possible. I will forward your suggestion to our designers tomorrow because a better Emoji support is one of the most wanted features from our users!

Thanks. 👍

[2017-03-01 21:52] max-baz commented on #541
Cool, thanks 🙂

By the way, it's pretty easy to try in real life. Your designers would probably be interested to see how it looks on Mac and Windows, so here are the instructions (updated):

- Install [Surfingkeys](https://chrome.google.com/webstore/detail/surfingkeys/gfbliohnnapiefjpjlpjnehglfpaknnc) extension.
- Load app.wire.com and try it out 🙂

[2017-03-03 17:25] danielquinn opened #830 "Screen sharing in Linux"
Wire is pretty awesome, but for it to be useful for my work, I need to be able to share my screen from my Linux desktop.

I'm happy to offer some trouble-shooting/debugging help on this one, but I'm afraid my Javascript-foo is not up to the task of implementing this myself.

[2017-03-04 03:00] 4llan opened #831 ""Change language" option"
According to my locale, the Wire webapp is shown in portuguese. But I just wanted to choose what language I'll use.

There's some way of adding "language" to the options? :)

[2017-03-04 09:47] gregor commented on #831
We do not expose this setting in the prefereces. Thanks for the request to do so.

As a workaround, you can always change the language by bookmarking a URL with a specific language flag set. https://app.wire.com/?hl=en for English for example.

[2017-03-05 17:40] Myllyla opened #833 "Wire fails some security scans on Observatory by Mozilla"
Wire receives reduced scores in some security scans on Observatory by Mozilla and third-party scans that you may want to look into:

[https://observatory.mozilla.org/analyze.html?host=wire.com](https://observatory.mozilla.org/analyze.html?host=wire.com)
[https://observatory.mozilla.org/analyze.html?host=app.wire.com](https://observatory.mozilla.org/analyze.html?host=app.wire.com)

[2017-03-06 14:22] helenakos commented on #612
@rbieb Are you still experiencing these issues?

[2017-03-06 14:27] roberdorfer commented on #612
Nope. It was only on that day, as far as I remember.

[2017-03-06 14:37] helenakos commented on #612
@rbieb Yeah, that was the only day. I will close this one.

[2017-03-06 14:37] #612 closed, assigned to nobody

[2017-03-06 19:20] greenmanspirit opened #845 "Feature Request: Chat background/bubbles"
I think it would be awesome to give users the option to have a chat background and message bubbles like telegram, whatsapp, etc. This would all those users who like irc/slack like interfaces have that and people who like background/bubbles have that.

Thanks!
//adam

[2017-03-08 20:36] max-baz opened #862 "Feature request: show date in addition to time in front of messages older than today"
I've caught myself a couple of times already in the following situation:

- Scroll up to find a certain message.
- Suppose it was sent not today, and you want to know, when this message was sent.
- Hover the message with your mouse, you will see time, for example "19:37". But when, which day?
- To learn which day, you have to scroll up all the way to the beginning of the conversation on that day,

[2017-03-09 09:16] herrmannplatz commented on #600
should be fixed with https://github.com/wireapp/wire-webapp/releases/tag/2017-03-08-17-32

[2017-03-09 09:16] #600 closed, assigned to nobody

[2017-03-09 10:14] gregor commented on #687
Seems like we have finally identified the root cause of the issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1233447

A fix is currently in testing https://github.com/wireapp/wire-webapp/pull/861

[2017-03-09 20:42] valentinbreiz opened #871 "Crash with Opera"
I don't know why but Wire Web often make my Opera Web Browser crash...

[2017-03-10 08:24] herrmannplatz commented on #871
Which version of opera and which os? Does it crash when u start it or after some time of using it?

[2017-03-10 18:39] valentinbreiz commented on #871
I use Opera v43.0.2442.1144 and Windows 10 v14986.1001

[2017-03-12 01:55] anatoli26 commented on #576
Just opened a new issue for the subj, but here's already a discussion. Any chance to restore it? The suggestion to not show self at the beginning but make it searchable looks like it solves the reason it was deleted?

[2017-03-12 15:45] max-baz commented on #541
To give an update, together with the author of [Surfingkeys](https://github.com/brookhong/Surfingkeys) we have implemented all the improvements that I wanted to see for the emoji popup:

- The suggestion list is now positioned correctly on all websites, including Wire.
- It is unobtrusive and appears only after entering at least two characters after `:`
- The textual descriptions of emojis are mad

[2017-03-14 16:38] lipis opened #891 "Drop CoffeeScript"
We decided to slowly start moving away from CoffeeScript to JavaScript! As this step is impossible to do it in one go, here is the list of things needs to be done before we sign it off.

### Tools that could help

- [js2.coffee](http://js2.coffee/)
- [lebab.io](http://lebab.io/try-it)
- [decaffeinate](https://github.com/decaffeinate/decaffeinate)

### Things to do

- [x] Support JavaScript, along

[2017-03-14 19:33] herrmannplatz commented on #67
#891

[2017-03-17 15:54] gregor commented on #219
https://github.com/wireapp/wire-webapp/pull/915

[2017-03-20 19:57] Bugsbane opened #924 "Webapp keeps audio channel open when it's no longer used"
Both Firefox and Chrome (not sure about Edge / IE / Opera these days) show a speaker icon in any tab currently broadcasting sound so users know which tabs in particular sounds are coming from.

Currently, Wire's web app undermines this, showing the audio being used constantly, even when the tab isn't being used to make any calls, or any notification sounds. Right now I'm seeing it on a Wire tab I

[2017-03-21 12:17] gregor commented on #924
This should be fixed in the latest release that we just shipped today. Please reopen if it still happens after a page refresh today. WIth some steps to reproduce on how you get the icon to show up and not go away so we can take another look.

[2017-03-21 12:17] #924 closed, assigned to nobody

[2017-03-22 12:01] balupton opened #930 "Wire support for Safari"
What exactly is holding Safari support back for the web client? This isn't mentioned anywhere. Cheers!

[2017-03-22 12:03] balupton commented on #891
Not sure what the reasoning is, but CoffeeScript v2 will be out soon: https://github.com/coffeescript6/discuss/issues/71

Over at Bevry, we moved from CoffeeScript to ESNext for all our things throughout 2016. Our reasoning is at: https://discuss.bevry.me/t/move-from-coffeescript-to-es6/30/1 - perhaps will have some useful resources for your own move.

[2017-03-22 12:24] mat1th commented on #930
I think of the lack of WebRTC support. See https://webkit.org/status/#specification-webrtc

[2017-03-22 12:55] gregor commented on #930
We removed Safari support when we moved to E2EE as we highly depend on IndexedDB. The implementation of this browser feature in Safari was lacking. Safari is since providing what we need but we never reenabled it due to the required testing in order to ensure that each of our releases is shipped with the desired quality. A desicision we will have to reeavaluate at some point again but it currently

[2017-03-22 13:03] balupton commented on #930
great, thanks for the detailed response

for me, I really enjoy Safari - and the web clients of skype, telegram, whatsapp, slack all support it - so wire is the only one missing for me

keep up the great work!

[2017-03-23 16:22] herrmannplatz commented on #891
Thanks for sharing this. Haven't followed the whole v2 discussion. Was quite surprised to see that they actually started working on this finally. But this doesn't change our decision. What you mentioned is similar to what we discussed. Besides that some more reasons from our site are:

- We only support recent browser versions which can handle es6. So we can get rid of a compile step and start wri

[2017-03-23 22:48] max-baz opened #938 "Feature request: more reactions"
Today we have only one reaction: ❤️

I'd love to see more reactions, ideally support any emoji from #541 as a reaction. Keyboard integration is a must, for example if to enter emoji you type `:`, to add emoji reaction you type `+:`.

By the way, it is worth looking at [Slack's reactions](https://get.slack.help/hc/en-us/articles/206870317-Emoji-reactions) for an inspiration 🙂

[2017-03-24 07:42] gregor commented on #938
@maximbaz Definitely on our wishlist as well. If you take a close look at the protocol implementation in our protobuf at https://github.com/wireapp/generic-message-proto/blob/master/proto/messages.proto#L213 you will see that the initial implemtation was architected with this in mind. It is once more just a matter of priorities and product design decisions as to whether and when a feature like tis

[2017-03-26 15:05] ffflorian commented on #541
@maximbaz Nice work! I implemented an in-app Emoji picker which you can test (still in beta though): https://github.com/wireapp/wire-webapp/tree/emoji-picker

Note: this is a personal sideproject and not offically supported.

[2017-03-26 15:23] ffflorian commented on #408
I implemented an Emoji picker which you can test (still in beta though): https://github.com/wireapp/wire-webapp/tree/emoji-picker

Note: this is a personal sideproject and not offically supported.

[2017-03-26 15:52] max-baz commented on #541
Cool, thanks for looking into this @ffflorian!

I tested the branch, looks good to me, if you want early feedback, I can suggest one thing: currently in the picker itself I see Apple's emoji in the low-res (on my high-dpi screen they are blurry), ideally I'd love to see native emojis (which are often provided as a vector font, so they will never be blurry). But when I select an emoij, it is pasted

[2017-03-26 16:19] ffflorian commented on #541
@maximbaz Thanks for testing.

Yes, native emojis would be way better - that will be in the next version I think. For now this is just a small sideproject and nothing official :)

Right now this picker cannot be openend by keyboard, but it would be easy to implement a shortcut. But yes, the main discussion about that should go on in #408.

[2017-03-26 18:27] forteller commented on #723
https://github.com/wireapp/wire-android/issues/734

[2017-03-26 18:54] forteller opened #943 "Import more than one contact from Gmail at a time"
To import multiple contacts from Gmail you have to:
1. Click the cog
2. Go to Options
3. Click Import from Gmail.
4. Choose one of the people
5. Click Connect
6. Click the cog again
7. Go back to Options
8. Click Import from Gmail again

You get the idea…

I'd find it much easier if I would just not get redirected out of the Options pane and over to the not yet connected person. Just let me stay i

[2017-03-27 19:24] forteller opened #949 "Suddenly stopped working in Rambox"
I've been happily using Wire in [Rambox](http://rambox.pro/) for some tim now. But when I opened it now I just got the message "This browser is not supported."

Rambox is a very useful application to run any webapp in different tabs in, and get desktop notifications. It is based on this software:

Electron: 1.4.15
Chromium: 53.0.2785.143
Node: 6.5.0

I hope you'll be able to make Wire work on this

[2017-03-28 06:44] MakisH commented on #949
The respective issue on Rambox: https://github.com/saenzramiro/rambox/issues/762

[2017-03-28 06:57] MakisH opened #953 "Firefox/Linux: The camera access is always on"
I load Wire 2017-03-27 on Firefox 52.0.1 on Ubuntu 16.04.2 and:
* my camera indicator light is always on,
* the Firefox WebRTC panel is shown,
* the Wire tab looks like there is some call going on.

All these without having started/received any call. It was working fine the last time I checked the Web App, a few days/weeks ago.

(I actually have the same problem with the Linux App, which actually

[2017-03-28 07:17] MakisH commented on #953
Somehow it was fixed after reloading (after loading completely first, which took sometime because it was updating to the latest version I guess).

[2017-03-28 07:17] #953 closed, assigned to nobody

[2017-03-28 14:34] herrmannplatz commented on #949
Could you just recheck.

[2017-03-28 14:40] MakisH commented on #949
Still the same problem.

[2017-03-28 14:51] bennycode commented on #949
That's strange because we just set our lower bound to Chrome 53: https://github.com/wireapp/wire-webapp/releases/tag/2017-03-28-14-23

Can you run Rambox with Chrome devtools?

[2017-03-28 15:03] MakisH commented on #949
I can see the Chrome devtools pane in Rambox, yes. How can I help?

[2017-03-28 15:31] bennycode commented on #949
Cool! Can you please check this version number?

![capture](https://cloud.githubusercontent.com/assets/469989/24413654/60d31862-13dc-11e7-973f-d6ce163229d8.PNG)

[2017-03-28 21:01] MakisH commented on #949
I can't find it, I actually can't understand the structure of the code right now, because it contains also the Rambox-related code. This may help though (look at the user agent).

![wire-rambox](https://cloud.githubusercontent.com/assets/4943683/24427153/404cc060-140a-11e7-8f4c-fe7ae6e9157a.png)

[2017-03-28 21:06] bennycode commented on #949
Thanks! This helps already a lot. When did our app work for you the last time?

[2017-03-28 21:14] bennycode commented on #949
I just checked Rambox. It reports itself as:

[code]

Result from https://app.wire.com/test/agent/ is:

[code]

We will soon find the issue why [today's fix](https://github.com/wireapp/wire-webapp/commit/fbb63b02db96e39d04d7b52dff16688d567a7b3e) doesn't work. 😎

[2017-03-28 21:30] MakisH commented on #949
It was working perfect yesterday noon-afternoon (german time).

By the way, just to be clear, my Rambox also says "Chromium 53", like in the case of the original poster (Rambox 0.5.3).

[2017-03-29 09:03] forteller commented on #949
Yeah, last time it worked for me was earlier the same that that I created this issue :)

[2017-03-30 16:14] rd-su commented on #949
Any news?

[2017-03-31 09:23] speedy9 commented on #94
Hi. Can we really get at least an option in settings to turn off keyboard shortcuts? This issue is sooooo annoying and really drives me mad sometimes as it interferes with AltGr+"s" and AltGr+"n".
Pleeeease, change this.

[2017-03-31 09:48] helenakos commented on #943
@forteller Thanks, this is good feedback. I'll share this with the team.

[2017-03-31 13:37] bennycode commented on #94
Hey @speedy9, I can fully understand your anger and really feel with you. Unfortunately our design team told us today that there is no plan to redesign keyboard shortcuts any time soon. 😢

[2017-03-31 13:37] #94 closed, assigned to bennycode

[2017-03-31 13:41] gregor commented on #780
This is no longer reproducible with a new internal desktop release that should find your way soon. Thereby closing this.

[2017-03-31 13:41] #780 closed, assigned to nobody

[2017-03-31 14:00] bennycode commented on #733
Hey @maximbaz, I totally get your point. Also configurable shortcuts would be nice (so that everyone can use his/her favorite).

Unfortunately our product owners don't plan to redesign keyboard shortcuts any time soon (https://github.com/wireapp/wire-webapp/issues/94#issuecomment-290714090). I will close this ticket here until we have other news.

[2017-03-31 14:00] #733 closed, assigned to nobody

[2017-03-31 21:43] jack5432109 opened #981 "Images never load in the webapp"
I have been using wire in multiple devices.
I observed that the images in communication never load on the web-app
using chrome Version 56.0.2924.87
and on version that the application, [Franz](http://meetfranz.com/) is based on.

[2017-04-02 23:40] trosel opened #983 "Make the video mirrored so it's more natural"
On my macbook, the web camera video is flipped.

It's more natural and normal for the video to be mirrored (as if it's a mirror).

So when you raise your right hand, you see your hand on the right side of your video feed.

[2017-04-03 09:23] lipis commented on #949
Should be fixed in https://github.com/saenzramiro/rambox/pull/792

[2017-04-03 09:31] lipis commented on #949
A workaround until it's merged would be to create a new `_Custom Service` that points to `https://app.wire.com`

<img width="509" alt="screen shot 2017-04-03 at 11 31 08" src="https://cloud.githubusercontent.com/assets/125676/24603455/21b62550-1861-11e7-9098-b3ccabc5c24d.png">

[2017-04-04 01:18] fdelapuente opened #994 "firefox 50.1.0 showing "your browser doesn't support calls" error."
Hi,

Recently in Ubuntu 17.04, firefox started giving errors to start and receive calls. It complains this version of firefox doesn't support calls. The version of firefox is 50.1.0 from Ubuntu Linux.

Thanks,
Felipe.

[2017-04-04 08:53] gregor commented on #994
This is on purpose. The webRTC implementation in Firefox is evolving. We depend on some newer functionality with our rewritten calling implementation and in order to bring back the features currently disabled such as screensharing. The minimum required Firefox version for calling is now at 52, which will be their new ESR release moving forward.

[2017-04-04 08:53] #994 closed, assigned to nobody

[2017-04-04 19:33] max-baz commented on #541
Hey Wire team,

It has been almost a month since I posted the demo, I think I can safely assume that some of you already seen it, and maybe even tried for yourself 😉.

I'm wondering if you consider to make this part of Wire, so that no external extensions are required, and more importantly so that it works in Wire for Desktop.

To my current knowledge, this module fulfills all the mentioned needs:

[2017-04-04 20:01] bennycode commented on #541
Hi @maximbaz, thanks for your followup!

I have shown your autocomplete idea to our design team and I received the following answer from our Head of Design:

So there is a green light on the feature. Unfortunately, it isn't scheduled in any sprint because we don't have the internal resources to do it. We are currently still busy [making Wire available to developers](https://medium.com/wire-news/wi

[2017-04-04 20:04] max-baz commented on #541
Great news, I'll look into integrating this over the next days then!
Can't wait to start using emojis in Wire for Desktop 😉

[2017-04-05 07:38] pasikarkkainen opened #1001 "Impossible to have group audio calls, not everyone can hear each other"
We have a mixed group of Wire users, some using Windows Desktop app, some using Mac OSX Desktop app, some using Linux Desktop app, some using Web app, and some using Android Mobile app.

The problem is that almost every time when we try to have a group call, we have a lot of audio problems. Basicly some person can't hear some other person, while others can hear both of them just fine. It seems the

[2017-04-06 05:24] ghost opened #1012 "Last update → Impossible to archive conversation"
Since yesterday I cannot archive current conversation. Left tab shows everything is archived but conversation remains in the main tab. Clicking on and off settings makes it go away. This issue appeared in "Version 2017-04-05".

[2017-04-06 08:52] herrmannplatz commented on #1012
Thanks, we already saw it and fix is coming.

[2017-04-06 09:38] herrmannplatz commented on #981
Not sure whats causing this and its quite hard to debug this in Franz.

[2017-04-06 10:14] someoneEsle opened #1018 "Strange messages and missing messages since last update"
I updated last night to version 2.11.2685.
This morning while I was using it, I saw that all my conversations display a message saying "You haven't used this device for a while. Some messages may not appear here". This is false because I use this device almost every day, and I definitely used it yesterday.
On top of that (this may be a different issue, or maybe they're related), some of the messag

[2017-04-06 10:31] herrmannplatz commented on #1018
Thanks for reporting and sorry for the inconvenience. You havent missed any message. Its just diplayed incorrectly. This should be fixed with #1015.

[2017-04-06 10:33] #1018 closed, assigned to nobody

[2017-04-06 14:12] lipis commented on #891
<img width="996" alt="screen shot 2017-04-06 at 16 11 51" src="https://cloud.githubusercontent.com/assets/125676/24758816/c5e813ca-1ae3-11e7-8294-ee9824e2cac8.png">

[2017-04-07 07:36] theincogtion commented on #7122
I really like Wire and I like to recommend it to my friends but if they realize that they can't rename the contacts they will not use wire. This is a show stopper for further spreading of this great app. It would be great if this feature could be realized soon.

[2017-04-07 13:21] ghost commented on #1012
Today's update doesn't fix this issue…

[2017-04-07 20:42] lipis commented on #891
<img width="990" alt="screen shot 2017-04-07 at 22 42 11" src="https://cloud.githubusercontent.com/assets/125676/24819093/80dcc342-1be3-11e7-8349-ac1f8a891b93.png">

[2017-04-07 23:01] max-baz commented on #541
Integration is happening in #1038, give it a try and leave your ideas :+1:

[2017-04-09 10:42] bennycode commented on #981
@jack5432109 How long have you been waiting for the images to download?

[2017-04-11 02:48] jack5432109 commented on #981
@bennyn couple to maybe like 15 minutes.

nevertheless, the images load as expected now.
now using [web-app](https://app.wire.com/) Version 2017-04-07

[2017-04-11 02:48] #981 closed, assigned to nobody

[2017-04-11 04:21] farhaanfsk opened #1053 "a improvement in encryption algorithm"
# Hybrid-Cipher

Encryption algorithm with combination of caeser cipher and fibonacci series :

Encryption of the data is being used in many data processing areas. A lot of encryption algorithms have been developed for processing

of data If we are able to join the advantages of the many existing encryption methods, then a new hybrid encryption method can be

developed which offers better security

[2017-04-11 07:40] #751 closed, assigned to nobody

[2017-04-11 08:55] bennycode commented on #530
Closed due to inactivity.

[2017-04-11 08:55] #530 closed, assigned to nobody

[2017-04-11 08:57] bennycode commented on #770
The issue here can be solved by having a solution for https://github.com/wireapp/wire-webapp/issues/626

[2017-04-11 09:30] raphaelrobert commented on #1053
Thanks, we'll stick with libsodium and other well-tested concepts for now.

[2017-04-11 09:31] #1053 closed, assigned to raphaelrobert

[2017-04-11 09:35] raphaelrobert commented on #361
As described in the whitepapers, Wire shows the location of where clients were registered.
The sole purpose of that location is to assist users in identifying suspicious clients registered with their account, e.g. as a result of account compromise.

[2017-04-11 12:42] helenakos commented on #519
We are not dismissing this, however I am closing only due to clean up purposes.

[2017-04-11 12:42] #519 closed, assigned to nobody

[2017-04-11 12:43] helenakos commented on #569
Closing due to clean up purposes.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/wireapp/wire

[2017-04-11 12:43] #569 closed, assigned to nobody

[2017-04-11 12:44] helenakos commented on #727
Such a great idea. Only closing due to clean up purposes. We have noted it down internally.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/wireapp/wire

[2017-04-11 12:44] #727 closed, assigned to nobody

[2017-04-11 12:45] helenakos commented on #752
Thanks for the request. I will close because we don't have resources to work on this immediately, but are not excluding it for the future.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/wireapp/wire

[2017-04-11 12:45] #752 closed, assigned to nobody

[2017-04-11 12:46] helenakos commented on #723
We don't have a committed date for changing this. Closing this issue only due to clean up purposes. We have noted it down internally.

[2017-04-11 12:46] #723 closed, assigned to nobody

[2017-04-11 12:48] helenakos commented on #770
Conversation history backup is on our list for the future. Therefore closing this issue.

[2017-04-11 12:48] #770 closed, assigned to nobody

[2017-04-11 12:55] helenakos commented on #387
@someoneEsle We still have it on the list, no committed date yet. Closing for now but not dismissing the needed feature.

[2017-04-11 12:55] #387 closed, assigned to nobody

[2017-04-11 12:56] helenakos commented on #360
Closing issue as we don't have it planned for the near future.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/wireapp/wire

[2017-04-11 12:56] #360 closed, assigned to nobody

[2017-04-11 12:58] helenakos commented on #371
Update to About screen is coming out in upcoming Wire for desktop releases.
![screen shot 2017-04-11 at 14 57 39](https://cloud.githubusercontent.com/assets/5180637/24910197/4d87d612-1ec7-11e7-9135-c5e1a9214f22.png)

[2017-04-11 12:58] #371 closed, assigned to nobody

[2017-04-11 12:59] helenakos commented on #65
No committed date yet. Closing this issue as part of cleanup.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/wireapp/wire

[2017-04-11 12:59] #65 closed, assigned to helenakos

[2017-04-11 13:03] helenakos commented on #83
Sadly I have to close the issue again. Trying to keep things tidy on github issues.

We don't have a committed date or plans to do the dark theme. New, more functional design for desktop clients will come out in a matter of weeks. We are continuously working on making the clients better, however the resources are limited and dark theme hasn't been prioritised yet.

On a side note, you can open an

[2017-04-11 13:03] #83 closed, assigned to nobody

[2017-04-12 00:19] gregor commented on #219
I am happy to say that the fix will finally be part of our next release,, which will reenable screensharing.

[2017-04-12 00:19] #219 closed, assigned to nobody

[2017-04-12 00:21] gregor commented on #678
This issue has been addressed by our Android team.

[2017-04-12 00:21] #678 closed, assigned to nobody

[2017-04-12 00:23] gregor commented on #830
Screensharing had been temporarly disabled with the upgrade to our new calling protocol. I will be reenabled in our next release in the coming days.

[2017-04-12 00:23] #830 closed, assigned to nobody

[2017-04-12 10:06] lipis commented on #891
<img width="989" alt="screen shot 2017-04-12 at 12 05 59" src="https://cloud.githubusercontent.com/assets/125676/24952622/6e940036-1f78-11e7-87a5-8fd72f8197b3.png">

[2017-04-12 11:59] lipis commented on #891
<img width="992" alt="screen shot 2017-04-12 at 13 59 22" src="https://cloud.githubusercontent.com/assets/125676/24956530/4d31e4ac-1f88-11e7-8c41-2752ce45dc91.png">

[2017-04-12 15:19] bennycode commented on #541
Solved by https://github.com/wireapp/wire-webapp/pull/1038 😊 — Happy emojiing! 🍔 💃 🦄

[2017-04-12 15:19] #541 closed, assigned to nobody

[2017-04-14 09:09] user9209 opened #1076 "Feature request: Login by using GET-parameter"
Hello,

it would be nice for the web client to allow inserting the username and password by using GET-parameters like:
'https://app.wire.com/auth/#login?username=demo&password=test'

So you can use bookmarks to directly login without user interaction.

For more security:
Set only the username to fill in automatically but asking for the password.

Thanks in Advance

By the way:
If you encode the pa

[2017-04-14 09:34] gregor commented on #1076
What is keeping you from using our desktop apps?

[2017-04-14 10:03] user9209 commented on #1076
- For example the .deb-installer currently needs admin rights, as workaround you can extract the binary from the deb-archiv or use the web app.
- On systems where no apps available for example bada (https://en.wikipedia.org/wiki/Bada)

For testing:
- desktop app currently does not support multi-user, so use desktop app with main profile and web browser with other profile
- To send friends a link w

[2017-04-14 12:48] max-baz commented on #1076
If you are bound to use webapp, I suggest you look into password managers. The markup on login page is pretty good now, password managers are easily able to fill username and password with 0 or 1 click, and even press the "Log in" button for you.

[2017-04-15 11:38] someoneEsle opened #1088 "Notifications of liked messages aren't cleared on phone if opened on desktop"
See the description in https://github.com/wireapp/wire-android/issues/795. I am unsure whether the problem is the phone or the web app. Feel free to close one of the two tickets depending on where the bug is.

[2017-04-15 12:01] gregor commented on #1088
All messages you see are marked as read on the desktop. If notifications are not cleared on the phone subsequently, the issue is on mobile side.

[2017-04-15 12:09] someoneEsle commented on #1088
`All messages you see are marked as read on the desktop`
? This is not about what messages have been marked as read (in fact the only message involved in this bug is outgoing, not incoming), I'm talking about notifications of liked messages not going way. Not sure which messages "I see" (?). Sorry if my initial message was confusing

[2017-04-15 12:48] gregor commented on #1088
A like is a message as well. Only difference is that it is mapped onto another message. Due to that mobile client could possibly miss the fact that you opened it on desktop.

Will check if we miss to send an update of the read state in this case.

[2017-04-15 16:09] farhaanfsk commented on #1053
Dear Robert,

 iam providing you the github link of our project that out team has worked
on please take a look at what the code can do and then decide
the code is unique u would like to reconider ur decision after executing it

link:
https://github.com/udaykiranreddykondreddy/Hybrid-Cipher

On Tue, Apr 11, 2017 at 5:31 AM, raphaelrobert <notifications@github.com>
wrote:

[2017-04-15 19:17] user9209 commented on #1076
The possibility of using GET-Params would be much easier, but I can understand that there are some workarounds to get similar behavior.
I close this Issue now.
Maybe in the future this feature can be added.

[2017-04-15 19:17] #1076 closed, assigned to nobody

[2017-04-15 22:00] segahm opened #1091 "Swagger API"
In the code there are references to the swagger-ui. Seems like the code supports Swagger code gen. What is the url for generating swagger API documentation?

[2017-04-16 05:20] segahm opened #1092 "How does Authentication work"
Is there a description of how Wire's Authentication works? I would like to use Wire's authentication to authenticate users into my application on the same domain that I am hosting the chat client. Two questions:
1) How do I grab user's identifier?
2) How to forward users for authentication with pre-filled email/phone information?

[2017-04-16 12:41] raphaelrobert commented on #1053
So on a high level you:

- pick a key length that is between *len(message)/2* and *len(message)*
- generate a random key of that length
- perform a simple substitution on the message
- append the key to the cipher text
- append the key length as a string
- append the length of that string using substitution from the table again
- iterate over the whole buffer and depending on whether the index *n*

[2017-04-17 02:53] livejamie commented on #333
Is this being considered? Google taking away SMS from Hangouts is causing my family to get more serious about switching.

[2017-04-18 17:04] lipis commented on #891
<img width="986" alt="screen shot 2017-04-18 at 20 04 04" src="https://cloud.githubusercontent.com/assets/125676/25143194/3c4bfca6-2472-11e7-8e73-021aeb859dd4.png">

[2017-04-18 21:28] max-baz opened #1098 "[Bug] During a call the video feed freezes while a picture is being uploaded via Ctrl+V (audio works)"
I was on a video call, and after pasting an image with Ctrl+V the video feed froze for both parties while the image was uploading. We were able to hear each other though, and the video resumed when the image finished uploading. I could reproduce it several times with different images, they just have to be large enough to take a few seconds to upload for you to observe the bug.

The issue didn't se

[2017-04-19 10:11] gregor commented on #1098
Encryption is resource intensive and blocking the thread. We continue to improve in this area and move it off the main thread but it is nothing that will be fixed short term.

[2017-04-19 10:11] #1098 closed, assigned to nobody

[2017-04-19 14:45] helenakos commented on #10300
This is being changed in the very near future, the conversation list is undergoing big changes. Stay tuned and update your clients regularly :)

Closing this issue as part of cleanup.

[2017-04-19 14:48] helenakos commented on #332
Thanks for your request, we don't have it planned at the moment so closing this issue.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/wireapp/wire

[2017-04-19 14:48] #332 closed, assigned to nobody

[2017-04-19 14:48] helenakos commented on #313
Thanks for your request, we don't have it planned at the moment so closing this issue.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/wireapp/wire

[2017-04-19 14:48] #313 closed, assigned to nobody

[2017-04-19 14:50] helenakos commented on #309
Thanks for your request, we don't have any iterations planned here at the moment so closing this issue.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/wireapp/wire

[2017-04-19 14:50] #309 closed, assigned to nobody

[2017-04-19 14:51] helenakos commented on #217
Thanks for your request, we don't have it planned at the moment so closing this issue.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/wireapp/wire

[2017-04-19 14:51] #217 closed, assigned to nobody

[2017-04-19 14:51] helenakos commented on #182
Thanks for your request, we don't have it planned at the moment so closing this issue.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/wireapp/wire

[2017-04-19 14:51] #182 closed, assigned to nobody

[2017-04-19 14:53] helenakos commented on #333
@livejamie A different version of conversation list UI is coming out in a matter of weeks. Closing this as I'm pretty sure the outcome is what you requested (not having a blown up version of your own face).

[2017-04-19 14:53] #333 closed, assigned to nobody

[2017-04-19 14:55] helenakos commented on #408
@ffflorian No longer a side project but officially supported! https://medium.com/wire-news/wire-for-web-2017-04-19-a72948238161

Emoji autocomplete is great, we also want to have an emoji button but don't have it planned at the moment, so I will close this issue.

On a side note, you can open an issue for general comments (not related to any client / specific repository) here: https://github.com/w