[2018-07-22 23:44] ghost opened #4117 ""This is the first time you have signed in on this computer"...but it's not."
Recently the webapp has given me this message and advised me my history wouldn't be present as a result. But I have used it continuously on this laptop. I have no reinstalled the OS or browser or intentionally deleted the device. Is this a bug or is there a common error I could have committed that removed the device?

[2018-07-23 12:50] gregor commented on #4117
Can you check your devices section of the preferences  on your affected device? There is an "activated on" date for your current device. Is this the date you saw the message on? If so, did you possibly accidentally delete the wrong device remotely?

[2018-07-24 01:02] ghost commented on #4117
I checked and I didn't delete this device. I had to delete old devices as the max had been reached so I deleted them from tablets I no longer have. I then encountered the warning and started a new conversation. Just today the same thing happened and I was again told it was the first time I had used the device even though I used it yesterday as well. Are there some logs I can send you?

[2018-07-24 16:53] ghost commented on #4117
I didn't intentionally close this. Must have hit the wrong button. Or maybe my laptop is haunted. Is it possible re the Wire webapp that resintalling or altering Fireffox history/cookies settings has affected this?

[2018-07-24 16:56] gregor commented on #4117
Definitely. If you delete your local browser storage we have no way to know which cryptographic identity your "device" previously had. You will always create a new device this way. This is outlined in our FAQs on the support site.

[2018-07-24 16:56] #4117 closed, assigned to nobody

[2018-07-24 19:26] ghost commented on #4117
Can you tell me where in the FAQs? I searched the terms "browser" "cookies" and "history", and manually looked through all support topics and must have missed it. I never had this issue on another laptop even with Firefox locked down to cookies and no history saved. I don't know what setting specifically is the problem.

Also when looking at the device list how can I determine which is which from

[2018-07-24 21:16] BatmanAoD commented on #1690
@mythsunwind Does "adopting to the newest web technologies" mean compiling the C/Rust version to WebAssembly? If so, is there a tracking issue for this somewhere?

[2018-07-25 08:27] thenktor opened #4142 "Enable calling/screen sharing with Microsoft Edge"
Hi,
at the moment Wire supports calling on these browsers: Google Chrome, Mozilla Firefox, und Opera. Apparantly because it uses WebRTC. This website (http://iswebrtcreadyyet.com/) says WebRTC is ready in Edge, too. So why does Edge not support the calling feature?

[2018-07-26 20:40] tdw546 opened #7845 "Call breakup on bad connections"
Wire seems to be the least resiliant protocol when it comes to audio chat connections.
Whenever one participent in an audio call has a short connections issue (less then a second) the call breaks up immediatly. The symptoms are the usual wire "reconnecting" signal which can be heard by the remaining participants. However after using wire for more then a year now every week, I have yet to experienc

[2018-07-30 08:54] TiGR opened #10760 "Ephemeral messages produce 100% one core CPU usage"
Wire version: 3.2.2840
Wire for web version: 2018.07.26.0854
Operating system: Kubuntu 16.04 LTS, fully updated.

What steps will reproduce the problem?

1. Open some chat, for instance with Otto the Bot.
2. Write some ephemeral message (lasting 30s, for instance).
3. Watch CPU usage spike to 100% of single core.
4. Wait till message disappears and see CPU usage drop to zero.

This is true for bot

[2018-07-30 08:59] TiGR commented on #10760
Just have tested - this is true for web version also.

[2018-07-30 09:03] TiGR commented on #10760
4 week messages do not produce 100% usage, but rather 20% per each message, And the more ephemeral messages in chat there are, the higher CPU usage gets.

[2018-07-30 09:19] gregor commented on #10760
@TiGR Thanks for the report. We decreased the load created by ephemeral messages significantly in https://github.com/wireapp/wire-webapp/pull/4149. This will go live as part of our next public webapp release. Please check at that point.

[2018-08-02 12:55] kuetemeier commented on #10760
Same problem here... true for Mac OS X (very high CPU Load for "Wire Helper"), iPhone and iOS (App crashes).

I like to chat with a default of 1h message lifetime. After some messages (50+ over the day) iPhone and IOS Apps starts to crash (can be reopened). If you carry on messaging... you have to reopen the App two or more times.

(not the best) workaround: I delete the content of the chat... App

[2018-08-02 13:01] gregor commented on #10760
Thanks. As stated we have fixed this internally already and hope to get this out to you all soon.

[2018-08-02 13:39] gregor commented on #4116
Thanks for your report. Rambox opens all external links outside its closed app scope. We do not support Rambox. In order to make the contact import feature work within our own desktop apps (which are also based on electron) we have to catch the redirect and handle it manualy within the electron context. Nothing we can add in Rambox. You will have to sign in at https://app.wire.com and import your

[2018-08-02 13:39] #4116 closed, assigned to nobody

[2018-08-02 13:42] gregor commented on #4142
Edge initially only supported oRTC while our calling relies on the more common standard WebRTC. Since Edge has added WebRTC support in one of the later versin we could technically add support for it. So far it has not made our priority list though since some quick checks revealed codec incompatibilities with our mobile clients. We will definitely revisit this topic though. Especially since Chrome

[2018-08-02 17:10] ghost opened #4250 "Still getting "this is the first time you have used this device" errors"
____________________________

[2018-08-06 08:45] gregor commented on #10760
The release was pushed to production this morning. Please quite and restart your desktop app and ensure that you are running webapp version 2018.08.06.0803 which contains the fix.

[2018-08-06 09:20] kristin-wire commented on #4250
Hi Hap124,

This is Kristin from Support reaching out. We've seen a few cases like this in support before...it sounds like your browser is configured to delete local data once closed, and so it is removing anything related to Wire and thus creating a new device when you log in. Can you check your browser settings? Also - does it happen in other browsers?

[2018-08-06 09:32] TiGR commented on #10760
@gregor please, reopen this issue, since it is not fixed.

If there are no ephemeral messages in currently open chat in wire app, wire-desktop takes ~0.3% CPU. But if there is at least one message, that would last, say, 1 day, CPU usage is constantly above 20%. And the more ephemeral messages there are, the bigger it gets. For intance, with 20 messages CPU isage is around 35%.

Idle chat app windo

[2018-08-06 09:46] TiGR commented on #10760
BTW, just tested the same in Signal desktop. There are animations, but most of the time signal-desktop uses around 0% CPU, even with multiple ephemeral messages lasting 1 day. It gets around ~3% with ten messages with 1 minute limit.

[2018-08-12 14:40] kworr opened #4313 "TypeError: Ha(...).family is null on login attempt"
Hello.

Looks like last fix of osFamily detection wasn't the last one. This time I can see the login screen but I can't get further. I receive `TypeError: Ha(...).family is null` error trying to submit username/password. This happens in Runtime.js:61

    const getOsFamily = () => getOs().family.toLowerCase();

What I have:
[code]

This time it looks like jQuery isn't populating all fields, probab

[2018-08-13 09:40] gregor commented on #4313
The libary we use to parse your user agent chokes on Dragonfly. We have opened an issue on the library https://github.com/bestiejs/platform.js/issues/156. Looks like we need to add a safeguard also in the place where we detect the device type when creating an new device linked to your account until the library has fixed this.

[2018-08-15 15:02] dependabot-preview[bot] opened #4351 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-08-15 15:42] #4351 closed, assigned to nobody

[2018-08-22 20:35] baimafeima opened #7844 "Cancel request doesn't work"
Canceling a request of someone who has disappeared (either by blocking me or by leaving the Wire platform I suppose) doesn't work. See attached screenshot for further info.

Wire version: 3.2.0-undefined
Wire for web version: 2018.08.22.0738
Operating system: Solus 3
Which antivirus software do you have installed: none

What steps will reproduce the problem?

1.  Add a person who either disappears

[2018-08-23 10:59] OmeGak commented on #408
Is this feature no longer available? After upgrading to 3.1.2822, emoji autocomplete is not working anymore.

[2018-08-25 17:24] Termuellinator commented on #698
not being able to zoom is my biggest issue with wire, so i'd be glad if this is implemented ^^

[2018-08-26 19:44] sd166 opened #4413 "Launching a web application with a local server"
## Wire for web version

## Browser version

Google Chrome 68.0.3440.106

## Installed browser addons

No

## Operating system

Linux admin 4.4.0-133-generic #159-Ubuntu SMP Fri Aug 10 07:31:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

## What steps will reproduce the problem?

1.  Change the server address to local.
2.  User authorization on the page http://IP_ADRRES:8888/login/#login
3.  Then, as

[2018-08-26 20:04] sd166 opened #4414 "How to start a web application"
When starting from the outside port 8888 is available and there it is only possible to authorize by phone number. Port 8088 from the outside is not available, but the application itself is running on it at the address http://IP_ADDDRES:8088/ aut and here it is possible to register authorization by phone or e-mail, etc.

help me please

[2018-08-29 18:31] max-baz opened #4454 "Initialization of screen sharing blocks audio"
## Wire for web version

Wire for Web Version 2018.08.22.0738

## Browser version

Wire for Desktop

## Installed browser addons

N/A

## Operating system

Arch Linux

## What steps will reproduce the problem?

1.  Start an audio-only 1:1 call
2.  Enable screen share

## What is the expected result?

Audio is not interrupted at any point of time

## What is the actual result?

While screen sharing

[2018-08-29 20:30] fermulator commented on #7014
ETA? - (it seems it works on Windows, but not on Linux)

[2018-08-29 20:31] fermulator commented on #7014
@rehoehle could you please update the headline to denote that also GIFs are missing? thx

[2018-08-30 07:21] gregor commented on #4454
@maximbaz Thanks for the report. Let me start by adding some technical explanation to the behavior you are seeing:

When we upgrade a call from audio-only to audio/video, the WebRTC `PeerConnection` has to be renegotiated in order to enable the new media type. Due to incompatibilities between Chrome, Firefox, and our own implementation on the mobile clients (unified vs plan B eg), we do not renego

[2018-08-30 07:22] gregor commented on #4313
@kworr A fix mitigating the situation has been deployed to production a few days agin. Can you confirm it is working for you now?

[2018-08-30 10:48] max-baz commented on #4454
You were right, I just tested carefully, it does reproduce in group calls. It seems I simply didn't notice this yesterday.

Thanks for the explanation, it is interesting to read 🙂 Regarding the idea of two parallel `PeerConnection`s, do you mean one dedicated for audio and one for screen sharing? Just curious, what about video part of the call, would that need to run on a third `PeerConnection`? B

[2018-08-31 06:04] kworr commented on #4313
Still the same error.

[2018-08-31 06:49] gregor commented on #4413
Thanks for bringing this up. We redesigned our login flow a while ago and apparently did not update the readme. This will be fixed with https://github.com/wireapp/wire-webapp/pull/4468. The goal `yarn start` should actually already open the page mentioned in this PR.

[2018-08-31 06:52] #4413 closed, assigned to nobody

[2018-08-31 06:53] gregor commented on #4313
@Yserz Can you please take a look?

[2018-09-04 14:37] bennycode commented on #4414
@sd166 Can you login with your Wire account on http://localhost:8080/page/auth.html?env=prod#login? If login doesn't work on the first try (showing "Unexpected Error"), then just try again.

Please report back if that works.

[2018-09-05 07:53] sd166 commented on #4414
This is if you try to authorize by phone at the address http://IP_ADDR:8888/login/#login
When I try to log in, I get an error in the console:

POST http://IP_ADDR:8080/login/send 403 (Forbidden)

[2018-09-05 08:10] sd166 commented on #4414
If you go to the address http://IP_addr:8080/page/auth.html, it displays the following error in the browser console:

![wire_webaap](https://user-images.githubusercontent.com/10991740/45079248-b2084880-b0fa-11e8-9903-cd37cce5a7a8.jpg)

When entering the user registration:

![wireapppppp](https://user-images.githubusercontent.com/10991740/45079369-11feef00-b0fb-11e8-9252-979e1f8b00cc.jpg)

After en

[2018-09-09 15:43] ghost commented on #4250
____________________________

[2018-09-11 16:08] lipis opened #4556 "Do not redirect the google bot to the unsupported page"
<img width="765" alt="screen shot 2018-09-11 at 19 03 18" src="https://user-images.githubusercontent.com/125676/45372564-02e5d880-b5f6-11e8-9463-2f7700980b13.png">

Example bot request: https://app.wire.com/?agent=Mozilla/5.0%20(Linux;%20Android%206.0.1;%20Nexus%205X%20Build/MMB29P)%20AppleWebKit/537.36%20(KHTML,%20like%20Gecko)%20Chrome/41.0.2272.96%20Mobile%20Safari/537.36%20(compatible;%20Googl

[2018-09-12 07:24] iliana opened #4558 "Chrome OS: app.wire.com always tells me I have Wire open in another browser when Chrome restarts"
## Wire for web version

2018-09-07-14-18-prod

## Browser version

Mozilla/5.0 (X11; CrOS x86_64 11021.5.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.7 Safari/537.36

## Installed browser addons

uBlock Origin

## Operating system

Chrome OS Version 70.0.3538.7 (Official Build) dev (64-bit)

(This is the dev channel, but I experienced this issue on the stable channel a few weeks ago

[2018-09-18 08:30] sd166 commented on #4414
When I try to log in, I get this error:
![222222221](https://user-images.githubusercontent.com/10991740/45674476-e259d900-bb35-11e8-83bb-2c4b1002160d.jpg)

If you go to swagger-ui there is no /self/consent

[2018-09-19 07:17] ghost opened #4604 "[User Experience] The UI looks good but is bad to use"
The Wire UI looks kind of slick but in my humble opinion, is kinda bad for newbies (and still comparatively less super clear to look at than all the other messengers I use after getting used to it).

I'll list the few things that bother me the most, and how other messengers compare:

1. **The chat messages visually blend a little into each other**, the reason being that they are only separated by

[2018-09-19 19:01] sd166 opened #4607 "Error login ( Not found /self/consent )"
When I try to login, I get an error that this command does not exist

![image](https://user-images.githubusercontent.com/10991740/45775097-7374a100-bc57-11e8-81f2-3ed083e5ccf3.png)
If you go to swagger-ui there is no /self/consent

[2018-09-19 20:54] Transisto opened #5571 "Getting Gifs from Giphy is a real PITA"
Been searching more than 10min for "elon musk weed"

This is Giphy's website with that search term.
![image](https://user-images.githubusercontent.com/388716/45780271-30043d80-bc2b-11e8-9174-add9fd782eca.png)

The results are just way too random.
![image](https://user-images.githubusercontent.com/388716/45780519-be78bf00-bc2b-11e8-8f25-66dfba76b550.png)
half the time it shows nothing
![image](http

[2018-09-24 10:02] tiago-loureiro opened #4647 "Allow running the webapp under docker using custom URLs"
[This branch](https://github.com/wireapp/wire-webapp/compare/docker) introduces a dockerfile which allows us to build and run the webapp inside docker, exposing it over port 5000. Furthermore, it allows it to be started with specific URLs for both the REST and the Websocket by modifying the _staging_ URLs in the generated scripts. You can also run this locally
by running `docker run -p 5000:5000 q

[2018-09-24 17:34] Transisto commented on #5571
Found a workaround.

Just search on giphy and copy past that unique number from the Giphy URL, 3oEduQAsYcJKQH2XsI in wire + gif.

From : `https://giphy.com/gifs/cat-lasers-cucumber-3oEduQAsYcJKQH2XsI`

[2018-09-24 19:35] xznhj8129 commented on #1001
This is still a problem

[2018-09-24 21:12] ghost commented on #5571
I agree with this piece of feedback, the GIF experience on Wire has a lot of room for improvement.
I hope to see this addressed in future releases.

[2018-09-26 06:34] GuTongWang commented on #1733
Using Segoe UI Emoji in win7, emoji color is black and white, is this problem solved? What is the solution?

[2018-09-28 09:10] max-baz commented on #4604
1. Settings > Devices and set "Verified" for each of your own devices.
1. Select a contact, click on their name in the top middle screen, select Devices and set "Verified" each of their devices.

After that, you will see a protected icon next to their name:

![image](https://user-images.githubusercontent.com/1177900/46199276-edb7bc00-c30e-11e8-9979-239c1aff017c.png)

As soon as you or they add a n

[2018-09-29 17:46] githubmavin commented on #7122
I can't believe this feature hasn't been implemented yet. It would not be very difficult to add and it would make the application so much better. Far too many contacts add stupid names or non-descriptive names and you have no idea who they are without any means of correcting it. Having the ability to rename or alias local contacts is an absolute necessity. The developers not taking this feature re

[2018-10-01 07:33] rummik commented on #4558
I'm seeing the same issue when starting Chromium 69.0.3497.81 with the "Continue where left off" startup option selected, so this doesn't seem to be Chrome OS specific

[2018-10-01 10:16] jcredmond commented on #930
Unfortunately, setting the user agent to chrome doesn't work on Mojave / Safari 12.

[2018-10-01 16:41] michaelahlers commented on #930
Sigh. Found that out, too, during the public beta.

[2018-10-02 13:35] gregor commented on #4313
We deployed a new version of the webapp with additional safeguard in place for platform detection. Does this work for you now?

[2018-10-02 13:36] gregor commented on #1443
The screensharing expereicne has been drastically improved. We took another look at the resolution we transmit. Text should be readable now when sending from the latest desktop apps.

[2018-10-02 13:36] #1443 closed, assigned to nobody

[2018-10-02 15:01] matthiasg commented on #1443
We tried this with 3.3 (windows -> mac and vice versa). Screen resolution is much improved but the darkening overlay every time the mouse moves is quite annoying.

Sadly electron crashes a lot when people switch screen sharing back and forth.

Also we are a little confused on how/whether double screen sharing is possible or not.

[2018-10-02 21:50] Transisto commented on #5571
Meme posting might be more important than you think for wide adoption.

Seems like gyphy has stopped allowing searched using unique identifier, making posting memes on Wire completely unusable.

https://giphy.com/search/l1KVaixq8xLxoHEti

[2018-10-03 13:57] kworr commented on #4313
Yep, works perfectly now!

[2018-10-03 13:57] #4313 closed, assigned to nobody

[2018-10-03 15:24] dbquarrel opened #5388 "1-day timed messages disappearing after 1 second"
Wire version: 3.3.2862
Wire for web version: 2018.09.28.1146
Operating system: macOS 10.12.6

What steps will reproduce the problem?

Cannot easily replicate. It might have to do with time zones between users being 12 hours separated but this is only a guess. Happens both on iOS versions and on macOS versions, doesn't matter which.

What is the expected result?

Message should expire after 1 day.

[2018-10-05 09:31] gregor commented on #1954
https://github.com/wireapp/wire-webapp/pull/4804

[2018-10-05 20:02] GiovanniMounir opened #4827 "{{config.CURRENT_VERSION_ID}} appears on a public IP"
## Wire for web version

2018-10-02-08-03-prod

## Browser version

Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36

## Installed browser addons

None.

## Operating system

## What steps will reproduce the problem?

1.  Clone the repository.
2.  Run `yarn start`.
3.  Go to IP:8888 and inspect the source code.
4.  appears on the 3

[2018-10-08 09:02] mattcoxonline commented on #5571
I agree with @Transisto on this one; the gif functionality needs a rework. It's sooo unreliable that I almost don't use it anymore and prefer to [search the web for gifs](https://www.bing.com/images/search?qft=+filterui:photo-animatedgif&q=skeleton%20dance), download and reupload them.

![oct-08-2018 10-58-49](https://user-images.githubusercontent.com/673542/46600095-683fc300-cae9-11e8-980c-a80b73

[2018-10-08 11:08] ayavorskiy commented on #4647
Hi, thank you for your effort related to making Wire-Webapp more accessible.
I was trying to run the docker image and test it using your stage server and got following error

http://0.0.0.0:5000/auth/ -> http://0.0.0.0:5000/auth/#createaccount after filling required fields I got
 "Unexpected error"
Failed to send email code NetworkError: "Cannot do "post" request to "https://staging-nginz-https.zi

[2018-10-08 23:40] ghost commented on #3118
Just an update, I still run regularly into this. Somehow can't believe I'm the only one... (and not once I wanted to actually type `:package:`, I'm sorry,...)

Any plans on a user survey or something? Do you have any sort of framework or checklist for doing some basic UX tests with users? I feel like this would be a really useful opportunity for something like that.

[2018-10-09 23:27] ayavorskiy commented on #4607
Hi, I managed to overpass this error by temporary commenting Consent modal window in file
/app/script/auth/page/ChooseHandle.jsx
[code]
Next level of errors comes after setting Nickname and starting http://localhost:8080/app

[2018-10-10 23:04] Transisto commented on #5571
GUYS!!!!

![image](https://user-images.githubusercontent.com/388716/46770771-c70a6580-ccbe-11e8-97ab-850dfc5a0fed.png)

![image](https://user-images.githubusercontent.com/388716/46770791-dc7f8f80-ccbe-11e8-867b-71fdf22fe07b.png)

![image](https://user-images.githubusercontent.com/388716/46770841-03d65c80-ccbf-11e8-9967-e15f3d68be86.png)

![image](https://user-images.githubusercontent.com/388716/46

[2018-10-11 01:38] mattcoxonline commented on #5571
The feature works different / better on the Android beta.

![mp4_20181011_032954_1](https://user-images.githubusercontent.com/673542/46775316-fb097900-cd06-11e8-8899-dcf6c2d63ac8.gif)

[2018-10-11 19:53] Transisto commented on #5571
You don't even need the beta for that.

I'm posting in /wire-desktop/ because that's the one that's broken.

![image](https://user-images.githubusercontent.com/388716/46828933-5caeff00-cd6a-11e8-837a-f2f830c24e36.png)

![image](https://user-images.githubusercontent.com/388716/46828953-68022a80-cd6a-11e8-8c98-993b35e26a71.png)

![image](https://user-images.githubusercontent.com/388716/46828977-75b7

[2018-10-11 21:02] mattcoxonline commented on #5571
I understand. I was just pointing out the different implementations between platforms. And that on Android the feature functions as you'd expect.

For what is worth, you need not post more examples with every response, @Transisto. I'm pretty sure your problem was understood with the first set of example images.

[2018-10-16 06:01] MakisH commented on #4558
Similar behavior with Rambox CE 0.6.1 (Electron 2.0.8, Chromium 61.0.3163.100).

[2018-10-19 22:18] gregor commented on #1954
We added a notification aware favicon. This was deployed to production earlier this week.

[2018-10-19 22:18] #1954 closed, assigned to nobody

[2018-10-22 21:27] kacperpaczos commented on #5388
I can't reproduce It.
Wire version: Version 3.3.2872
Wire for Web Version 2018.10.15.0814
Operating system: GNU/Linux

[2018-10-28 16:17] dbquarrel commented on #5388
It's very hard to reproduce as it doesn't always happen.

We have a bit more info on this.

For the sending side, it doesn't matter, it's happened when I've sent messages from iPhone or from Mac. The receiver is on an iPhone X. It's only happened in one direction, I send the message, he receives it, then it deletes for both of us.

What seems to trigger it is this:

1. sender and receiver are in a

[2018-10-30 07:31] strypey opened #5003 "Fennec browser unsuppott"
## Wire for web version

## Browser version

## Installed browser addons

## Operating system

## What steps will reproduce the problem?

1.  ...
2.  ...
3.  ...

## What is the expected result?

## What is the actual result?

[2018-10-30 07:32] #5003 closed, assigned to nobody

[2018-10-30 23:25] Transisto commented on #5571
https://github.com/wireapp/wire-webapp/pull/4760

Guys ..... This fix seems like it's just about changing the sorting parameter.

[2018-10-31 21:44] clankwright commented on #1192
I was having this error earlier also with Firefox 63.0, now it's gone, but says this: "You are in private mode. Wire needs access to local storage to display your messages. Local storage is not available in private mode."

But I'm not in private a private mode tab. Can't use the app at all, all I get is this page.

[2018-11-02 10:01] Wurzelkoch opened #5387 "Message timers in group expire earlier than expected for sender"
Wire Version 3.0.2816
Wire für Web Version 2018.10.23.1205
Operating system: Debian 9
Which antivirus software do you have installed: None

What steps will reproduce the problem?

1.  Write message to group chat
2.  wait some minutes
3.  read group chat

What is the expected result?
My own messages should appear.

What is the actual result?
In one of my group chats, several people with different d

[2018-11-04 17:21] ghost opened #5051 "request: support tor browser"
tor browser doesnt get past the loading page

[2018-11-05 08:41] ffflorian commented on #5387
@Wurzelkoch are the messages disappearing in the chat in which the timed messages are set to 1 week?

[2018-11-05 08:51] Wurzelkoch commented on #5387
Yes. The Problem was experienced in one of at least two group chats with timed messages at 1 week.

[2018-11-05 09:04] ffflorian commented on #5387
@Wurzelkoch this is by design. The [Wire FAQ for timed messages in groups](https://support.wire.com/hc/en-us/articles/360001255925-How-can-I-set-a-global-timer-for-all-messages-in-a-conversation-) states:

And this means, it will disappear for everyone, including yourself.

[2018-11-05 09:19] Wurzelkoch commented on #5387
No, this is not the expected behavior: Messages do not dissapear after 1 week, but after some minutes. They do not disappear for everyone but only for the author.
I now anonymized two screenshots made at the same time from two different accounts (but at the same device) some 10 minutes after the messages were sent (that is well before timeout)
![wiregz](https://user-images.githubusercontent.com/96

[2018-11-05 09:32] ffflorian commented on #5387
@Wurzelkoch ah okay, now I understand. I took the liberty to edit your issue title and we will definitely look into this. Thanks for reporting!

[2018-11-05 09:37] Wurzelkoch commented on #5387
OK, your (second) issue title meets my findings.
Maybe I can add what I did not stress clearly before: This affects only text messages. Posted images are not affected.
I had posted the screenshots in the affected chat as well and now I can see the images but not my descriptions added to the images.

[2018-11-05 14:48] bennycode commented on #5051
Hi @kb8000, thanks for making us aware of this. Can you please provide the user agent of your browser? For now we don't have the resources to test the compatibility of Tor browser but we might consider it for the future.

[2018-11-05 14:52] bennycode commented on #4827
Hi @GiovanniMounir, thanks for reporting the issue. We will address it with the following PR: https://github.com/wireapp/wire-webapp/pull/4946 👍

[2018-11-05 14:52] #4827 closed, assigned to nobody

[2018-11-05 14:57] bennycode commented on #4558
@ilianaw Browser tab detection works with cookies. Can you reproduce the issue with a browser that does not have uBlock installed?

[2018-11-05 14:57] bennycode commented on #4556
@lipis Let's track this in Jira.

[2018-11-05 14:57] #4556 closed, assigned to nobody

[2018-11-06 10:03] ghost opened #5067 "Feature request → Change phone number"
Browser: Firefox 63
OS: Debian Stable

Feature request: add ability to change phone number from web-interface just like in mobile app.

[2018-11-09 19:13] Nurmagoz opened #9455 "Multiple devices fingerprint verfication flaw"
(This is actually a problem and a feature request on the same time)

Wire version: Version 3.3.2872
Wire for Web Version 2018.11.05.1121
Operating system: Debian 9

What steps will reproduce the problem?

1.  add a friend
2.  let your friend login to his account through multiple devices
3.  you will see multiple devices with multiple fingerprints as well (naturally)
4. verify one of his devices
5.

[2018-11-12 16:51] bennycode commented on #5383
@jack-cole What happens if you send the same GIF from desktop? Will it then loop?

[2018-11-16 05:26] dependabot-preview[bot] opened #5167 "Dependabot couldn't find a requirements.txt for this project"
Dependabot couldn't find a requirements.txt for this project.

Dependabot requires a requirements.txt to evaluate your project's current Python dependencies. It had expected to find one at the path: `/aws/requirements.txt`.

If this isn't a Python project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabo

[2018-11-16 14:13] ffflorian commented on #5167
Fixed by removing Python checks for `wire-webapp`.

[2018-11-16 14:13] #5167 closed, assigned to nobody

[2018-11-18 14:46] v0s opened #5176 "Improve message reply UI"
## Wire for web version

2018.11.15.1314

## Browser version

Wire Desktop v3.3.2868

Thanks for adding message replies to Wire! I have a few minor suggestions about the UI, based on Telegram messenger which has a nice and well-thought interface.

## Message reply shortcut

Currently Wire provides a message reply option in "..." menu next to the message.

![Wire reply button demo](https://img.vos.

[2018-11-18 21:58] Transisto opened #5386 "Screenshare grayed out when mouse over."
Then mouse is on top of the screenshare it become grayed out as it pop-up the bottom buttons.

![image](https://user-images.githubusercontent.com/388716/48678571-1d3ab600-eb53-11e8-8bf2-b0fcdc48973b.png)

Should be the opposite at worst.

[2018-11-19 09:36] ffflorian commented on #5386
Hi @Transisto, I am not sure if I understood you correctly. What exactly happens with your pointer? Is it invisible? When does this happen?

[2018-11-19 11:13] jennifergoertzen commented on #5176
Hi @v0s,

@bennyn passed along your feedback to me. I’m on the design team at Wire.

Before I jump in, thank you for taking the time to write this out and include examples from both apps. It’s awesome to have a piece of software that not only do people use but they care enough to help it become better.

### Message reply shortcut

The shortcut in Telegram is a great way to reply faster. We’re look

[2018-11-19 12:40] #529 closed, assigned to nobody

[2018-11-19 13:28] jennifergoertzen commented on #4604
Hi @JonasT

@bennyn passed along your feedback to me. I’m on the Design team at Wire. I apologize for the late reply.

First and foremost, thank you for sharing this feedback with us. It’s awesome to have a piece of software that people not only use but also want to push it to be better.

**The chat messages visually blend a little into each other.**
I agree with your point about visually blending

[2018-11-19 13:47] ghost commented on #4604
@ sidebar: I thought for a second I was looking at my own user profile or something. Of course I realized I was wrong a moment later, but the initial impression is just a tad confusing. I think the reason is that it doesn't describe what the list below is, while placed like a title above it. I think something more verbose like "Contacts for `<myaccount name>`" which accurately describes the list w

[2018-11-19 14:56] jennifergoertzen commented on #4604
That makes a lot of sense. When using other apps, we're accustomed to seeing our own name above info about us. Thanks for the additional info, that's really helpful.

[2018-11-19 16:30] Transisto commented on #5386
The whole screenshare become darker when cursor is over it

On Mon, Nov 19, 2018, 04:36 Florian Keller <notifications@github.com wrote:

[2018-11-20 11:21] jennifergoertzen commented on #5386
Hi @Transisto,

I'm on the Design team at Wire. The behaviour you see here is intentional. Sometimes what is visible on the screenshare/video is a similar colour to the buttons—such as mute, video, etc—so they blend in. If your mouse is moving over the Wire window, there is a chance you want to click one of those buttons. We darken the screenshare/video to make the buttons easier to see (and click

[2018-11-22 13:15] ayavorskiy opened #5197 "Missing PASSWORD_RESET source code. Source code for account and teams."
Dear Wire developers,
Can you please share source code for https://account.wire.com and https://teams.wire.com which both are set in
https://github.com/wireapp/wire-webapp/blob/dev/app/script/config.js#L98 and https://github.com/wireapp/wire-webapp/blob/dev/app/script/config.js#L103

In current source codes it's seems to be missing PASSWORD_RESET: '/forgot/', feature

Thank you for your efforts an

[2018-11-22 13:37] ayavorskiy commented on #4647
Sorry for disturbing regard my question above, error related to CORS in Google Console clearly show the root cause of issue. I successfully deployed wire-webapp and wire-server with SSL certs and properly working calls and video. The only real issue that remains is some part (forgot password feature; accounts and teams) of source code which is missing https://github.com/wireapp/wire-webapp/issues/

[2018-11-22 13:38] ayavorskiy commented on #4607
Maybe better way to avoid this issue is to set false in FEATURE_CHECK_CONSENT setting
https://github.com/wireapp/wire-webapp/blob/dev/.env#L13

[2018-11-22 14:51] #776 closed, assigned to nobody

[2018-11-23 10:15] ffflorian commented on #5386
@Transisto are there any more questions regarding this?

[2018-11-23 16:31] Transisto commented on #5386
I know the behavior was intended to highlight the buttons but when
screencasting most people would make wire full screen and there isn't much
place to store the mouse cursor naturally.

On Tue, Nov 20, 2018, 06:21 jennifergoertzen <notifications@github.com
wrote:

[2018-11-26 23:34] shvchk commented on #9455
Just a note. You can distinguish between fully verified and not verified chats by blue shield icon, which appears only when you have verified all your friend's devices.

[2018-11-27 11:04] jennifergoertzen commented on #5386
If your cursor remains static then the screen should remain bright with no buttons. Does it remain darkened for you even when your cursor is still?

[2018-11-27 14:54] bennycode commented on #4647
@ayavorskiy Since you have been able to deploy our webapp and server, can we close this ticket and continue the conversation in https://github.com/wireapp/wire-webapp/issues/5197?

[2018-11-27 16:09] ayavorskiy commented on #4647
@bennyn this ticket was originally created by your team member @tiago-loureiro as checklist but if only my comments hold it to be closed, it should be closed :)

[2018-11-27 16:34] bennycode commented on #4647
Ok! The topic got solved with https://github.com/wireapp/wire-webapp/pull/4946.

[2018-11-27 16:34] #4647 closed, assigned to nobody

[2018-11-27 16:36] bennycode commented on #5067
@timur-davletshin As written in our [issue template](https://raw.githubusercontent.com/wireapp/wire-webapp/2018-11-15-13-14/.github/ISSUE_TEMPLATE.md), please raise feature requests [here](https://github.com/wireapp/wire/issues).

[2018-11-27 16:36] #5067 closed, assigned to nobody

[2018-11-27 16:37] #4142 closed, assigned to nobody

[2018-11-27 17:29] raphaelrobert commented on #5197
Hi @ayavorskiy,

This is correct, the source code for that is not published as of yet. We are currently working on refactoring the code behind `account.wire.com` and are considering open sourcing it once that is process is finished.
`teams.wire.com` is our team management and billing solution. It is not something that is needed for Wire Pro on-premise installations as such and therefore we will no

[2018-11-28 19:18] kinghat opened #5218 "scrollbar styling"
## Wire for web version
Version 2018-11-15

## Browser version
chrome 70 stable

## Operating system
linux

can you make it so the scrollbar can be easily styled by users?
![image](https://user-images.githubusercontent.com/16073360/49175940-57544680-f30f-11e8-8499-b43398118e44.png)
implementing my own proper dark theme and would like to use my own as below:
![image](https://user-images.githubuserc

[2018-11-29 08:50] MatthiasBergen commented on #7014
Would be really helpful to have a button for smilies like it is in the whatsapp desktop client! Autocomplete is cool but there a some smilies where i don't know how to find them.

Thx

[2018-11-29 08:50] MatthiasBergen commented on #7014
@fermulator

Start typing and the "GIF"-Button appears...

[2018-11-29 08:59] MatthiasBergen commented on #5571
it would be very helpful to just search for a GIF and insert it. Now I have to start typing and with these words Wire is trying to find a GIF thats fit.

First: I want to search for a GIF separated from my message
Second: For now I am placing a fitting word into my message to find the right GIF and this word keeps staying in my message because this is the only place where I can type...but I don't

[2018-11-29 09:11] MatthiasBergen opened #5385 "GIF is looping forever"
Hi there!

I am using desktop app version 3.4.2885 on Windows 10  PRO Version 1803.

When sending a GIF in one of my chats this is looping forever :-(

[2018-11-29 09:42] fungs opened #5221 "Missing video overlay when accepting call"
## Wire for web version

Latest online.

## Browser version

Electron via Rambox (based on Chromium)

## Operating system

Linux x86_64

## What steps will reproduce the problem?

Accept a video call.

## What is the expected result?

Video overlay should be shown.

## What is the actual result?

Call is established but no video shown, not sign that the call is actually ongoing. However, everythin

[2018-11-29 11:40] ffflorian commented on #5385
Hi @MatthiasBergen,
what do you mean it is looping forever? There are different types of GIFs, some loop forever and some stop after the first loop.

[2018-11-29 11:55] MatthiasBergen commented on #5385
Ok. How can I check this? I mean I am clicking the GIF button, selecting a GIF and press "Send". Thats it..

[2018-11-29 12:42] ffflorian commented on #5385
The preview shows the behaviour of the GIF. If it loops forever in the preview, it will loop forever in the chat. Otherwise, it will stop after one loop.

Did this clear things up? :slightly_smiling_face:

[2018-11-29 13:11] MatthiasBergen commented on #5385
ok :-) Thanks..now I unterstand it. Thats why it also loops forever in the iOS app ;-)

Is it possible to control this behavior, for example setting a limit for loop or is there something planned to be implemented in a future release like a start/stop mechanism?

[2018-11-29 13:34] ffflorian commented on #5385
No, there is nothing planned like that because it would be very uncommon to do so. It is up to the creator of the GIF to set how often the GIF will loop. Sorry :slightly_smiling_face:

[2018-11-29 13:54] MatthiasBergen commented on #5385
Maybe this can be a future request 😄 because if I send exactly the same GIF in whatsapp desktop client, it will automatically stop after 3 times of repeating.

[2018-11-29 13:55] ffflorian commented on #5385
Interesting! Thanks for the suggestion :slightly_smiling_face:

[2018-11-29 13:59] MatthiasBergen commented on #7014
After going through the support article I found that pressing "windows key" + "." does exactly what I need 😄 so...imho there is no need for a button 😝 maybe a small introduce when starting with wireapp on windows would be helpful because nobody is looking into support-notes today...I guess 🙄 and coming from whatsapp client I was used to have a button for smilies...

[2018-11-29 19:32] ghost commented on #5051
@bennyn @ffflorian tor browser version 8.0.3

error message:

You are in private mode
Wire needs access to local storage to display your messages. Local storage is not available in private mode.

[2018-11-30 21:33] alexxcons commented on #7014
IMO a shortcut which only can be found when reading the doc (or via tutorial) is a bad idea. There is plenty of free space on which a button could be placed.

I just as well checked the support. Only found [this article](https://support.wire.com/hc/en-us/articles/203629130-How-can-I-add-emojis-to-my-conversations-). So it looks like it is only an issue for some OS, not for all. Here on Linux, ther

[2018-12-02 02:27] Nurmagoz commented on #9455
@shvchk

Not really , you can only see which device has been verified but you cant see which text is coming from (the verified or the non-verified) :

![wire1](https://user-images.githubusercontent.com/11895339/49334930-a03f2000-f5d9-11e8-84f6-e691c2a96911.png)

![wire2](https://user-images.githubusercontent.com/11895339/49334933-b056ff80-f5d9-11e8-80b6-e3647f6bae58.png)

[2018-12-02 02:38] shvchk commented on #9455
When **all** your friend's devices are verified, a shield appears for the whole conversation, not just specific device. Here is what I meant:
![](https://i.imgur.com/3pfXlAa.png)

[2018-12-02 02:50] Nurmagoz commented on #9455
That still doesnt solve the issue i noted above. When someone text you from different device were your friend already hacked/tricked or MITM..etc you cant know that inside the text.

so its better if that shield can fit somewhere within the text or per message.

[2018-12-02 02:57] shvchk commented on #9455
Yeah, that's why I said that was "just a note" :wink: It helps when you verified all your friend's devices first, so when new device appears, this shield on top of the conversation screen disappears, and everything from this moment on can't be 100% trusted until you verify new device.

[2018-12-02 10:09] felixse opened #5263 "Not working in Edge 18"
## Wire for web version

app.wire.com

## Browser version

Edge 18 (User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36 Edge/18.17763)

## Installed browser addons

## Operating system

Windows 10 1809

## What steps will reproduce the problem?

1.  Open https://app.wire.com in Edge

## What is the expected result?

WebApp

[2018-12-02 20:51] MatthiasBergen commented on #7014
@alexxcons
You are right. This is an OS specific issue: https://support.wire.com/hc/en-us/articles/360000345958-How-can-I-add-emojis-to-my-conversations-

Also I am slowly getting used to the auto-completion and I have to say that this is a very cool feature. Its a bit nerdy 8-)

[2018-12-03 15:05] bennycode commented on #5263
I can confirm this bug. Thanks for letting us know. Edge 17 also doesn't work. We will get this fixed!

Edge 17 user agent:

[2018-12-03 15:08] bennycode commented on #5218
We are working on a concept to have themes but it might take some time until it gets into our production code but we are definitely on it! 😎

[2018-12-04 12:52] mythsunwind commented on #5051
The reason for not supporting Tor **browser** are described here: https://github.com/wireapp/wire-webapp/issues/1882#issuecomment-346298159

You can also find instructions how to use wire on Tor through the socks proxy implementation in the above issue.

[2018-12-04 12:52] #5051 closed, assigned to nobody

[2018-12-04 14:49] mythsunwind commented on #5221
Rambox is based on Electron 2 which includes an old version of Chrome 61. We recently released our wire-desktop application which is based on amuch newer version of Electron (3) and Chrome (66). I can remember that we skipped version 2 of Electron also because of some calling issues.

Can you check if you have the same issue on wire-desktop or with a more recent Chrome on app.wire.com?

[2018-12-04 22:09] Transisto opened #7015 "[Web] No way to see dates when looking at history unless scrolling to the beginning of that day."
Some daily conversation can spread to many pages, when using the search function to find something in the history there is no way to see more than the time unless scrolling up a lot.

Suggestion write date next to time when it didn't happen today.
or on click

![image](https://user-images.githubusercontent.com/388716/49476197-4c098b00-f7e7-11e8-96c1-1cadedd6c89e.png)

[2018-12-05 09:58] fungs commented on #5221
I will test again to see, if the problem persists. It only recently happened, so the code changes cannot be too old. I would say, it is important to not only support latest chrome, but to make sure it runs in all newer browsers. Otherwise, you are cutting off all those users who, for good reasons, cannot or don't want to upgrade to latest chrome. There are a lot of platforms and OS where you are s

[2018-12-05 10:05] mythsunwind commented on #5221
Even though I agree with you that it is important to not only support latest browser versions, Google makes it very hard for us to do so. Not only is WebRTC (which is used by video and audio calling) changing sometimes with every release and we have to build in workarounds for it, but also Google does not officially provide a way to get older versions of their browser. And: The Chrome updater mech

[2018-12-05 10:18] fungs commented on #5221
Sad situation, I'm not a web dev. Now it's only chrome and firefox left on the market.

What about using [Selenium](https://www.seleniumhq.org/) or similar. For instance, https://www.browserstack.com/list-of-browsers-and-platforms/ has all the chrome versions available for testing.

[2018-12-05 11:17] ffflorian commented on #7015
Hi @Transisto,
this is already implemented. The date is displayed above the first message of the day.

![screenshot from 2018-12-05 12-16-58](https://user-images.githubusercontent.com/5497598/49510177-b70a9e80-f887-11e8-8e0e-f45b6491bfd4.png)

[2018-12-07 01:52] Transisto opened #7016 "[Web] Reset all sessions at once. (very tedious when changing hardware)"
We have groups with 200 people, I changed hardware and now everyone is complaining their's not getting my messages.

Is there any way to not have to click reset session for all +200 of my wire contacts?

[2018-12-10 20:28] Transisto commented on #7016
it's so bad, not only do I have to reset session with everyone I have to reset for all of their devices.

[2018-12-11 19:50] piegamesde commented on #1440
![image](https://user-images.githubusercontent.com/14054505/49826011-256ac780-fd86-11e8-973d-c7d8553a4ce5.png)
If have this issue too, the workaround didn't work for me. Deleted the cookie and after every crash of Chromium I get this screen again.

[2018-12-12 08:41] ffflorian commented on #5386
@Transisto any update on this? If not, I'll close this due to inactivity.

[2018-12-17 10:20] #5386 closed, assigned to nobody

[2018-12-17 22:28] ghost opened #10811 "[Desktop] Stretch(large) Video Call Window During Chat"
wire-desktop application within start video call able see large screen video call window properly, however when open chat window then video screen become very smaller as useless.

------------

wire screen - 1
![screenshot_2](https://user-images.githubusercontent.com/45872460/50119317-050aa380-0285-11e9-896d-0a5740e3e117.png)

wire screen - 2
![screenshot_1](https://user-images.githubusercontent.c

[2018-12-19 13:14] piegamesde opened #5486 ""Wire is already open in this browser" after killing chromium"
## Wire for web version

2018-12-04-14-24

## Browser version

Chromium Version 71.0.3578.98 (Official Build) Arch Linux (64-bit)

## Operating system

Arch Linux

## What steps will reproduce the problem?

1.  Open Wire in a browser and log in.
2.  Crash the PC
3.  Reboot and open chromium again

## What is the expected result?

1. Chromium asks you to restore the crashed pages (Click OK).
2. The

[2018-12-19 13:58] piegamesde commented on #5486
It seems that killing chromium and waiting a few minutes is enough to reproduce it.

[2018-12-20 05:53] dbquarrel commented on #5388
As an update this is happening with all my contacts now rather than just one.

[2018-12-24 07:28] Jwes115 commented on #1001
this is still a problem

[2018-12-27 05:27] ghost commented on #7014
People who use Linux can download gnome characters. It works well with wire.
https://snapcraft.io/gnome-characters

[2018-12-29 12:18] odwcalvin commented on #7122
See it the same way as my prespeakers! This shouldn't be closed at all - it's a feature-(future)-request and isn't done. It is one of the most discussed topics (top10 on issues; even higher on feature-requests).
It would be a huge 'selling' point if you could rename the contacts locally. Especially as the names are very anonymous/cryptic and you want to be in control to whom you are speaking to.

[2019-01-03 10:42] ffflorian commented on #5570
@cardassian-tailor this should be fixed by now. Can you please check if it's fixed for you, too?

[2019-01-03 12:06] max-baz commented on #5570
It's not, make sure you test with photos in portrait orientation (or just very narrow long images). In the conversation view, images take as much space as needed to show it, but if you click on the picture, Wire re-scales it to make sure it fits on the screen — and in case of pictures with big height, this causes the picture to shrink.

This is really a webapp issue though, probably a duplicate of

[2019-01-03 12:10] ffflorian commented on #5570
Thanks @maximbaz!

[2019-01-03 15:48] cardassian-tailor commented on #5570
yeah same i had tested this earlier but didnt have time to respond. It appears to be fixed for non-portrait photos from what I can tell (though that needs more testing) but its definitely not fixed for portrait photos.

[2019-01-03 16:16] cardassian-tailor commented on #698
I must say, the effects of the current implementation should, IMO, be viewed as a bug because it violates what the user expects the application to do.

When viewing an image that has been shrunk to fit within the window bounds - the user expects that click to show the image either in a zoomed state, or in another window that permits zooming. Neither of that occurs here. The implied suggestion, I s

[2019-01-05 15:13] pete-willard commented on #1846
It's 2019 and this is still an issue unfortunately

[2019-01-07 09:34] ffflorian commented on #5486
Closing as duplicate of https://github.com/wireapp/wire-webapp/issues/4558.

[2019-01-07 09:34] #5486 closed, assigned to nobody

[2019-01-07 11:54] piegamesde commented on #4558
@bennyn I can reproduce this without any relevant extensions installed, but only when crashing/killing chrome

[2019-01-10 08:51] eknoes opened #5592 "Wire does not load, Error: BaseError"
## Wire for web version
Current Web version: 2019-01-08-13-20

## Browser version
Mozilla/5.0 (X11; Linux x86_64; rv:64.0) Gecko/20100101 Firefox/64.0

## Installed browser addons
None, also happens with addons disabled

## Operating system
Arch Linux, Kernel 4.20.0-arch1-1-ARCH

## What steps will reproduce the problem?
1. Open https://app.wire.com

## What is the expected result?
Show the web ap

[2019-01-10 08:55] eknoes commented on #5592
I just discovered, that two XHR Requests get HTTP 401/403:
![xhr-requests](https://dl.eknoes.de/wire-network.png)

[2019-01-10 08:57] eknoes commented on #5592
I think I discovered the issue, sorry for so many comments. I will create a new issue concerning the  problem.

[2019-01-10 08:57] #5592 closed, assigned to nobody

[2019-01-10 09:01] eknoes opened #5593 "No redirect after password change on different device"
*Follow up to #5592*
## Wire for web version
Current Web version: 2019-01-08-13-20

## Browser version
Mozilla/5.0 (X11; Linux x86_64; rv:64.0) Gecko/20100101 Firefox/64.0

## Installed browser addons
None, also happens with addons disabled

## Operating system
Arch Linux, Kernel 4.20.0-arch1-1-ARCH

## What steps will reproduce the problem?
1. Change your password
2. Open https://app.wire.com on

[2019-01-11 17:07] ffflorian commented on #2771
By the way, this was implemented in https://github.com/wireapp/wire-webapp/pull/5415 and will be published soon :tada:

[2019-01-11 17:08] ffflorian commented on #83
By the way, this was implemented in https://github.com/wireapp/wire-webapp/pull/5415 and will be published soon :tada:

[2019-01-11 23:26] Viss commented on #2771
hell yes!

[2019-01-18 22:43] husseinalsukkar opened #5655 "error yarn"
[root@iraqq wire-webapp-dev]# yarn start
yarn run v1.13.0
$ yarn build:server && grunt build && concurrently "yarn start:server:dev" "grunt watch"
$ cd server && yarn build
$ yarn clean && tsc -P tsconfig.json && node ./bin/copy_server_assets.js && node ./bin/create_commit_sha_file.js
$ rimraf ./dist/
/bin/sh: rimraf: command not found
error Command failed with exit code 127.
info Visit https://ya

[2019-01-18 23:34] ghost commented on #7015
Exactly. The date is displayed *above* the first message of the day. As @Transisto pointed out this means that to check the date the user always has to scroll up until they reach the first message the day. This can be less than ideal when dealing with long conversations.
WhatsApp handles this UI issue pretty well. You should check that out.

[2019-01-21 09:03] ffflorian commented on #7015
I see. Added to the feature request list :slightly_smiling_face:

[2019-01-21 11:11] ghost opened #5659 "Flickering since last update"
## Wire for web version

2019-01-17-15-08

## Browser version

Mozilla/5.0 (X11; Linux x86_64; rv:64.0) Gecko/20100101 Firefox/64.0

## Installed browser addons

uBlock + uMatrix

## Operating system

Debian 9/stable

1.  Open personal or group chat
2.  Hover mouse over white pane

## What is the expected result?

Normal operation

## What is the actual result?

Serious flickering issues (no corru

[2019-01-21 11:49] baimafeima commented on #7844
@bennyn Any updates on resolving this issue?

[2019-01-21 14:15] ffflorian commented on #5655
Hi @husseinalsukkar,
you forgot to run `yarn` before building.

[2019-01-21 14:15] #5655 closed, assigned to nobody

[2019-01-21 15:28] husseinalsukkar commented on #5655
ffflorian

root@iraqq:~/wire-webapp# yarn start
yarn run v1.13.0
$ yarn build:server && grunt build && concurrently "yarn start:server:dev" "grunt watch"
$ cd server && yarn build
$ yarn clean && tsc -P tsconfig.json && node ./bin/copy_server_assets.js && node ./bin/create_commit_sha_file.js
$ rimraf ./dist/
/bin/sh: 1: rimraf: not found
error Command failed with exit code 127.
info Visit https://

[2019-01-21 15:29] husseinalsukkar commented on #5655
root@iraqq:~/wire-webapp# yarn run
yarn run v1.13.0
error There are no binary scripts available.
info Project commands
   - build:prod
      yarn build:server && grunt build_prod
   - build:server
      cd server && yarn build
   - build:style
      node ./bin/less.js
   - bundle:dev
      webpack --config webpack.config.dev.js --progress
   - bundle:prod
      webpack --config webpack.config.prod

[2019-01-21 15:45] ffflorian commented on #5655
Not `yarn run`, but `yarn install`.

[2019-01-21 18:40] husseinalsukkar commented on #5655
How?

في الاثنين، ٢١ كانون الثاني، ٢٠١٩ ٥:٤٥ م، كتب Florian Keller <
notifications@github.com>:

[2019-01-22 09:25] ffflorian commented on #5655
https://yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-install

[2019-01-22 13:09] ayavorskiy commented on #5197
Hi @raphaelrobert ,
Any updates on this issue or possible date that we could rely on?

[2019-01-22 16:37] raphaelrobert commented on #5197
Hi @ayavorskiy, this is still work-in-progress at the moment.

[2019-01-22 19:34] neongreen commented on #930
It works on Safari Technology Preview now if you set the user agent to Chrome, but the UI is slightly buggy.

[2019-01-25 00:35] husseinalsukkar commented on #5655
I made a format for the VPlS. Can you give me the installation orders
accurately

في الثلاثاء، ٢٢ كانون الثاني، ٢٠١٩ ١١:٢٥ ص، كتب Florian Keller <
notifications@github.com>:

[2019-01-27 03:44] different55 commented on #7845
Also seeing this. My girlfriend doesn't have the most stable internet and our calls end up dropping far more on Wire than any other platform.

Most hiccups are only barely long enough to make Wire freak out. Others can last several minutes, and it's a bit understandable to give up there but the majority of these hiccups aren't even big enough for her to even notice if it weren't for Wire abandonin

[2019-01-27 04:34] different55 opened #9868 "2-way call displays as a 4-way call when spamming calls on a recovering internet connection"
Wire version: 3.5.2881
Wire for web version: 2019.01.17.1508
Operating system: Debian Sid fully up to date as of Jan 26, 2019.
Which antivirus software do you have installed: None

What steps will reproduce the problem?

1.  Enter 2 way call
2.  Ask other party to temporarily disable WiFi temporarily to trigger the call to disconnect.
3.  Immediately try to resume the call as soon as messages star

[2019-01-27 04:37] different55 commented on #9868
Oh, nearly forgot. This effect is persistent and later calls, at least with the same person, all have this effect.

[2019-01-28 21:32] CalebBurton opened #5702 "Markdown headers not appearing on web"
## Wire for web version

 2019-01-28-15-08

## Browser version

Firefox Quantum Version 64.0.2 (64-bit)
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:64.0) Gecko/20100101 Firefox/64.0

## Installed browser addons

uBlock Origin, Privacy Badger, Decentraleyes, HTTPS Everywhere

None of these show that they're blocking anything on the page, and the console log is clean.

## Operating system

MacO

[2019-01-31 02:48] Transisto opened #7017 "[Web] Can't go from once conversation to another without moving around a cursor."
CTRL-N moves me to search but I don't see how to select the result of the search without reaching to the mouse.

Also if search is already open, opening the search again with CTRL-N should bring your cursor to the search.

If you want to compete with other collaboration tools this is needed.

[2019-02-01 07:13] ghost opened #7018 "[Web] Allow desktop Wire client to make call or answer voice/video calls even no camera, microphone on the device"
#### Allow Wire Desktop application to make or answer audio and video calls even no camera, microphone on the device or disabled access to them
 That is especially fever for desktop computer users or at any *urgent time(emergency), *hardware failures regardless desktop computer or laptop etc.

#### Regarding the notification message
   While client application allows to make or answer both video a

[2019-02-03 18:14] ghost opened #5716 "Please stop using CloudFlare"
Your [support page](https://support.wire.com/) is in the privacy-abusing private walled-garden of CloudFlare.  It's embarrassing when a end-user-privacy-focused project makes use of CloudFlare and it's bad for their credibility.  Note there is a browser [add-on](https://addons.mozilla.org/en-US/firefox/addon/detect-cloudflare-plus/) for non-Tor users to also detect dodgy CloudFlare sites.

# Probl

[2019-02-03 19:37] vith opened #7019 "[Web] fullscreen view for shared images/videos"
Shared images can be clicked on to open a slightly larger view (although lacking fullscreen), but video playback is only available in the tiny default size. A fullscreen button for both would be great.

[2019-02-03 22:30] odiferousmint opened #7020 "[Web] Fix fixed width of contact list, add button to hide/show contact list"
By default Wire takes up way too much space, and you can't customize it. I reckon it is because the contact list has a fixed width, and the size of the window does not affect it. There is just way too much space after the names, which could be greatly reduced by adjusting it to the size of the window.

It would be even better if you could hide (toggle) the contact list with a fancy button (or a se

[2019-02-03 22:34] odiferousmint opened #7021 "[Web] Page up/down for scrolling"
You should be able to scroll up and down via the page up and down keys.

Edit: I know that this is not a discussion board, and the reason I submitted my feature request is that it is strictly limited to the desktop version of Wire.

[2019-02-04 00:36] ghost opened #6489 "Webapp incorrectly detects 'private mode'"
System:
firefox-esr 60.5.0esr
Debian 9.7 64 bit
Gnome 3.22.2

Problem:
Trying to login to the webapp at app.wire.com, I get:
'You are in private mode.
 Wire needs access to local storage to display your messages. Local storage is not available in private mode.'
I am not in private mode. However, I use a lot of browser privacy and security features. I have turned most of these off but it doesn't se

[2019-02-05 23:56] husseinalsukkar opened #5730 "error bower"
root@admin:~/wire-webapp# yarn install
yarn install v1.13.0
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
info There appears to be trouble with your network connection. Retrying...
info fsevents@1.2.4: The platform "linux" is incompatible with this module.
info "fsevents@1.2.4" is an optional dependency and failed compatibility check. Excluding it from ins

[2019-02-07 18:03] ghost opened #5754 "Blank Log-In page on Firefox"
*Nevermind. Bugs are not addressed and getting worse so giving up on Wire. The promise to never leave the Personal branch behind in favor of an Enterprise product has been broken like every other project that says that. My fault for falling for it again. The Personal account sign up has even been buried on the website using dark patterns so people likely won't even know it's an option were they wi

[2019-02-07 18:08] ghost commented on #5388
Still happening to me regularly as well along with a log-in bug now. It's very frustrating and feels like since WirePro the regular version has been left behind as bugs increasing. Looking for alternatives now as regular bugs are getting on everyone of my contacts nerves to the point they dont want to bother using it.

[2019-02-07 20:18] dbquarrel commented on #5388
If anything it is worse now for me. This is happening many times a day
and I've had to work out a protocol with my contacts about not repeating
to me that the message disappeared as I can see it disappear too and
that I already know I have to type up my message again.

To me the overall thrust is clear.

UI candy and toys that look good on advertising is being prioritized
over system and data inte

[2019-02-07 23:54] ghost commented on #5388
I imagine they are just allowing it to rot to drive people to Pro and shed anyone who isn't willing to pay. This is how it ALWAYS goes even when companies say they "would never do that". There have been periods of maybe weeks at a time things have MOSTLY worked for me but never more than that. There is always SOMETHING messing up like notifications stop coming randomly, messages wont deliver for a

[2019-02-08 12:28] thenktor commented on #5263
See also #4142

[2019-02-08 12:54] bennycode commented on #5263
@thenktor Are you using a Windows Insider build?

@felixse Can you please provide the user agent ([navigator.userAgent](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorID/userAgent)) for your MS Edge 18 installation?

[2019-02-08 13:00] thenktor commented on #5263
No, I'm using Windows 10 Professional Version 1803 with EdgeHTML 17.17134.

[2019-02-08 14:24] bennycode commented on #5263
That's interesting because I am using Windows 10 with Microsoft EdgeHTML 17.17134 too and it works just fine. What's your user agent?

Mine is:

[2019-02-09 21:27] felixse commented on #5263
User agent is: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36 Edge/18.17763`

But seems to be fixed now, thank you 👍

[2019-02-12 16:20] ffflorian commented on #5754
@hap124 Do you see any error in the Firefox console?

[2019-02-12 16:22] ffflorian commented on #5730
@husseinalsukkar
do not run yarn as root.

[2019-02-12 16:22] #5730 closed, assigned to nobody

[2019-02-12 22:43] ghost commented on #5716
![cfwire](https://user-images.githubusercontent.com/18015852/52673076-f3114e00-2f1f-11e9-89c9-be170c9ae8d9.png)

[2019-02-14 11:46] FlorianObermayer opened #5826 "GIF popup broken after opening Preferences"
Wire version: `3.5.2899` Operating system: `Windows 10 Version 1803 (Build 17134.590)` Which antivirus software do you have installed: `None`

1. Start Wire
2. Click the GIF button in a conversation -> GIF picker pops up
3. Open preferences
4. Go back to a conversation and click the GIF button

GIF picker pops up

nothing happens

Restarting Wire Desktop solves the problem.

[2019-02-14 18:02] survivor303 commented on #7018
Fast fix for this is to use virtual webcam driver, like this one: http://classic.makesweet.com/webcam/ucanvcam/

[2019-02-15 01:14] husseinalsukkar commented on #5730
what should i do ?? what is the command that i should use ??

[2019-02-15 04:17] ghost commented on #7018
@survivor303
 Yes but cannot play with public or enterprise devices as our personal computer. by the way if we use wire for official task to communicate with clients, it seems that is very uncomfortable.

[2019-02-16 18:59] ghost commented on #5754
____________________________

[2019-02-17 20:20] Transisto opened #5852 "Dark Mode: Input / Output selection dropdown is all white."
![image](https://user-images.githubusercontent.com/388716/52918655-82738400-32c7-11e9-8bdd-e44949d72f32.png)

[2019-02-18 21:19] ffflorian commented on #5852
Hi @Transisto,

please provide some more information when reporting bugs like this, especially:

* which browser
* which operating system
* which extensions

you are using.

Additionally, add a note if you are using the dark mode.

Thanks.

[2019-02-19 03:44] Transisto commented on #5852
Windows 10 desktop

On Mon, Feb 18, 2019, 16:19 Florian Keller <notifications@github.com wrote:

[2019-02-19 11:03] ffflorian commented on #5852
Thanks for the bug report, I can reproduce it.

[2019-02-19 17:57] Transisto opened #5866 "Searching in a conversation moves to the right spot for a second but view jump away I think when images load."
To reproduce,

Search for something old with images arround the same time.

Message location get lost and I'm never sure if I should be scrolling up or down to get to it.

[2019-02-21 09:44] ghost commented on #7014
Also offer option for users to add own static & animated emoticons/stickers

![2019-02-25-01-40-44](https://user-images.githubusercontent.com/37661865/53303579-a83bf280-389e-11e9-8e50-a0fb167d823c.gif)

[2019-02-22 17:59] Polve opened #7022 "[Web] Please allow to "unselect" any active chat pressing ESC like in Telegram"
Ditto.

It's very handy to be able to avoid showing the chat page to someone passing by just by pressing ESC like in telegram desktop.

I'm unable to find a way to do so in wire, I must minimize the window or select another chat window.

[2019-02-23 17:26] Pheromon commented on #7022
Yes, please.

[2019-02-24 03:27] gopherit opened #5902 "Typo in Device Verification Screen"
For some reason, there are extra strings of the user's first name at the beginning and end:

![wire-desktop-web-device-typo](https://user-images.githubusercontent.com/25557897/53294693-8caaec00-37b9-11e9-86ec-3d696132bd43.png)

This appears in both the Web and Desktop versions but not the mobile version.

Wire for Web:  Version 2019-02-18-11-26
Wire for Desktop:  3.6.2908 2019.02.18.1126

I tried

[2019-02-24 11:59] lipis commented on #5902
Are you sure this screenshot is from the WebApp and not Android?

[2019-02-24 12:55] gopherit commented on #5902
@lipis, 100% positive.  The error occurs in both the web app (https://app.wire.com) as well as the Desktop version of Wire for Windows.  It does not occur in the Android app.  The Android app correctly says, "Verify that this matches the fingerprint shown on Dubz's device."  It lacks the two extra strings before and after.

[2019-02-26 09:50] ffflorian commented on #5902
Hi @gopherit, thanks for the report. This will be fixed in the next release of the WebApp.

[2019-02-28 14:38] maciejhirsz commented on #5659
Can reproduce with Firefox 65 on Manjaro Linux, so this is likely a Linux/Firefox wide thing?

[2019-03-01 12:26] ghost opened #5974 "On Dark Theme the close X button should have white color not black!"
On Dark Theme the close X button should have white color not black!

Regards.

[2019-03-04 08:56] ffflorian commented on #5974
Hi @Bust3D, can you please provide a screenshot for your issue? Thanks.

[2019-03-04 09:23] ghost commented on #5974
Sure, here it is :)

![image](https://user-images.githubusercontent.com/9987318/53723142-5af3ee00-3e67-11e9-9a3b-f010ad25582f.png)

This appears on everything (IMG,VIDEO) etc. if it's set to DarkTheme, and on some monitors it's hard to observer the close sign.

Regards.

[2019-03-04 09:36] ffflorian commented on #5974
Thanks, I can reproduce :)

[2019-03-04 15:37] ffflorian commented on #5974
Fixed in https://github.com/wireapp/wire-webapp/pull/5980

[2019-03-04 15:37] #5974 closed, assigned to nobody

[2019-03-06 21:36] mythsunwind commented on #5866
Hi @Transisto thanks for the report. This will be fixed in the next release of the WebApp.

[2019-03-12 10:40] #5852 closed, assigned to nobody

[2019-03-12 11:25] strypey opened #6063 "Can't Make Voice Calls on 32-bit Laptop"
## Wire for web version

 2019-02-28-15-10

## Browser version

ABrowser 64 (32-bit). ABrowser is basically a reskinned and hardened Firefox, minus proprietary bits.

## Installed browser addons

NoScript 10.2.2rc2 (wire.com marked as "trusted")
uBlock Origin 1.18.4 (disabled for app.wire.com)

## Operating system

Trisquel 8 Flidas GNU/Linux (32-bit. Trisquel is basically Ubuntu 16.04 minus all t

[2019-03-12 13:39] ffflorian commented on #6063
@strypey Have you tried it with the normal Firefox version?

[2019-03-13 05:48] strypey commented on #6063
On 2019-03-12 21:39, Florian Keller wrote:

Not on that OS. Vanilla Firefox has a number of proprietary components,
so its not available in the Trisquel repositories. I'm happy to test in
any browser that doesn't have proprietary components. Also happy to send
you console outputs or logs to help you debug the problem. Just let me
know what you need.

[2019-03-14 21:04] max-baz opened #6105 "Cursor is in a wrong position in textarea with a certain text length"
## Wire for web version

Both in production and latest `dev` branch, which is `2019-03-14-21-49` right now.
I've been experiencing this for a long time, but didn't have time to compose a proper bug report 🙂

## Browser version

Latest Chromium on Linux (73.0.3683.75)
Latest Wire Desktop (3.7.2891)

## Installed browser addons

Doesn't matter since it reproduces in Wire Desktop.

## Operating syste

[2019-03-14 21:12] max-baz opened #6106 "Mouse scroll doesn't work over contacts list"
## Wire for web version

2019-03-14-11-05

## Browser version

Latest Chromium (73.0.3683.75)
Latest Wire Desktop (3.7.2891)

## Installed browser addons

Doesn't matter since it reproduces in Wire Desktop.

## Operating system

Arch Linux

## What steps will reproduce the problem?

1. Add a bunch of contacts, so many that they don't fit a single screen
2. Move mouse cursor over contacts panel and

[2019-03-15 07:42] ffflorian commented on #7021
This is not limited to the desktop version - it's also disabled in the WebApp. I will find out the reason for that and give you an answer.

[2019-03-15 21:55] max-baz opened #6117 "New message notifications are immediately disappearing"
## Wire for web version

2019-03-14-11-05 (this regression definitely happened with the latest release)

## Browser version

Latest Chromium (73.0.3683.75)
Latest Wire Desktop (3.7.2891)

## Installed browser addons

Doesn't matter since it reproduces in Wire Desktop.

## Operating system

Arch Linux

## What steps will reproduce the problem?

1. Ask someone to send you 3 messages with a delay of

[2019-03-16 18:34] max-baz commented on #6117
I've also noticed that "urgency hint" is not being set anymore on Wire Desktop, I think both issues are caused by the same change. So in total it's even more severe now, not only do notifications quickly disappear, but Wire Desktop doesn't indicate with urgency hint that there are unread messages.

[2019-03-18 15:12] max-baz commented on #6117
Fixed by https://github.com/wireapp/wire-webapp/pull/6114, thanks 😉

[2019-03-18 15:12] #6117 closed, assigned to nobody

[2019-03-19 18:56] Transisto opened #6147 "Gifs from Giphy sort option still broken."
I reported this 7 months ago, it seems like a signle line of code change.
It's really affecting the moral of the team to not be able to share humor with Wire.

https://github.com/wireapp/wire-webapp/issues/5571

fix https://github.com/wireapp/wire-webapp/pull/4760

[2019-03-20 10:50] ffflorian commented on #6147
Hi @Transisto,

Great, can you create a PR which fixes it? If not, I'll close this as duplicate.

[2019-03-20 11:50] zstomp opened #6152 "Double notification on receiving a picture"
Wire version: 3.7.2917
Wire for web version: 2019.03.18.1258
Operating system: Microsoft Windows [Version 6.3.9600]
Which antivirus software do you have installed: Windows Defender

What steps will reproduce the problem?
Have somebody send you a picture

What is the expected result?
Notification should appear once

What is the actual result?
Notification appears twice

![изображение](https://user-

[2019-03-20 13:52] ffflorian commented on #6152
Hi @zstomp, thanks for the report! I can reproduce it.

[2019-03-20 15:10] thenktor opened #6156 "Desktop/Screen sharing not possible without microphone"
On a PC without microphone/webcam it is not possible to use desktop/screen sharing because first starting a call is mandatory.

## Wire for web version
version="2019-03-18-12-58"

## Browser version
Firefox 66
Chrome 73

## Operating system
All

## What steps will reproduce the problem?

1.  Join Wire conversation on a PC without microphone
2.  Try to share your screen

## What is the expected res

[2019-03-20 21:53] Wurzelkoch commented on #5702
Same for Wire for Linux
3.5.2881
2019.03.18.1258
Markdown that works: *italics*, **bold**, `source`
Any other markdown doesn't render. Former versions of wireapp used to have full markdown support.

[2019-03-20 22:07] Wurzelkoch opened #6162 "Markdown formatting partially broken"
This is more or less a duplicate of https://github.com/wireapp/wire-webapp/issues/5702.
The same (or a very similar) problem appears in wire-desktop.

Wire version: 3.5.2881
Wire for web version: 2019.03.18.1258
Operating system: Debian 9 with Linux Debian 4.9.0-8-amd64
Which antivirus software do you have installed: none

What steps will reproduce the problem?

1.  Send message formatted using ma

[2019-03-21 03:26] ghost commented on #5754
____________________________

[2019-03-21 07:20] ffflorian commented on #6162
Hi @Wurzelkoch, as you already said, this is a duplicate of #5702. Or is there anything else in your but report? If not I'm going to close it for now. 🙂

[2019-03-21 11:24] Wurzelkoch commented on #6162
I didn't know who separated webapp and desktop are, so I wanted this issue also in desktop. If it will be dealt with in webapp, happily close this duplicate.

[2019-03-21 11:24] #6162 closed, assigned to nobody

[2019-03-21 11:27] ffflorian commented on #5754
Hi @hap124,
thanks for the log - unfortunately we can't read much out of it.

Could you open https://www.useragents.com/ with your Firefox and copy-paste the output here? That would help us. Thanks :slightly_smiling_face:

[2019-03-21 11:30] ffflorian commented on #6162
@Wurzelkoch
the Desktop app is just loading the webapp in the background, that's why I moved your issue. I'll keep you updated in #5702.

[2019-03-21 12:01] cardassian-tailor opened #6840 "slow, delayed image loading on desktop client"
When images are received on the desktop client (electron), the desktop client either:
1) doesn't load the image before focus is given to the application
2) the loading of the images are so slow that it takes multiple minutes.

When I receive an image - it appears to only begin to load that image when i give the desktop client focus (click on it) .. then it takes around 1-2 minutes for that image t

[2019-03-21 17:05] ghost opened #6175 "querying the directory for my own user ID gets no results"
Wire version: 3.5.2881
Operating system: debian

1.  In the wire UI, I do a "start conversation" (control-n)
1.  In the search field, I enter my own user id followed by the "@" (the string before the "@" in userid@domain)
1.  Only one result appears and it's actually someone else.  Also, my user ID matches the other user's domain name (the substring following the "@")

If there are two users:
* bo

[2019-03-21 17:42] ghost commented on #5716
The problem is worse than I thought, because it's not just users seeking support who encounter CloudFlare.  When a session key loses sync in a conversation, users see:
[code]
And the "Why" is a link to CloudFlare.  So Tor users are being denied information about a problem because the app attempts to access CloudFlare.  Even when the CAPTCHA works, users who are signed into their Wire app should no

[2019-03-21 17:49] ghost commented on #7016
It's unclear why session keys get lost.  I have one device and someone I talk to has just one device also.  And yet in this very simple context the session key occasionally gets lost and we have to do a "session reset".  And when the session is reset, the past messages remain unreadable.  There's no reason why this should happen.

When session keys are lost, the client of the recipient could autom

[2019-03-23 03:20] ghost commented on #5754
____________________________

[2019-03-29 13:45] karzembe opened #6244 "Device verification restart"
We encountered an issue with Wire regarding the device verification. When the devices are verified and the user logs off and on, all verified devices become unverified. And even if you log off and log on from the same device your device are shown as a new device. If it is something we can fix? Would you consider it for feature request?

Wire version: 3.7.2891
Wire for web version: <Check the About

[2019-04-03 02:57] BFCE opened #6283 "Switching video devices broadcasts the camera"
Wire version: 3.8.2927
Operating system: Windows 10 1607
Which antivirus software do you have installed: None

What steps will reproduce the problem?

1.  Call someone with your camera turned off
2.  Switch your camera in settings
3.  Behold, as your camera is broadcasted to the call with no warning

What is the expected result?
Switching devices WITHOUT broadcasting to your friends
What is the ac

[2019-04-03 03:04] BFCE opened #6282 "Switching microphone devices unmutes microphone"
Wire version: 3.8.2927
Operating system: Windows 10 1607
Which antivirus software do you have installed: None

What steps will reproduce the problem?

1.  Join a call, mute your microphone
2.  Change your audio device in the settings
3.  Your microphone is unmuted now.

What is the expected result?
Changing your audio device while retaining mute status

What is the actual result?
The mute status i

[2019-04-04 03:23] skjiisa opened #6296 "Backslashes don't escape"
Wire version: 3.9.2928
Operating system: Windows 10 and masOS Mojave
Which antivirus software do you have installed: None

What steps will reproduce the problem?

1. Type a message using the backslashes (`\`) before a asterisks

What is the expected result?
The backslashes escape the asterisks and the word is not italicized.

What is the actual result?
The word and last backslash are italicized.

[2019-04-04 08:29] thenktor opened #6291 "Desktop/Screen sharing always shares the recently shared window"
## Wire for web version
2019-03-29-09-38

## Browser version
Firefox 66.0.2

## Operating system
macOS

## What steps will reproduce the problem?

1.  Join a meeting/chat room as guest
2.  Share screen
3.  Chose a window, that should be shared
4.  Stop sharing screen
5.  Share screen again

## What is the expected result?
It should ask again, which window/screen should be shared

## What is the ac

[2019-04-07 18:04] Transisto opened #6302 ""decrypting messages" for a while then get logged out."
![image](https://user-images.githubusercontent.com/388716/55687674-b79e6900-593d-11e9-9a3c-adc744ca3073.png)

I tried using the web app after having been logged out for no reason on desktop
in this issue : https://github.com/wireapp/wire-desktop/issues/2457

I waited about 5min for "decrypting messages" to load then near 80% into it I get the above screen asking me to log in.

I logged back in wit

[2019-04-08 08:07] ffflorian commented on #6147
Duplicate of https://github.com/wireapp/wire-webapp/issues/5571.

[2019-04-08 08:07] #6147 closed, assigned to nobody

[2019-04-09 07:22] strypey commented on #6063
The web app is now telling me:
"you cannot call because your browser does not support calls"

ABrowser is essentially a rebranded Firefox, so it ought to be able to support calls. As I said in the original bug report, web apps that require use of the microphone normally pop up an applet asking for permission to use it. I get no such pop-up when trying to use voice calling on Wire, and I suspect th

[2019-04-10 12:32] danila-io commented on #5754
I have the same issue quite frequently these days. It often displays a blank page for about 5-10 minutes and then finally loads the page (sometimes it fails).

The problem is not specific to Firefox (Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:66.0) Gecko/20100101 Firefox/66.0 ). Epiphany simply fails to load a page saying that this browser is not supported (more than 5 minutes waiting time) (Mozil

[2019-04-11 12:35] strypey opened #6344 "Libre variant of Firefox "not supported""
## Wire for web version

2019-04-10-09-01

## Browser version

ABrowser 66.0.2 (32-bit) - essentially a reskinned Firefox, with any proprietary bits like the Adobe EME module removed.

http://whatsmyuseragent.org identifies it as:
Mozilla/5.0 (X11; Linux i686; rv:66.0) Gecko/20100101 Firefox/66.0

## Installed browser addons

* NoScript 10.1rc1 (wire.com marked as "trusted")
* uBlockOrigin 1.18.1

[2019-04-19 09:09] R4m4n opened #6419 "Getting error while trying to connect to websocket URL."
I set up the backend and front-end on the same server i.e. wire-server and wire-webapp.
Everything is working fine except during the chat WebSockets are giving connection error on the web app.
`failed: Error during WebSocket handshake: Unexpected response code: 426`

WebSockets are working fine in the Android app as when I send a message from the web app, then the message appears in the Android ap

[2019-04-19 11:30] #6419 closed, assigned to nobody

[2019-04-19 11:37] R4m4n commented on #6419
I found the issues with my apache subdomain configuration.

I copied this code inside the apache conf.
[code]

And everything is working fine.

[2019-04-23 04:39] Transisto opened #7023 "[Web] Loading search user is slow, Please no need for fancy animation at the moment."
Press CTRL-N , Wait for the animation to go down.

If it's not slow try with ~150 contacts

[2019-04-23 15:34] CalebBurton commented on #5702
This also applied to unordered lists. They show up fine on mobile, but not desktop.

[2019-04-25 16:28] chpatton013 opened #7527 "Feature Request: Add option to resize sidebar in Web and Desktop Apps"
This applies to both the Web App and Desktop App, hence to post to wire proper. I can re-post this in the specific repositories if that's more appropriate.

---

Please add an option to (persistently) resize the contact sidebar.

If you aren't viewing the application in a full-screen window, the sidebar occupies a significant portion of the application window. This is easily remedied by allowing t

[2019-04-27 07:34] DiagonalArg opened #7024 "[Web] not allowing change of email address"
Wire version: 3.9.2895
Wire for web version: most recent has same problem
Operating system: both Ubuntu 16.04 and 18.04
Which antivirus software do you have installed: None

Neither in the app nor in the web app (Firefox) am I able to change my email address.
Hovering over the username causes a pencil to appear, but I get nothing with the email address.

[2019-04-29 08:14] ffflorian commented on #7024
Hi @DiagonalArg, right now it is possible only in the mobile clients to change your email address.

[2019-04-29 20:20] ThePirateWhoSmellsOfSunflowers opened #6493 ""File could not be saved" during backup"
## Wire for web version

version="2019-04-23-10-51"

## Browser version

Firefox 66.0.3 (64-bit) (Ubuntu)

## Installed browser addons

ublock Origin

## Operating system

Ubuntu 18.04.2

## What steps will reproduce the problem?

1.  Login in
2.  Click Preference
3.  Click **Back up conversations**

## What is the expected result?

Backup is created and available for download

## What is the actu

[2019-04-30 13:02] next-mad-hatter opened #6501 "Unable to log in using email address"
## Wire for web version

2019-04-23-10-51 (but having same issue with desktop version 3.5.2881)

## Browser version

Firefox 60.6.1 ESR, Chromium 74.0.3729.108

## Installed browser addons

## Operating system

Linux amd64

## What steps will reproduce the problem?

1.  Open app.wire.com (or desktop app), log out if need be
2.  Try logging in using email address associated with account

## What is

[2019-04-30 13:58] next-mad-hatter commented on #6501
Chaniging the email address from android app fixed it for me.

[2019-04-30 13:59] #6501 closed, assigned to nobody

[2019-04-30 14:05] next-mad-hatter commented on #1192
@toadlyBroodle I also had the IndexedDB issue after a firefox upgrade (on 60.6.1 esr now) -- I can use wire under a fresh firefox profile, at the cost of having lost all history there once again :/.

[2019-04-30 14:11] next-mad-hatter commented on #6489
It seems some firefox upgrades can break user profiles and cause indexeddb to become unusable.  @ghost does the problem persist under a new firefox profile (your history will be unavailable there of course)?

[2019-05-02 04:40] strypey commented on #6344
The Wire web app appears to be working in 32-bit ABrowser again. Yay!

[2019-05-02 17:19] mlms13 opened #6514 "Webapp cannot restore from Android backup"
## Wire for web version

2019-04-23-10-51

## Browser version

- Firefox 66
- Some version of Chrome via Electron in Rambox

## Installed browser addons

None in Electron

## Operating system

Ubuntu 18.04

## What steps will reproduce the problem?

I was using the Wire webapp through [Rambox](https://rambox.pro/#home), and when I switched from the Snap package to the `deb` package, it lost my his

[2019-05-02 19:45] Transisto commented on #7013
![image](https://user-images.githubusercontent.com/388716/57102378-5d50b800-6cf1-11e9-8a65-de51fbed5da2.png)

[2019-05-03 18:08] taylorjdawson commented on #5702
@ffflorian is this feature in progress?
Could you briefly explains what needs to be done to fix the markdown rendering issue?
Thanks!

[2019-05-09 17:38] sebnarvaez opened #7025 "[Web] Mic auto-adjust pushes volume too high"
Wire version: 3.9.2895
Operating system: Arch Linux

What steps will reproduce the problem?

1.  Start a video-call
2.  Talk through the internal laptop mic
3.  After a few seconds of talking, the volume of the mic is auto-adjusted, but it's pushed way too high, making clipping noises. When manually adjusted, the volume is auto-adjusted again, and there's no way to disable this.

I think this is a

[2019-05-13 14:43] ThePirateWhoSmellsOfSunflowers commented on #6514
Hi,

On the web application (preferences -> account):

(emphasis mine)

So I think you cannot restore your webapp with Android backup.

:sunflower:

[2019-05-14 11:48] ffflorian commented on #7025
Hi @larvasapiens,

Not right now, I filed this under feature request.

[2019-05-14 17:59] ThePirateWhoSmellsOfSunflowers commented on #6493
For information, same problem with version `2019-05-09-09-36` and Firefox 66.0.5

[2019-05-15 14:51] moba opened #6611 "Search index contains expired messages"
Expired messages at least in group chats on the Desktop application can still be found in the search.

Wire version: 3.9.2895 2019.05.09.0936
Operating system: Debian

What steps will reproduce the problem?

1.  Open "search" in a conversation with expired messages.
2.  Search for strings contained in old, expired messages.
3.  You will see the search result, but when you click on the result it ta

[2019-05-15 15:10] muesli commented on #6611
Can confirm I can reproduce this on Arch with 3.9.2895 as well.

[2019-05-15 19:01] fredfortier opened #6839 "Linux: Buffer Scrolls Up as I Type"
Wire version: 3.9.2895
Operating system: Linux 4.19.15-300.fc29.x86_64
Which antivirus software do you have installed: None

What steps will reproduce the problem?

1.  Open a channel with a conversation buffer larger than the display area
2.  Start typing a message
3.  Observe the buffer scrolling up as keys are pressed

What is the expected result?
No scrolling

What is the actual result?
Scroll

[2019-05-16 06:26] gopherit commented on #5902
This bug was resolved quickly, a few days after this Issue was created.  Thanks Wire development team.  Closing.

[2019-05-16 06:26] #5902 closed, assigned to nobody

[2019-05-26 21:06] Fluffkin opened #6836 "Timed 4w messages broken"
Wire version: 3.9.2895
Operating system: Linux/Gentoo

What steps will reproduce the problem?

1.  Set "Timed message" for 4 weeks, send a message
2.  I see "3 weeks 6 days", receiver sees "3 minutes 6 seconds"
3.  Timed message vanishes after about 4 to 5 minutes

What is the expected result?
Messages not being deleted for 4 weeks

What is the actual result?
"Why did you just set timed messages t

[2019-05-28 22:17] Transisto opened #6837 "Many audio bugs that seems related [Important]"
- When switching audio source (mic) and making calls it doesn't ring on the other end.

- When receiving a call after changing audio source it ask to abort the current call before, there is no ongoing call, aborting it cause incoming call to be cancelled too.

- Feature request : Make audio source stick, especially microphones, I connect devices in and out like webcam and audio source keep switchi

[2019-06-01 17:38] pete-willard commented on #1846
@gregor Has a slither of resources fred up perchance? This issue is still driving me nuts after all this time :( Please let us disable shortcuts.

[2019-06-04 16:24] codawithacurse commented on #5754
I am having the same issue but mine never loads, just a blank page. Errors I see in Firefox console are:

Navigated to https://app.wire.com/
Content Security Policy: Couldn’t process unknown directive ‘prefetch-src’
TypeError: navigator.mediaDevices is undefined
Environment.js:147:6
    <anonymous> Environment.js:147
    Webpack 10
        f
        <anonymous>
        <anonymous>
        f

[2019-06-07 23:28] BFCE opened #6838 "When starting a share screen, there is a high chance of the call dropping, especially in groups"
Wire version: 3.9.2928
Operating system: Windows 10 1607
Which antivirus software do you have installed: NONE

What steps will reproduce the problem?

1.  Call a group
2.  Share your screen
3.  You will instantly stop hearing everyone in the call
4. theres a decent chance that it will continue working after a few seconds, however there is also a high chance that you will no longer be able to hear

[2019-06-08 09:12] ThePirateWhoSmellsOfSunflowers commented on #6493
For information, same problem with version `2019-06-06-12-31` and Firefox 67.0.1

[2019-06-11 02:43] Transisto commented on #6837
nobody can ack. this in two weeks?

[2019-06-13 15:56] bennycode commented on #6836
@Fluffkin Can this still be reproduced on your end because I don't have that issue:

![image](https://user-images.githubusercontent.com/469989/59448003-91e18480-8e04-11e9-8e55-656957673f34.png)

[2019-06-13 22:59] Fluffkin commented on #6836
I've just re-tested it and it's far more random than I thought.
Spent an evening in chat with it set to 4 weeks.
A large number (including a big batch of the last few messages I sent about 20mins ago) have already self deleted.
Other messages are still there 4hrs+ later.
Same Wire session, never closed the Wire app and only changed to 4 weeks once at start of session.

[2019-06-14 06:17] baoxiao123 opened #6716 "Chat rooms may encounter this problem when sending pictures."
The FetchEvent for url resulted in a network error response: the promise was rejected。
Pictures cannot be displayed。
‘/assets/v3/3-2-ef8afcee-f33a-4473-8b4..‘
linux  https Environmental Science，same area。
I don't understand why this problem arises.

[2019-06-15 17:20] ghost commented on #5754
____________________________

[2019-06-16 03:41] lambdadog commented on #5754
I've had this issue about a year on and off, but it seems worse lately, although I'm not a frequent user anymore since I've just decided to move to my own XMPP servers

[2019-06-16 07:10] danila-io commented on #5754
Just a quick update: I haven't encountered this issue since writing about it here back in April. Whatever it is, it's a bit hard to trigger.

[2019-06-23 18:18] ghost commented on #5754
____________________________

[2019-06-27 08:41] kmisiunas opened #6828 "URL with special chars gets markdown processing which breaks the link"
## Wire for web version: Version 2019-06-06-12-31
## Browser version: Firefox 67
## Installed browser addons: Privacy badger
## Operating system: MacOS

## What steps will reproduce the problem?

1.  Send a link to anyone:
`https://stva.zh.ch/internet/sicherheitsdirektion/stva/de/StVAaw/AWumschreib/_jcr_content/contentPar/downloadlist/downloaditems/gesuch_umschreibung_.spooler.download.15585889901

[2019-07-07 16:28] ghost commented on #5754
____________________________

[2019-07-08 14:20] supersexy opened #6900 "Improve documentary around connections"
Version: Personal
Tested this in Chromium and Firefox, Ubuntu 16.04, vie https://app.wire.com

It is not possible to add participants to an existing group. By clicking on the group name on top of the screen the group details flyout opens on the right site of the screen and there is an "Add participants" item, which after click creates another screen in that area with a big "ADD PARTICIPANTS" on to

[2019-07-08 15:02] supersexy commented on #6900
OK, of course this happens **after** creating an issue: I just learned, that adding a user to a group seems to be only possible with accounts, that **I have to connect to before**. This was not clear to me and it was not documented anywhere. I am still not sure if that is really the case, so it would be very nice if you would like to confirm that.

_In any case, please add some info about any requ

[2019-07-10 11:39] ffflorian commented on #6900
Hi @supersexy,
in the free version you first have to connect to every participant you want to add to a group.
In the pro version you can add everyone who's in your team.

[2019-07-10 15:42] maciejhirsz commented on #5659
This is still happening as of today on Firefox. It's most visible when moving the mouse cursor from the message area to the text input and back.

[2019-07-11 22:16] livejamie opened #6956 "[Feature Request] Message Reactions"
It would be nice to be able to react to messages with different emojis

![image](https://user-images.githubusercontent.com/49513/61089045-bc683280-a3ee-11e9-9468-99b8bee1eddc.png)

This is almost standard behavior and can be found in Slack, Discord, Facebook Messenger.

It's also being used by Keybase.

Right now you can only "Heart" messages but that's not appropriate all of the time.

Thank you.

[2019-07-12 10:13] ffflorian commented on #6956
Duplicate of https://github.com/wireapp/wire-webapp/issues/938

[2019-07-12 10:13] #6956 closed, assigned to nobody

[2019-07-12 12:48] #5263 closed, assigned to nobody

[2019-07-12 12:52] Yserz commented on #5197
@ayavorskiy wire-account is open-source now *yay* https://github.com/wireapp/wire-account/

[2019-07-12 17:19] livejamie commented on #938
This is also a showstopper for us, unfortunately.

Slack, Discord, Facebook Messenger, even Keybase support them.

[2019-07-14 20:18] keeferrourke opened #6958 "Web session is too short"
## Wire for web version

`2019-07-11-13-18`

## Browser version

Firefox 67.0.4 64-bit

## Installed browser addons
 - uBlock Origin
 - NoScript (with all scripts allowed for app.wire.com)
 - HTTPS Everywhere
 - Privacy Possum

## Operating system

macOS Mojave

## What steps will reproduce the problem?

1.  Login to app.wire.com
2.  Change browser tabs
3.  Wait 15 minutes
4. Switch back to wire,

[2019-07-15 15:01] BenoitFroment commented on #7122
Hi there, I need this as well. Just please, everything else is awesome.

[2019-07-16 07:56] sokke90 opened #6973 "Link with markdown wrong"
Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:69.0) Gecko/20100101 Firefox/69.0
Windows 10

1.  Send link like `[test](google.de)`
2.  browser wants to open https://app.wire.com/google.de -  Working fine on iOS.

## What is the expected result?

go to http://google.de

## What is the actual result?

going to https://app.wire.com/google.de

[2019-07-22 13:21] ffflorian commented on #6973
@sokke90 you are using markdown wrong.
You should use

[code]

[2019-07-22 13:21] #6973 closed, assigned to nobody

[2019-07-22 13:31] R4m4n commented on #6958
I'm also getting the same issue. I think it's because of the
`MissingCookieError: Authentication failed because the cookie is missing.`.
I'm also looking for a solution.

[2019-07-22 14:15] ffflorian commented on #6344
@strypey I will close this issue then. Great that it's working again for you!

[2019-07-22 14:15] #6344 closed, assigned to nobody

[2019-07-24 08:57] GenerallyDisjointed opened #7011 "Wire conversation not updating on multiple devices"
My first ever issue report, hope I do it right

Running wire web app via chromium on linux (ubuntu xenial), and concurrently running wire on my android phone (3.34.789).

I log out of web app, unable to receive messages from person, reboot phone and then they start coming through

Desktop app receives messages, android app doesn't. All devices have been verified.

[2019-07-24 09:03] ffflorian commented on #7011
@purpleden sorry I am a bit confused about where you receive messages at which point. Can you please write down the exact steps leading up to your problem? That would help us a lot!

[2019-07-24 09:12] GenerallyDisjointed commented on #7011
Apologies!

I log into the wire web app.
Start a conversation (works fine)
I start Wire on my Android phone
Verify all devices
Conversation from that point on does not concurrently update on android phone

[2019-07-24 09:15] ffflorian commented on #7011
1. So it is an Android bug?
2. Do you have the Android app open or closed?
3. Did you try sending a message from the webapp to the webapp (maybe from another computer?)

[2019-07-24 09:19] GenerallyDisjointed commented on #7011
1) It appears to be so
2) The Wire android app is open on front screen
3) Yes, does not update unless I restart the phone. Restarting the android app does not work

[2019-07-24 09:24] ffflorian commented on #7011
This should be in the [Android issues](https://github.com/wireapp/wire-android/issues) then :)
Can you please create the issue there? Unfortunately I'm not able to transfer your issue.

[2019-07-24 09:24] #7011 closed, assigned to nobody

[2019-07-26 09:33] ghost commented on #7018
https://github.com/wireapp/wire-desktop/issues/2899

[2019-08-02 07:46] strypey commented on #6063
If there's been a decision to stop supporting the browser version of Wire on 32-bit devices, it would be great if users got a message to that effect when they try to login using a 32-bit device (eg "The Wire team are no longer providing official support for any use of Wire on 32-bit devices, here be dragons" or whatever). If not, it would be great if we could get some eyes on this bug. Many of the

[2019-08-06 08:34] martinberg212 opened #7079 "Delivered notification after editing"
When editing Messages that have already been delivered, the new, edited messages are not shown as delivered. Editing message that have not been delivered yet will result in the same issue even after the message was delivered

Wire version:3.9.2928
Wire for web version: 2019.07.11.1318
Operating system: Windows 7
Which antivirus software do you have installed: none

What steps will reproduce the pr

[2019-08-09 09:20] nijel opened #7083 "Microphone selection not working"
## Wire for web version

2019-07-11-13-18

## Browser version

Tested in two browsers:

* Mozilla/5.0 (X11; Linux x86_64; rv:68.0) Gecko/20100101 Firefox/68.0
* Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.90 Safari/537.36

## Installed browser addons

Bitwarden

## Operating system

Debian Linux

## What steps will reproduce the problem?

1. Ensure micro

[2019-08-16 08:42] europ commented on #7122
Could you please deliver this feature? It was requested in **September 2016**.

What is the current state about this feature? Is it going to be implemented yet or no?

ping @ffflorian @lipis @bennyn

[2019-08-16 08:52] ffflorian commented on #7122
@europ there are no updates as of now. Anyway, I re-opened this for better visibility.

[2019-08-16 09:57] max-baz opened #7123 "Syntax highlighting in Dark theme is often unreadable"
Wire Desktop 3.9.2895
Arch Linux

## What steps will reproduce the problem?

1. Switch to Dark theme
1. Send the following message:

[code]

## What is the expected result?

Syntax highlighting is readable

## What is the actual result?

Dark-blue and grey are not readable:

![image](https://user-images.githubusercontent.com/1177900/63159960-eaa7e600-c01c-11e9-9938-2d2696faea24.png)

[2019-08-16 14:21] lipis commented on #7123
We should use solarized
https://ethanschoonover.com/solarized/

[2019-08-22 14:36] rkapur-gds opened #7169 "Multiple Chats opened when application lags on start conversation menu."
Wire version: Version 3.10.3133
Operating system: macOS 10.14.6 (18G87)

Note: I'm using Wire for companies — not sure if this affects personal Wire.

What steps will reproduce the problem?
1.  Click the 'Start Conversation' icon in the bottom left corner
2. Click on a chat with someone that you've never chatted before. Now, when Wire lags, click ten more times because you thought your first click

[2019-08-22 15:36] bennycode commented on #1192
We also saw the "Local storage is not available" issue on Firefox when NOT running in private mode. That's unexpected behaviour. Creating a new Firefox profile helped in this case but ofcourse is not the ideal workaround.

To debug the issue further we need to know what shows up when you run `window.indexedDB.open('test')` in the Developer Console while being on the "Local storage is not available

[2019-08-26 10:50] predator8bit commented on #9454
Thanks for re-opening this accessibility related feature request!

[2019-08-26 12:21] ffflorian commented on #9454
@predator8bit sure, no problem. I will see if I can do something about this.

[2019-08-26 14:06] ghost opened #7188 "still Jquery in dev-dependencies!"
drop jquery. You don't need Jquery anymore.

[2019-08-26 14:11] predator8bit commented on #9454
Maybe a separate issue but in the same vein, is that I have to rely on workaround scripts for some of the other shortcuts. The reason is the same a disabled friend can't really hold down more than 2 buttons at the same time, so switching between friends/conversations is impossible for them via the default binding.

[2019-08-30 16:43] mattieb opened #7210 "emoji picker rendering issues on macOS Catalina"
The emoji picker is corrupted on macOS Catalina 10.15 Beta (19A546d) for some sequences (guessing they're combining sequences?)

![image](https://user-images.githubusercontent.com/56017/64037215-0e8e2000-cb23-11e9-978d-5447bf705b89.png)

[2019-08-31 19:01] ghost commented on #7188
@wireapp response

[2019-09-01 07:00] ghost commented on #7188
??????*****

[2019-09-01 07:00] #7188 closed, assigned to nobody

[2019-09-02 23:21] nitrohorse opened #7232 "Web App fails to load in Firefox Nightly when WebRTC is disabled"
## Wire for web version

[Version 2019-09-02-10-32](https://medium.com/wire-news/wire-for-web-2019-09-02-f45c845aa48c)

## Browser version

Firefox Nightly:
- `Mozilla/5.0 (Windows NT 10.0; rv:68.0) Gecko/20100101 Firefox/68.0`

## Installed browser addons

None (tested in incognito mode)

## Operating system

Linux

## What steps will reproduce the problem?

1. Open Firefox's `about:config` page.

[2019-09-06 12:37] Filbuntu opened #7263 "Link to "WHY VERIFY CONVERSATIONS?" is dead end"
Wire Desktop Version 3.10.2904 (Ubuntu 19.04)
Easy bug to fix (I guess): In the menu `Devices`: There is a link to "WHY VERIFY CONVERSATIONS?": [https://wire.com/privacy/why/](https://wire.com/privacy/why/) but this is a dead end "Sorry, unable to find the page."

Please change the link to the right address, e.g. https://support.wire.com/hc/en-us/articles/207859815-Why-should-I-verify-my-conversat

[2019-09-10 13:15] ffflorian commented on #7263
Hi @Filbuntu, thanks for the report! The link should be fixed now.

[2019-09-10 13:15] #7263 closed, assigned to nobody

[2019-09-10 13:44] Filbuntu commented on #7263
@ffflorian Yes, it does! Thanks for the quick fix!

[2019-09-12 13:35] atomrc commented on #7232
Hi @nitrohorse

Thanks for the report. This bug has been fixed recently and will be out with the next release of the app. (https://github.com/wireapp/wire-webapp/pull/7270/files)

Have a great day.

[2019-09-12 13:35] #7232 closed, assigned to nobody

[2019-09-13 10:30] Crandel opened #7286 "No preview for links in web version in Firefox"
## Wire for web version
 2019-09-02-10-32

## Browser version
Firefox 69

## Installed browser addons
uBlock Origin, Stylus, Three Style Tab

## Operating system
Arch Linux
## What steps will reproduce the problem?

1.  Send link to chat

## What is the expected result?
View a preview of link
## What is the actual result?
Url of site

If I edit this url in mobile version later I have a preview for

[2019-09-17 07:28] ghost opened #7306 "nothing"

[2019-09-17 11:42] #7306 closed, assigned to nobody

[2019-09-17 12:49] larcenou commented on #7122
holding on tight ist starting to hurt after 3 years.

[2019-09-18 19:34] jschaul opened #7334 "Bug: code block containing URL altered"
Wire version: 3.10.2904-2904
Wire for web version: 2019.09.17.1036
Operating system: linux (debian 9)
Which antivirus software do you have installed: none

What steps will reproduce the problem?

1.  type a fenced block with 3 backticks ``` containing a URL
2.  send message

What is the expected result?

The content between the <code>```</code> block does not change.

What is the actual result?

`

[2019-09-19 12:34] AndyLnd commented on #7334
[This](https://github.com/wireapp/wire-webapp/pull/7310) should fix it.

[2019-09-23 00:06] Filbuntu opened #7335 "I-beam pointer (AKA the I-cursor) is"
Wire version: 3.10.2904
Wire for web version: 2019.09.17.1036
Operating system: Ubuntu 19.04
Which antivirus software do you have installed: No active one.

What steps will reproduce the problem?
1. Typing a new message.
2. Write more than 2 lines.
3. The [I-beam pointer (AKA the I-cursor)](https://en.wikipedia.org/wiki/Cursor_(user_interface)#I-beam_pointer) is moved away from the actual typing p

[2019-09-24 19:31] b9AcE opened #7333 "Whitelist Pale Moon browser"
Currently when using the [Pale Moon web browser](http://www.palemoon.org/), to access "[Wire for web](https://app.wire.com/)" one is just told to use one of the big four browsers, but if one uses the builtin functionality to report a different HTTP User Agent to that specific site, such as the current UA for Firefox, the page works just fine.
Therefore it seems reasonable to whitelist this browser

[2019-09-25 15:46] max-baz commented on #7210
This is fixed in https://github.com/wireapp/wire-webapp/pull/7314

[2019-09-25 15:48] #7210 closed, assigned to nobody

[2019-09-26 08:06] bittner commented on #1209
Is or will it be possible to add Wire to Franz again? Has the mentioned "deliberate blocking" been removed in the meantime?

[2019-09-26 08:09] hannesdorn commented on #1209
btw, in the meantime I switched to Rambox, which supports Wire.

[2019-10-02 02:53] odiferousmint commented on #7123
Or better yet, support multiple color themes! Personally I like `monokai`.

[2019-10-07 06:32] nishat-techindustan opened #7401 "How can we seperate the sender's message queue from the recipient message queue?"
Is there any approach to separate the sender's message queue and recipient message queue inside the code. I 've been trying to change the format in the stylesheet but it seems like the styling has effect only in the overall layout of the page. Can someone please tell me how to isolate them inside the code.

[2019-10-07 18:35] alaviss opened #7403 "Inconstistant markdown rendering on web vs android/ios"
## Wire for web version
2019-09-24-11-57

## Browser version
Firefox 69.0.1

## Installed browser addons
uBlock Origin
uMatrix

## Operating system
Gentoo Linux amd64

## What steps will reproduce the problem?

1.  Send a message with the content: `\***action**\*`

## What is the expected result?
Both versions render: \***action**\*

## What is the actual result?

Android/iOS renders: \***action**

[2019-10-08 18:21] norstbox opened #7405 "Conversation list shows obsolete items"
## Wire for web version
2019-09-24-11-57

## Browser version
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.90 Safari/537.36

## Installed browser addons
None at all

## Operating system
Windows 10, 1903

## What steps will reproduce the problem?
Consider the following scenario:
1. Alice has a conversation with Bob
2. Bob has deleted his account
3.

[2019-10-16 13:19] szaimen opened #7458 "Please support Push-notifications"
Please support Push-notifications, so that I get notifications also when the wire-webapp isn't open in a tab or the browser is completely closed.

[2019-10-18 14:46] erotavlasme opened #7484 "Browser extension request"
Hi,
please in order to enhance security and speed of wire web app it would be good to have a browser extension (firefox and chromium based browser). This will allow to run the app locally and avoid to download javascript, HTML and CSS from wire servers via HTTPS every time. Moreover, the browser extension updates can be protected by cryptography.

[2019-10-20 06:02] v3EtBhYE commented on #446
Is 2Fa planned to be implemented any time soon? Otherwise it would pose security threat to most users

[2019-10-31 17:50] mattbraga commented on #4558
I'm also experiencing the same issue w/ Mozilla/5.0 (X11; CrOS x86_64 12371.75.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.105 Safari/537.36

[2019-11-12 05:07] BobbyWibowo commented on #9453
I'd certainly love to at least have a separate option to disable this behavior.

[2019-11-13 21:46] max-baz commented on #7335
Duplicate of https://github.com/wireapp/wire-webapp/issues/6105 (but yeah, very annoying issue!)

[2019-11-22 00:51] BobbyWibowo opened #7762 "Emojis with modifiers aren't being listed and sent properly"
**Wire version:** 3.11.2912
**Wire for web version:** 2019.11.21.1104
**Applicable on:**
Desktop app on KDE neon 5.17.3 User Edition (Ubuntu 18.04)
Web version on Firefox 70.0.1 (KDE neon)
Desktop app on Windows 10

**What steps will reproduce the problem?**

1. Write `:kiss` in chat input to show a list of emojis whose description contain the string "kiss"
2. Look at the suggestion results

**Wha

[2019-11-29 10:32] strypey opened #7812 "Error message links "Why" to page with 404"
## Wire for web version: 2019-11-26-13-27

## Browser version: Mozilla/5.0 (X11; Linux i686; rv:68.0) Gecko/20100101 Firefox/68.0

## Installed browser addons

* uBlock Origin 1.24.2
* NoScript 11.0.10rc1

## Operating system: Ubuntu 16.04 (Trisquel 8 distribution)

## What steps will reproduce the problem?

1. Produce an error state where a message is not displayed and instead says "A message fro

[2019-11-29 18:57] Transisto opened #7832 "Website link broken"
I didn't know where to make that issue, Thanks to whoever forward this to the right place/person.

When Clicking

![image](https://user-images.githubusercontent.com/388716/69886467-15f2d000-12b0-11ea-9b39-f29338f55a31.png)
(Desktop and most likely other platforms.)

it sends to a broken 404 link `https://wire.com/en/privacy/why/`

[2019-12-02 09:00] tiago-loureiro commented on #7832
Hi @Transisto - thanks for reporting. @ffflorian will look into this.

[2019-12-02 11:27] #7812 closed, assigned to nobody

[2019-12-02 11:27] #7832 closed, assigned to lipis

[2019-12-02 12:59] ffflorian commented on #7832
This should be fixed now.

[2019-12-02 12:59] ffflorian commented on #7812
This should be fixed now.

[2019-12-05 09:51] ffflorian commented on #494
This is fixed by now.

[2019-12-05 09:51] #494 closed, assigned to nobody

[2019-12-16 09:53] KaKi87 opened #7922 "[Feature request] PIN lock"
It would be nice to be able to lock Wire web with a 4 to 8 digit PIN. Thanks

[2019-12-22 13:15] KaKi87 opened #7971 "Notification sound"
I hate that high-pitched notification sound that stings my ears and I'm convinced there are tons of cool copyright-free notification sound on the web, could you please choose a nicer one ? Thanks.

[2019-12-24 13:45] gj-ramesh opened #7972 "error There are no binary scripts available."
i have setup code as per instruction given you but i can't able to run yarn.
below issue error show.
![image](https://user-images.githubusercontent.com/59202472/71415209-92df5280-2680-11ea-975f-bf2991957e70.png)

![image](https://user-images.githubusercontent.com/59202472/71415318-1305b800-2681-11ea-8728-3d6a1489024f.png)

i have used node js version 13.5.0 and yarn version 1.21.1 with window mach

[2019-12-30 12:46] cgsadmin opened #7985 "I cant install wire-webapp in centos version 7.3+"
@herrmannplatz  and @typfel
My system details below

CentOS Linux release 7.3.1611 (Core)
Node JS version : v13.5.0
I am trying to install this=> https://github.com/wireapp/wire-webapp

Getting errors below
![image](https://user-images.githubusercontent.com/20816988/71582472-615b0100-2b30-11ea-81d2-10f2fe1d202d.png)

![image](https://user-images.githubusercontent.com/20816988/71582455-530ce500-2b3

[2019-12-30 13:12] cgsadmin commented on #7985
[root@ns510456 wire-webapp-dev]# yarn start
yarn run v1.21.1
$ yarn build:server && grunt build && concurrently "yarn start:server:dev" "grunt watch"
$ cd server && yarn build
$ yarn clean && tsc -P tsconfig.json && node ./bin/copy_server_assets.js && node ./bin/create_commit_sha_file.js
$ rimraf ./dist/
Server.ts:22:22 - error TS2307: Cannot find module 'hbs'.

22 import * as hbs from 'hbs';
[cod

[2019-12-31 09:09] cgsadmin commented on #7985
@typfel , @infotexture
Please help me as soon as possible as waiting for this to go ahead

[2020-01-02 04:31] cgsadmin commented on #7985
@herrmannplatz , please help me as soon as possible.

[2020-01-02 15:16] #7985 closed, assigned to nobody

[2020-01-04 05:23] cgsadmin commented on #7985
@infotexture ,
I have done changes as per #7987 and it works but now i got new issue again. please help for this
Please check this in below screen.

![image](https://user-images.githubusercontent.com/20816988/71760222-1cdcb600-2ee0-11ea-82ab-2ea9b79b8913.png)

[2020-01-04 05:25] cgsadmin opened #7991 "@infotexture ,I cant install wire-webapp in centos version 7.3+ (#7985)"
@infotexture ,
I have done changes as per #7987 and it works but now i got new issue again. please help for this
Please check this in below screen.

![image](https://user-images.githubusercontent.com/20816988/71760222-1cdcb600-2ee0-11ea-82ab-2ea9b79b8913.png)

_Originally posted by @cgsadmin in https://github.com/wireapp/wire-webapp/issues/7985#issuecomment-570758164_

[2020-01-04 09:06] cgsadmin commented on #7991
@typfel ,
I got like this issue also please let me know how to solve this below :

Replace Autoprefixer browsers option to Browserslist config.
[1] Use browserslist key in package.json or .browserslistrc file.
[1]
[1] Using browsers option cause some error. Browserslist config
[1] can be used for Babel, Autoprefixer, postcss-normalize and other tools.
[1]
[1] If you really need to use option, rena

[2020-01-04 11:08] ffflorian commented on #7991
Duplicate of https://github.com/wireapp/wire-webapp/issues/7985.

[2020-01-04 11:08] #7991 closed, assigned to nobody

[2020-01-04 11:09] ffflorian commented on #7972
@gj-ramesh you need to run `yarn` and not `yarn run`.

[2020-01-04 11:09] #7972 closed, assigned to nobody

[2020-01-04 11:10] ffflorian commented on #7335
Duplicate of #6105

[2020-01-04 11:10] #7335 closed, assigned to nobody

[2020-01-04 11:44] Filbuntu commented on #6105
@ffflorian Thank you for combining the two reports. Will there be some work on this?
It is is still an issue (I-beam pointer (AKA the I-cursor) is moved away from the actual typing place:
Wire version: 3.11.2912
Wire for web version: 2019.11.26.1327
Operating system: Ubuntu 19.10 (and 19.04)
Which antivirus software do you have installed: No active one.

[2020-01-06 15:23] KaKi87 opened #8000 "Username case sensivity"
Hello,

Despite Wire doesn't care about it, my username isn't `kaki87` but `KaKi87`.

The style isn't actually an ultra big problem and I wouldn't create an issue for that.

However, every time I login on Wire from a new device, I spend 10 minutes figuring out why the hell I get an `invalid input` error despite I copy/paste my password from my password manager and I never got *forgot password* iss

[2020-01-07 11:52] cgsadmin opened #8003 "I cant create registration"
Hello ,
I got below errors when i installed and accessed web

Access to XMLHttpRequest at 'https://staging-nginz-https.zinfra.io/activate/send' from origin 'http://xx.xx.xx.xx:8081' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

![image](https://user-images.githubuserco

[2020-01-09 10:17] cgsadmin commented on #8003
@lipis ,
Please have reply on this so we can proceed to next

[2020-01-09 10:20] ffflorian commented on #8003
@cgsadmin to run your own instance of the WebApp, you need to set up your own Wire server or start Chrome with `--disable-web-security`. Closing as duplicate of https://github.com/wireapp/wire-webapp/issues/294.

[2020-01-09 10:20] #8003 closed, assigned to nobody

[2020-01-09 11:36] cgsadmin commented on #294
@ffflorian,
 that error is gone #1134 but now become other error
Please help me to get done installation with create new registration

![image](https://user-images.githubusercontent.com/20816988/72064625-46437a80-3302-11ea-930f-892804317a56.png)

[2020-01-09 11:38] cgsadmin opened #8008 "@ffflorian, 403 Forbidden showing andAuthentication failed"
@ffflorian,
 that error is gone #1134 but now become other error
Please help me to get done installation with create new registration

![image](https://user-images.githubusercontent.com/20816988/72068786-d89c4c00-330b-11ea-96d1-69148b863bb4.png)

[2020-01-09 13:24] cgsadmin commented on #8008
@lipis , please help for this

[2020-01-10 12:18] cgsadmin commented on #8008
@lipis ,
Please let us know what to do for this issue

[2020-01-11 06:48] cgsadmin commented on #8008
@lipis ,
Please help me for this

[2020-01-11 23:45] jly36963 opened #8011 "Web app doesn't render"
## Wire for web version

`<meta property="wire:version" version="2020-01-06-09-57">`

## Browser version

Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:71.0) Gecko/20100101 Firefox/71.0

## Installed browser addons

None

## Operating system

Windows 10 Pro 1909

## What steps will reproduce the problem?

* go to `app.wire.com`
* see 'transferring data from app.wire.com' in bottom left corner
* app

[2020-01-12 23:26] kekukui opened #8036 "Virtual effects camera prevents activation of physical USB camera"
When the selected camera in Wire is a _**virtual effects camera**_*, and the virtual camera service is not running, I cannot change the selection in Wire to activate the attached USB camera.

* Youcam / Perfectcam / Manycam, etc

Wire for web version: 3.12.3423
Browser version: Wire desktop
Operating system: Windows 10

[2020-01-14 06:16] cgsadmin commented on #8008
@herrmannplatz , @typfel

Please help as soon as possible so we move to next

[2020-01-16 13:00] cgsadmin commented on #8008
@lipis , @herrmannplatz ,
Please help as soon as possible so we move to next

[2020-01-17 12:47] ffflorian commented on #7334
Was fixed in https://github.com/wireapp/wire-webapp/pull/7310.

[2020-01-17 12:47] #7334 closed, assigned to nobody

[2020-01-22 16:58] Transisto commented on #8036
Is this what you see?

![image](https://user-images.githubusercontent.com/388716/72915520-716c9780-3d0e-11ea-8658-639491fc30ec.png)

I think I have the same problem

https://github.com/wireapp/wire-desktop/issues/3487

[2020-01-22 19:06] kekukui commented on #8036
Yes, the camera selection list is disabled.  If I start (or uninstall) the virtual camera service, everything is back to normal.

[2020-01-23 00:11] jamesxu123 opened #8101 "Audio Artifacts While Screen Sharing"
Wire version: Version 3.12.3423
Wire for web version: Wire for Web Version 2020.01.22.1255
Operating system: Win 10 Pro, 1909
Which antivirus software do you have installed: Bitdefender

What steps will reproduce the problem?

1. Screen share
2. Wait a while...

What is the expected result?

Clean audio without artifacts

What is the actual result?

Static-y "clicking" noises start appearing a whi

[2020-01-23 04:49] gopherit commented on #8011
I experienced this several weeks ago where both instances of Wire for Windows (which uses Wire for Web) had a blank white screen, and app.wire.com wouldn't load either.

I experienced and am experiencing the exact same thing today, January 22, 2020, which just so happens to be the date of the new version of Wire for Web:  Wire for Web Version 2020.01.22.1255.  This issue doesn't appear to affect W

[2020-01-23 18:18] Transisto commented on #8036
Same, thanks a lot for your contribution @kekukui

Unfortunately after raising millions Wire still hasn't managed to hire people who care about acknowledging constructive bug reports.

[2020-01-24 05:02] cgsadmin commented on #8008
@jspittka,
Please help asap

[2020-01-27 08:18] sebastian-brandt opened #9450 "Receiver of timed (and NOT yet expired) message sees scribble"
Wire version: 3.12
Operating system: Observed with Windows 10 and Linux
Which antivirus software do you have installed: Windows 10: Microsoft Defender, Linux: None

What steps will reproduce the problem?
1. Receiver has chat window open
2. Sender sends a timed message to same chat as receiver has open

What is the expected result?
Receiver should see the message text, as it has not yet expired.
As

[2020-01-27 20:38] KaKi87 opened #8129 "[Bug] Messages not sending"
## Wire for web version

`2020-01-22-12-55`

## Browser version

`Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4033.0 Safari/537.36 Edg/81.0.403.0`

## Installed browser addons

[code]

## Operating system

Windows 10

## What steps will reproduce the problem?

1. Select a conversation
2.  Type a message
3.  Submit

## What is the expected result?

T

[2020-02-01 08:45] cgsadmin commented on #8008
Can you please reply on this ???

[2020-02-02 15:55] MarcelRobitaille opened #8170 "Filename of downloaded image / video `undefined`"
## Wire for web version

 2020-01-22-12-55

## Browser version

Mozilla/5.0 (X11; Linux x86_64; rv:72.0) Gecko/20100101 Firefox/72.0

## Installed browser addons

Ublock origin
NoScript (wire.com whitelisted)

## Operating system

Linux Zeus 5.4.13-arch1-1 #1 SMP PREEMPT Fri, 17 Jan 2020 23:09:54 +0000 x86_64 GNU/Linux

## What steps will reproduce the problem?

1.  Click context menu on picture /

[2020-02-07 14:13] Lucki commented on #4558
Still a problem with Firefox 72.0.2 and Wire webchat Version 2020-01-22-12-55
Tab is pinned and cookies are allowed.

[2020-02-15 02:07] chriseomi commented on #7013
I'm having them same issue now out the blue. Never had it before. Weird.

[2020-02-15 14:20] mirko opened #8220 "Feature request: make wire webapp accessible via domain for which a TLS cert is issued signed by a CA exclusively owned by Wire"
There is reason not to trust the CAs that come with web browsers and are trusted by default.

While there is the way of certificate pinning, it's getting tedious to keep track of newly issued certificates, referencing and verifying their fingerprints.

I'm kindly suggesting Wire - probably already maintaining a couple of its very own CAs - adding/using a CA and issue a certificate used by a (custo

[2020-02-17 13:56] chriseomi commented on #7013
This is now happening 100% of the time reproducibly. Basically on a fresh start of Wire, message sending works fine, but after about 10 minutes I will switch back to Wire and then new messages will become gray and refuse to send. Restarting Wire fixes it for another 10 minutes or so.

Running Wire 3.10.3133 on macOS Catalina 10.5.3

[2020-02-22 16:46] KaKi87 opened #8251 "Login page not dark"
## Wire for web version

`2020-02-14-13-07`

## Browser version

[code]

## Installed browser addons

The list is very long.

## Operating system

Windows 10

## What steps will reproduce the problem?

1. Go to https://app.wire.com/auth/

## What is the expected result?

The login page is dark

## What is the actual result?

The login page is light

![2020-02-22 17_45_26-Greenshot](https://user-im

[2020-02-28 22:19] Transisto opened #9447 "Jump to NOW feature."
When scrolling back in time and especially jumping to old items via search I found it very hard to get back to last message.

I used to switch account and go back but that's awkward and it doesn't work anymore for some reasons.

Can also type something to get back to it, that's also akward.

**Suggestion**:  Have a "Jump to current" button like how most other chat app do.

example :

![image](http

[2020-03-06 14:00] Wurzelkoch commented on #7403
~~Duplicate of #5072, isn't it?~~

[2020-03-06 14:06] Wurzelkoch opened #8318 "No Internet breaks desktop app"
I am using wire-desktop, but I guess this is a webapp problem since I'm told desktop loads webapp. If I'm wrong, please move this issue over to wireapp/wire-desktop.

Until now, when internet connection broke, there was a green bar saying "No internet, wire won't be able to send or receive messages" or the like.
Since todays update, when I loose connection I get a full screen error message "couldn

[2020-03-07 03:49] alaviss commented on #7403
I'm not sure if that PR is even related

[2020-03-09 10:36] DaWouw opened #9448 "Wire Desktop client supports Punycode in URL's"
Wire version: 3.14.3609
Operating system: MacOS 10.15.3

**What steps will reproduce the problem?**
The Wire desktop app supports displaying URLs with a Puncycode representation.
1.  Send the URL https://xn--outfank-jdc.nl/ in a chat.
Another, example: https://www.xn--80ak6aa92e.com/
2.  View the message in the Wire Desktop client.

**What is the expected result?**
The Android and iPhone apps do n

[2020-03-10 16:33] KaKi87 commented on #7922
Hello, any news on this ?

[2020-03-10 16:33] KaKi87 commented on #7971
Hello, any news on this ?

[2020-03-10 16:34] KaKi87 commented on #8000
up

[2020-03-19 13:39] harishvishwakarma commented on #229
What happened to this API? developer.wire.com redirects to home page.

[2020-03-20 01:50] Transisto opened #8386 "links on android are not like links on desktop."
http://brrr.money

![image](https://user-images.githubusercontent.com/388716/77129749-87a38500-6a2b-11ea-8702-667c3d5385c6.png)
Not clicky on desktop,

Should be consistent across platform.

[2020-03-23 20:51] Transisto commented on #5571
GIF selection is still garbage 2 years later,

You just need to sort by anything else than NEW,,, How fucking hard can that be?

[2020-03-30 13:34] flokli opened #9866 "Switching microphones breaks selction and permanently enables webcam"
Wire version: 3.16.2923
Wire for web version: 2020.03.23.1558
Operating system: NixOS, nixpkgs at 7fedac34b1063091fff4cd8fceb747f9918286ac.
Which antivirus software do you have installed: None

What steps will reproduce the problem?

1.  Plug in an external Microphone (in my case [this one](https://www.amazon.de/gp/product/B07WFW673W), but shouldn't matter)
2.  Open the Wire Desktop client
3.  Go

[2020-03-30 13:38] flokli commented on #9866
FWIW, this also seems to happen if I switch from "Default" to "HDA Intel PCH, ALC293 Analog-Default Audio Device" - except the console shows

and the input seems to work after a restart of the client.

[2020-03-30 16:22] wjtk4444 opened #8452 "Images sometimes not loading and only showing placeholder"
## Wire for web version

2020-03-23-15-58

If my memory is correct, this issue didn't happen before 2020-03-23

## Browser version

firefox 74.0-2 (happens on other browsers too; possibly in electron app and on mobile devices as well)

## Installed browser addons

found irrevelant during testing the issue on other browsers and operating systems

## Operating system

see above

## What steps will r

[2020-03-30 16:41] Maryushi3 commented on #8452
I can confirm that the same happens with Wire open in Hamsket 0.52.0 (which identifies as Chrome 73.0.3683) and 0.6.0 (Chrome 80.0.3987). Refreshing the tab with Wire makes images successfully reload. It never happened to me on mobile (Android) as far as I remember.

[2020-03-30 16:52] gryzly123 commented on #8452
If this somehow helps with narrowing the problem, this also occurs on the Windows client since last update (3.16.3562 with web version 2020.03.23.1558)

[2020-04-01 12:30] bennycode opened #8459 "TypeScript Migration"
## Source code

[`src/script/`](https://github.com/wireapp/wire-webapp/tree/dev/src/script)

- [x] [`backup/Error.js`](https://github.com/wireapp/wire-webapp/tree/dev/src/script/backup/Error.js) (78 lines)
- [x] [`components/accentColorPicker.js`](https://github.com/wireapp/wire-webapp/tree/dev/src/script/components/accentColorPicker.js) (46 lines)
- [x] [`components/deviceRemove.js`](https://gith

[2020-04-03 01:13] rosspi opened #8470 "cannot login"
If I try to login (via the web or windows client actually, so perhaps its a server issue) it goes through the loading process
.. updating message.. etc.. looks like it's about to work, and let me in.
But then it just returns back to the login 'Welcome to Wire' screen.
Is anybody else having this issue?

[2020-04-05 06:45] perfectwebtech opened #8496 "reset password does not work"
reset password does not work

in nginx conf there is no reset password features anyone can share with me something ?

[2020-04-06 08:19] monolied opened #8500 ""Clear Content" of group makes group inaccessible"
What steps will reproduce the problem?

1.  Clear Content of group

What is the expected result?

Group dialogue window is empty

What is the actual result?

Group dialogue window disappears and I'm unable to post in group

All known versions.
The same happens with "Archive Group". The only way I know to get access to the group back is phoning someone in the group and ask him to post something. Wh

[2020-04-06 08:32] ffflorian commented on #8500
@monolied when clearing the content of a group, the group is moved to the archive. Did you check if the group is available in the archive or the search?

[2020-04-06 12:02] monolied commented on #8500
Ah, and I thought, "Archive" was moving to archive. I didn't expect "Clear Content" to be the same (and since I sometimes archive content, I thought the archive entry to be just these), and I didn't expect to not find the group anymore in the list of groups on the "Folders" tab. But you're right; there they are. So they aren't lost, and I'll get used to that.  I'd still maintain that behaviour is

[2020-04-06 12:02] #8500 closed, assigned to nobody

[2020-04-11 12:17] Ads20000 commented on #8470
I am getting this issue, I get the following (and this is about it) in my console:
[code]

[2020-04-14 08:50] mythsunwind commented on #8470
Thanks for the reports. We found the issue and fixed it. The fix will be released this week. Sorry for the inconvenience!

[2020-04-15 13:10] mythsunwind commented on #8452
Thanks for all the reports, we are aware of this issue and currently working on a fix. As a workaround it usually helps to switch to another conversation and then back. This might be a bit less annoying than refreshing the tab.

[2020-04-18 06:04] rosspi commented on #8470
When is it getting released? It still does not work, currently.

[2020-04-20 15:29] mythsunwind commented on #8470
Release is planned for tomorrow (Tuesday the 21st). Sorry that it took so long!

[2020-04-26 04:27] Aikatsui commented on #6156
#7018 #4454 #6282 #7083 #6837 https://github.com/wireapp/wire-webapp/issues/8036
wireapp/wire-desktop#3709
wireapp/wire-desktop#2703
wireapp/wire-desktop#3735
wireapp/wire-desktop#3472

[2020-04-26 04:30] Aikatsui commented on #4454
wireapp/wire-desktop#3709
#7018
https://github.com/wireapp/wire-webapp/issues/6156

[2020-04-26 05:49] Aikatsui commented on #7018
Useless

[2020-04-27 06:59] dwt opened #8657 "Add setting to ignore expiring time on messages"
Hi there,

since it is quite a chore to hand-archive all the expiring messages I would really appreciate a setting to disable this feature in bulk.

Here is my argument:
- Once you have sent a message, there is no guarantee that the other party is not hand archiving the message anyway (as I am doing on occasion)
- The message history is really hard to read if after some time some of the messages a

[2020-04-27 09:02] 229c9cf0 commented on #8657
This is most relevant in groups, where one person sending disappearing messages by default makes it hard for everyone to follow the conversation later on. Being able to disable this at least in group settings would be great. (It's already possible to enforce disappearing messages via group settings, adding another "disabled" (vs. merely "off") option to that list would solve this for the group con

[2020-05-04 06:58] Wurzelkoch opened #8705 "Links act as relative links"
I'm running wire-desktop, but I guess this is something, that webapp is in charge for.
If not, feel free to transfer it wherever it belongs.

## Operating system
Debian 10
Wire-Desktop Version 3.16.2923
Wire for Web Version 2020.04.29.1041

## What steps will reproduce the problem?

1.  Send or receive any link
2.  Click on it

## What is the expected result?
External browser opening and displayin

[2020-05-04 11:16] tokariu opened #8706 "Microphone not working and greyed out in settings in chromium browser and wire desktop"
![wire-chromium](https://user-images.githubusercontent.com/7195846/80960291-e28d1200-8e08-11ea-8465-a7d9c789a4a6.png)

This issue happens on all clients using chrome/chromium and live version of wire-web and wire-desktop. I have confirmations that this is also happening on linux.

Firefox is still able to select and use a microphone.

Firefox and wire-web is currently the ONLY way to make video/vo

[2020-05-04 14:16] Wurzelkoch commented on #8705
Version comparison shows that this is an issue of wire-desktop, so i opened a new issue over [there](https://github.com/wireapp/wire-desktop/issues/3853) and will close this one.

[2020-05-04 14:16] #8705 closed, assigned to nobody

[2020-05-04 14:35] Aikatsui commented on #8706
https://github.com/wireapp/wire-desktop/issues/2703

[2020-05-06 08:56] Wurzelkoch commented on #7403
I think I wanted to link to another issue, not a PR…
Maybe cross-repository and that's where it was confused.

Anyways, the problem is still there.

[2020-05-07 17:16] agates opened #8739 "Messages not sending with high MTU"
## Wire for web version

2020-05-07-09-41

## Browser version

Mozilla/5.0 (X11; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36

Mozilla/5.0 (X11; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.129 Safari/537.36

Also affects the desktop client in Flatpak/Appimage

## Installed browser addons

None on chrome/desktop ap

[2020-05-07 17:18] agates commented on #8739
I also have pihole DNS server on the network and have checked that no related DNS requests are being blocked.

[2020-05-07 17:41] agates commented on #8739
It works if I connect via VPN.... very confusing.

I have manually disabled IPv6 and bypassed my DNS server to verify and I'm still having the problem.

Note, Wire on Android is working fine on the same network with no VPN.

[2020-05-08 14:42] TechnologyClassroom opened #8741 "LibreJS compatibility"
It would be nice if the Wire webapp became [LibreJS](https://www.gnu.org/software/librejs/) compliant.

Instructions:
- [Setting your JavaScript free](http://www.gnu.org/software/librejs/free-your-javascript.html)
- [Setting your JavaScript free from the LibreJS manual](https://www.gnu.org/software/librejs/manual/html_node/Setting-Your-JavaScript-Free.html)

[2020-05-13 01:05] qalqi opened #8780 "Testing login credentials"
## Wire for web version
0.1.0

## Browser version

Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36

## What steps will reproduce the problem?

1.  cloned and installed wire-webapp and wire-server. changed env variables to local. What are the testing login credentials and how to create?

## What is the expected result?
To be able t

[2020-05-14 08:50] widardd opened #8795 "Video files from TikTok often don't render"
Wire version: 3.17.3598 on Windows, 3.48.914 on Android
Operating system: Windows 10 1903 and Android 9 PKQ1.190319.001
Which antivirus software do you have installed: None

What steps will reproduce the problem?

1.  Share tiktok-file via wire on any platform

What is the expected result?

Rendered video file

What is the actual result?

Black box stuck at "Sending"

Please provide any additional

[2020-05-15 11:32] tokariu commented on #8706
ref.: https://github.com/wireapp/wire-desktop/issues/2703#issuecomment-628244722

[2020-05-20 15:47] Sledge-Hammer commented on #7122
Actually that would be a terrible feature to have.
Not everyone wants their name used over the Internet and the lack of contact renaming is so far one the best features of Wire.
If you add something like that at the very least each person should have the option to allow whether others can rename them or not...

[2020-05-27 18:52] thomasrockhu opened #8889 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-05-29 09:04] thenktor commented on #6156
Is this still an issue?
Without having this fixed sadly it is a waste of time to try Wire for business use again.

[2020-06-08 21:37] gerout7 opened #9864 "Calls continue after being hung up"
Wire version:  3.18.2925
Wire for web version:  2020.06.02.1701
Operating system: Manjaro (rolling release)
Which antivirus software do you have installed: none
What steps will reproduce the problem?

1.  User A calls an existing contact named B
2.  The contact B accepts the call and audio is transmitted between A and B
3.  The contact B and the original caller A both hang up at the same time
4.

[2020-06-25 12:52] Jasmine722 opened #9180 "Audio calls with multiple users broken by network issues"
Wire version: 3.18.2925-1 (and previous versions during the last 3 months at least)
Operating system: Manjaro (Windows 10, Windows 7 also affected)
Which antivirus software do you have installed: none

What steps will reproduce the problem?

1.  create a call with at least 3 participants
2.  one of the participants has network/internet issues, resulting in interruptions and high latency
3.  after

[2020-07-01 14:00] Filbuntu commented on #6105
Hopefully there will be a fix for this soon as it is really a bugging bug. Thanks in advance!

[2020-07-04 16:31] temporallyaccount opened #9124 "Add new language for wire"
#### Requested language
Sinhala language

#### Requested Projects
https://crowdin.com/project/wire-account
https://crowdin.com/project/wire-webapp
https://crowdin.com/project/wire-launch
https://crowdin.com/project/wire-team-settings

#### Other Projects
https://crowdin.com/project/wire-cs
https://crowdin.com/project/wirecom

#### Additional Details
Sinhala language currently enabled for wire desk

[2020-07-07 03:55] Transisto opened #9164 "Messages time/date does not include year."
![image](https://user-images.githubusercontent.com/388716/86705662-1c82bc00-bfe4-11ea-9d79-55ae8ecf92c4.png)
That's from many years ago but no way to actually know when.

[2020-07-08 10:34] f4th0m opened #9178 "h265 videos should not be embedded when they can't be played"
Wire version: 3.18.0-60b7602d.0-60b7602d
Wire for web version: Wire Webes verzió 2020.06.24.0933
Operating system: Linux/Mageia Cauldron
Which antivirus software do you have installed: Clamd

What steps will reproduce the problem?

1.  encode any video using h265
2.  try to share it
3.  The videos appear as sent on sending device, but none receives it, also playback only shows black screen.

What

[2020-07-08 10:39] f4th0m opened #9177 "unnecessary and painful limitations"
Wire version: Verzió: 3.18.0-60b7602d.0-60b7602d
Wire for web version: Wire Webes verzió 2020.06.24.0933
Operating system: Linux/Mageia Cauldron
Which antivirus software do you have installed: Clamd

Wire does not allow more than 10 files to be shared at once, why? Since unlimited number of photos can be shared anyway why tehre is a painful limit of 10?
Wire only let upload files with max size 25

[2020-07-08 11:01] ffflorian commented on #9178
Chrome does not support embedding h265 video files. Open the following link in a Chrome / Chromium browser and try playing the h265 file: https://h265.webmfiles.org/embed-h265-video.php

[2020-07-08 12:16] f4th0m commented on #9178
OK, then why it tries to embed it? unknown format should be handled as file sending... At least in my opinion. And also the same happens if I want to share as file, which is alsa rather a bug than a feuture...

[2020-07-08 13:15] ffflorian commented on #9178
@f4th0m good point. I'll move this to the wire-webapp repo.

[2020-07-09 22:20] ekkis opened #9865 "Unable to reach top of conversation"
Wire version: 3.16.3630
Operating system: OSX 10.14.6

What steps will reproduce the problem?

1.  scroll to top of window
2.  wait for previous messages to load
3.  scroll again

What is the expected result?

more messages

What is the actual result?

the software slows down to the point of becoming unresponsive

---

I have a really long conversation.  I want to export/back it up, but Wire appar

[2020-07-13 15:15] ffflorian commented on #9865
Hi @ekkis,

Did you try the backup? https://support.wire.com/hc/en-us/articles/360000824805-Back-up-your-conversation-history

[2020-07-13 19:52] ekkis commented on #9865
yes.  the backup may work but the restore doesn't.  but in any case, that's not the topic of this issue

[2020-07-16 09:35] pinta83 commented on #7122
bump..... 4 years, no progress? :(

[2020-07-17 16:37] Transisto commented on #5571
It's really ridiculous

![image](https://user-images.githubusercontent.com/388716/87809871-1a153300-c82a-11ea-9417-ee19d91c96a4.png)

about 50 shuffling of 6 packs later and I can't get that gif.

![image](https://user-images.githubusercontent.com/388716/87810093-6b252700-c82a-11ea-9fce-dca86574d63a.png)

I'll spare you the 50 others but trust me,  they're all awfully irrelevant.

Now on Wire andr

[2020-07-17 16:44] Transisto opened #9230 "Gif search is still totally broken"
https://github.com/wireapp/wire-webapp/issues/5571

[2020-07-18 05:39] Aikatsui commented on #5571
### About Giphy
See https://github.com/wireapp/wire/issues/347 and wire need to replace this with other GIF provider.

[2020-07-18 05:39] Aikatsui commented on #9230
#### About Giphy #5571
See https://github.com/wireapp/wire/issues/347 and wire need to replace this with other GIF provider.

[2020-07-18 06:00] Aikatsui commented on #2021
Duplicate of #7018

[2020-07-18 06:53] Aikatsui commented on #8220
https://github.com/wireapp/wire-desktop/issues/3897 https://github.com/wireapp/wire/issues/328

[2020-07-18 07:06] Aikatsui commented on #5385
https://github.com/wireapp/wire/issues/347 https://github.com/wireapp/wire-webapp/issues/5571

[2020-07-18 07:10] Aikatsui commented on #5383
https://github.com/wireapp/wire/issues/347 https://github.com/wireapp/wire-webapp/issues/5571

[2020-07-18 07:15] Aikatsui commented on #5826
https://github.com/wireapp/wire/issues/347 https://github.com/wireapp/wire-webapp/issues/5571

[2020-07-18 07:44] Aikatsui commented on #8036
https://github.com/wireapp/wire-webapp/issues/7018 https://github.com/wireapp/wire-webapp/issues/6156 https://github.com/wireapp/wire-webapp/issues/4454 https://github.com/wireapp/wire-webapp/issues/6282 https://github.com/wireapp/wire-webapp/issues/7083 https://github.com/wireapp/wire-webapp/issues/6837
https://github.com/wireapp/wire-desktop/issues/3709
https://github.com/wireapp/wire-desktop/is

[2020-07-23 16:57] agates commented on #8739
I've figured it out.  My MTU setting of 9000 was breaking it.

Setting it back to my network default of 1500 fixed it.

[2020-07-24 01:27] ghost opened #9269 "Make previous chat history make visible for new joined member of the group"
Hello is it possible to make previous chat history make visible for new joined member of the group?

[2020-07-24 16:33] Transisto opened #9294 "Forced update link goes nowhere."
![image](https://user-images.githubusercontent.com/388716/88413802-d1212980-cda9-11ea-8e1a-a36abfedad54.png)

`https://medium.com/wire-news/desktop-updates`

Proper link would be `https://medium.com/wire-news/desktop-updates/home` and to be even more accurate it should be `https://medium.com/wire-news/link-medium-com-wire-news-wire-for-web/home` most of the time.

![image](https://user-images.gith

[2020-07-27 09:02] ffflorian commented on #9294
Hi @Transisto, the link https://medium.com/wire-news/desktop-updates is reachable for me, maybe Medium had a problem?

I will forward the link change proposal to our team.

[2020-07-29 15:20] bennycode commented on #9294
@Transisto, thank you very much for bringing this to our attention!

Apparently [Medium](http://medium.com/) changed the link structure from `/` to `/home`. We will fix this with our upcoming desktop release. Your suggestion to link to our webapp release notes is also a very good idea because the update banner is shown whenever the webapp inside our wrapper (desktop app) is updated.

I incorporate

[2020-08-02 00:58] Transisto opened #9344 "Unconnected people show up in the user search input when creating a group"
I see the contact I'm looking in the lest for less than a second then it disappear.

[2020-08-02 01:04] Transisto commented on #9344
BTW it's same problem that was fixed on android about a month ago,

[2020-08-02 01:30] Transisto commented on #9269
not currently but it could be an interesting feature.

[2020-08-05 15:07] bennycode commented on #717
Hi @Caspy7, we are sorry to hear that your Emoji Keyboard Firefox extension is incompatible with Wire. As a workaround we recommend you to use the emoji keyboard of your operating system.

[2020-08-05 15:07] #717 closed, assigned to nobody

[2020-08-05 15:08] bennycode commented on #9344
@Transisto in which part of the app are you looking for your contacts? Do you search them from our Start UI (left side of the application)?

[2020-08-05 15:14] bennycode commented on #8889
Hi @thomasrockhu, thanks for pinging us about the rate limiting. We will have a look at your GitHub app integration.

[2020-08-05 15:15] bennycode commented on #8780
Hi @qalqi, are you trying to run our project locally?

[2020-08-05 15:18] bennycode commented on #8739
Hi @agates, thanks for your detailed report. Is this problem 100% reproducible for you and does your MTU setting also affect other messaging apps (like Slack, Hangouts, ...)?

[2020-08-05 15:21] bennycode commented on #8706
Hi @tokariu, we made massive improvements to our A/V selection on [2020–07–24](https://medium.com/wire-news/wire-for-web-2020-07-24-4ea8e37e6334). Does the problem for you still exist?

[2020-08-05 15:21] bennycode commented on #8496
Hi @perfectwebtech, you can use this link to reset your password: https://account.wire.com/forgot/

[2020-08-05 15:21] #8496 closed, assigned to nobody

[2020-08-05 15:23] bennycode commented on #8470
The release fixing the issue went live on [2020–04–21](https://medium.com/wire-news/wire-for-web-2020-04-21-f314105cb012).

[2020-08-05 15:23] #8470 closed, assigned to nobody

[2020-08-05 15:24] bennycode commented on #8452
Issue has been fixed for https://app.wire.com/.

[2020-08-05 15:24] #8452 closed, assigned to nobody

[2020-08-05 15:26] bennycode commented on #8386
Android and web are using different libraries to parse the links and we won't change them now.

[2020-08-05 15:26] #8386 closed, assigned to nobody

[2020-08-05 15:27] bennycode commented on #8318
Offline capability is a long-term goal which cannot deliver right now but it's in our backlog!

[2020-08-05 15:27] #8318 closed, assigned to nobody

[2020-08-05 15:28] bennycode commented on #8220
We are keeping track of this ticket in https://github.com/wireapp/wire/issues/328 - Thanks for your report!

[2020-08-05 15:28] #8220 closed, assigned to nobody

[2020-08-05 15:28] bennycode commented on #8170
Issue has been fixed. Thanks for your report!

[2020-08-05 15:28] #8170 closed, assigned to nobody

[2020-08-05 15:30] bennycode commented on #8129
@KaKi87 does this problem still exist on your end?

[2020-08-05 15:31] bennycode commented on #8101
Thanks for your report. This issue is fixed with Wire v3.19.

[2020-08-05 15:31] #8101 closed, assigned to nobody

[2020-08-05 15:32] bennycode commented on #8036
We improved the media device management a lot and tested it with [Snap Camera](https://snapcamera.snapchat.com/). Please report back if the problem still exists.

[2020-08-05 15:32] #8036 closed, assigned to nobody

[2020-08-05 15:33] bennycode commented on #8011
We were unable to reproduce this problem, https://app.wire.com/ is online.

[2020-08-05 15:33] #8011 closed, assigned to nobody

[2020-08-05 15:33] bennycode commented on #8008
We don't tolerate spam in our project board.

[2020-08-05 15:33] #8008 closed, assigned to nobody

[2020-08-05 15:34] bennycode commented on #8000
Hi @KaKi87, the case-sensivity should be an easy fix. I will investigate in it.

[2020-08-05 15:42] agates commented on #8739
@bennyn yes I have been able to reproduce it across multiple computers with no exceptions so far.  It has never affected any other messaging apps -- the only other one I currently use is Signal, but in the past Skype and Hangouts have worked fine.

[2020-08-05 16:44] Transisto commented on #9344
No, in the part where I add them to a group. (desktop app)

I can try finding same bug issues where it was fixed on Android,

https://github.com/wireapp/wire-android/issues/2858

On Wed., Aug. 5, 2020, 11:08 Benny Neugebauer, <notifications@github.com>
wrote:

[2020-08-05 20:52] bennycode commented on #7333
Good idea. Can you tell us the user agent of your browser? You can check it on: http://whatsmyuseragent.org/

[2020-08-05 20:53] bennycode commented on #7401
Hi @nishat-techindustan, am I reading it correctly that you just want to change the design in your local frontend?

[2020-08-05 20:54] bennycode commented on #7403
Hi @alaviss, there is a plan to align the different Markups. Can you tell me what's the most annoying difference in our Markdown rendering for you at the moment?

[2020-08-05 20:57] bennycode commented on #7655
Hi @tokariu, can you provide a sample file which we can use for testing?

[2020-08-05 20:59] bennycode commented on #7484
Hi @erotavlasme, we are planning to deliver our JavaScript code from within our desktop application. We have since plan for a while and it will take us some more time to establish it but we will get there.

[2020-08-05 20:59] #7484 closed, assigned to nobody

[2020-08-05 21:00] bennycode commented on #7458
@szaimen are you referring to Chrome's [Push API](https://caniuse.com/#feat=push-api)?

[2020-08-05 21:01] bennycode commented on #7405
@norstbox do you know if these items belong to 1:1 conversations with users who got deleted?

[2020-08-05 21:04] bennycode commented on #7286
Link previews are not possible in our web app due to CORS issues because our webapp is not allowed to fetch remote content.

[2020-08-05 21:04] #7286 closed, assigned to nobody

[2020-08-05 21:08] bennycode commented on #7122
We don't plan to build this feature anytime soon.

[2020-08-05 21:08] #7122 closed, assigned to nobody

[2020-08-05 21:09] bennycode commented on #7083
We improved the A/V selection a lot! Please give it another try. :)

[2020-08-05 21:09] #7083 closed, assigned to nobody

[2020-08-05 21:11] #4250 closed, assigned to nobody

[2020-08-05 21:11] bennycode commented on #6489
Closing the issue because @ghost is a deleted user on GitHub.

[2020-08-05 21:11] #6489 closed, assigned to nobody

[2020-08-05 21:13] bennycode commented on #1630
@Malaquita we improved the quality of our app a lot within the last 3 years. Please report back if you are still experiencing crashes on Opera.

[2020-08-05 21:13] #1630 closed, assigned to nobody

[2020-08-05 21:16] bennycode commented on #5826
Great catch! We will take care of it.

[2020-08-05 21:18] bennycode commented on #2021
In our latest release we improved the media device handling a lot. Please give it another try. :)

[2020-08-05 21:18] #2021 closed, assigned to nobody

[2020-08-05 21:20] bennycode commented on #1602
I have been unable to reproduce this issue so it seems to got fixed over the years. :)

[2020-08-05 21:20] #1602 closed, assigned to nobody

[2020-08-05 21:22] bennycode commented on #726
@fortran77, do you still have this problem? I am not using Lastpass but Wire works well with my 1Password extension.

[2020-08-05 21:23] bennycode commented on #5388
Bug has been fixed.

[2020-08-05 21:23] #5388 closed, assigned to nobody

[2020-08-05 21:25] bennycode commented on #4414
We have updated our instructions. You have setup a virtual host on your machine: https://github.com/wireapp/wire-webapp#how-to-build-the-open-source-client

[2020-08-05 21:25] #4414 closed, assigned to nobody

[2020-08-05 21:27] bennycode commented on #5381
We have experienced this bug with very old profile pictures. On our backend we introduced a new concept for handling avatars so it should not happen anymore if users uploaded a new avatar within the last year.

[2020-08-05 21:27] #5381 closed, assigned to nobody

[2020-08-05 21:32] bennycode commented on #5385
We don't plan to change the looping behaviour of GIFs in the near future.

[2020-08-05 21:32] #5385 closed, assigned to nobody

[2020-08-05 21:33] b9AcE commented on #7333
Yes.

As mentioned, Pale Moon has in its default preferences (native, not through plug-in/extension) an option to switch between three "User Agent Mode" settings, which gives three different results and I will list all three of those.
I decided to provide those from a Windows machine, as I think that may be the most common case, but you will easily spot which parts of the strings would be best to

[2020-08-05 21:33] #5716 closed, assigned to nobody

[2020-08-05 21:33] #5754 closed, assigned to nobody

[2020-08-05 21:34] bennycode commented on #6900
Closing the issue because it got answered by Florian.

[2020-08-05 21:34] #6900 closed, assigned to nobody

[2020-08-05 21:40] bennycode commented on #6063
We don't provide professional support for modified versions of Mozilla Firefox.

[2020-08-05 21:40] #6063 closed, assigned to nobody

[2020-08-05 23:05] szaimen commented on #7458
Yes 👍

[2020-08-06 05:46] nijel commented on #7083
Thanks, seems to work fine now.

[2020-08-06 09:22] KaKi87 commented on #8129
Honestly I don't know because I stopped using the app.

[2020-08-06 11:18] bennycode commented on #8129
That's fair to say. I will close the issue.

[2020-08-06 11:18] #8129 closed, assigned to nobody

[2020-08-06 11:18] bennycode commented on #8000
As promised I have investigated in this issue and developed a fix: https://github.com/wireapp/wire-webapp/pull/9349

Thanks for your report! 👍

[2020-08-06 11:18] #8000 closed, assigned to bennycode

[2020-08-06 11:20] #1192 closed, assigned to nobody

[2020-08-06 11:22] bennycode commented on #6837
We improved the A/V selection in our app a lot. Thanks for reporting!

[2020-08-06 11:22] #6837 closed, assigned to nobody

[2020-08-06 11:23] bennycode commented on #6839
@fredfortier we improved our app in this area. Is the bug still showing up for you?

[2020-08-06 11:33] bennycode commented on #5659
Flickering has been fixed.

[2020-08-06 11:33] #5659 closed, assigned to nobody

[2020-08-06 14:23] erotavlasme commented on #7484
Hi @bennyn, so will it be necessary to download the desktop app? And will it install the extension?

[2020-08-06 22:09] alaviss commented on #7403
Off the top of my head:

- The bug described in this issue.
- Quote blocks (`> quote here`) are not rendered on Web (shows up as "> quote here"), while Android/iOS uses proper markup like this:

- Code blocks (triple backticks) always have syntax highlighting on Web, but not on the Android/iOS app.

[2020-08-07 03:33] norstbox commented on #7405
@bennyn yes, I am talking about 1:1 conversations. Do you have any issues with reproducing?

[2020-08-07 09:47] Wurzelkoch commented on #7403
* numbered lists only appear as such in android, not in web. This led to a misunderstanding when I was sent a list of dates in German format (D. Month). To the sender, who used web, they appeared as sent, to me, on android, they appeared as consecutive days.

[2020-08-07 10:26] chienpanglee commented on #8739
Hi @agates setting jumbo frames can sometimes be tricky depending on if intermediate hops are configured the same and also different applications/protocols may react differently.

In theory, if other Wire clients worked with your setup, it's really the same protocol for WebApp/Desktop except that they work together with Chrome browser. As you also pointed that they all worked when going via VPN. I

[2020-08-07 15:56] agates commented on #8739
@chienpanglee yeah I had the MTU set high primarily for other local traffic reasons.  I had only just realized the change separately as I hadn't used Wire on that machine prior to the MTU increase and everything else worked fine.

[2020-08-08 13:07] resynth1943 commented on #5716
@bennyn can you please explain why this was closed, seemingly with no resolution?

[2020-08-08 23:10] fortran77 commented on #726
I ended up using Wire messenger inside a Rambox window, which preserves the login across machine reboots. So I never see the login any more.

There are a couple of other problems though that are relevant here. Failure of voice calls to ring on Android devices, and notifications of text messages not appearing on Android devices, have been reported in other places in this issue tracker. After many e

[2020-08-08 23:14] fortran77 commented on #726
Here is a trivial fix for all problems related to password managers. Provide a separate login page for use with password managers. Use simple HTML, no style sheets, no JavaScript. Just the bare minimum of a form with fields. Use standard names for all fields. Exercise no creativity in designing that page. If options such as remember me are needed, maybe provide distinct web pages instead of such a

[2020-08-10 15:59] norstbox opened #9390 "UI becomes unresponsive when switching between conversations"
## Wire for web version

2020-07-24-13-46

## Browser version

Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36

## Installed browser addons

None at all

## Operating system

Windows 10, 1909

## What steps will reproduce the problem?

1.  Open conversation with long enough history (hundreds of messages)
2.  Scroll back to load his

[2020-08-11 09:52] #2155 closed, assigned to nobody

[2020-08-11 10:05] bennycode commented on #6156
Starting a call without a microphone is not possible in our UI. To still be able to share your screen you can ask the other party to start the call, so that you can join it with the PC that does not have a microphone connected. After joining a call you can then share your screen (even without having a microphone).

[2020-08-11 10:05] #6156 closed, assigned to nobody

[2020-08-11 10:07] lipis commented on #7123
<img width="483" alt="Screenshot 2020-08-11 at 1 06 58 PM" src="https://user-images.githubusercontent.com/125676/89885300-8b4ec880-dbd3-11ea-9972-860e1e9d9010.png">

Should be fixed now!

[2020-08-11 10:07] #7123 closed, assigned to nobody

[2020-08-11 10:10] bennycode commented on #7403
Can you provide a specific text example? I have tried sending this (but it showed up normal on Web and Android):

[code]

[2020-08-11 10:12] bennycode commented on #6514
History backups from webapp / desktop app are compatible with each other. However, backups from other platforms (i.e. iOS and/or Android) are not compatible with our webapp / desktop app. We noted this as a feature request. Thanks.

[2020-08-11 10:12] #6514 closed, assigned to nobody

[2020-08-11 10:13] bennycode commented on #5382
Fixed. Unsent pictures will now show up like this:

![image](https://user-images.githubusercontent.com/469989/89885916-162bc500-dbcc-11ea-956b-f333700211fc.png)

[2020-08-11 10:13] #5382 closed, assigned to nobody

[2020-08-11 10:14] bennycode commented on #7405
Yes, we have issues reproducing this. It does not happen to us. Are you sure that the user/conversation you have been connected with is not deleted?

[2020-08-11 10:16] bennycode commented on #8741
Thanks for the hint but we are using a lot of third party components which makes it impossible for us to guarantee LibreJS' main condition which is:

[2020-08-11 10:16] #8741 closed, assigned to nobody

[2020-08-11 10:21] bennycode commented on #9269
@someone23231 Thanks for your submission. I took the liberty of renaming the title of this issue to make it easier to find. To answer your question, it is intentional that messages are only available to users from the time the user joins the conversation.

[2020-08-11 10:21] #9269 closed, assigned to nobody

[2020-08-11 10:23] #4604 closed, assigned to nobody

[2020-08-11 10:25] bennycode commented on #7527
Great feature request. We will reconsider it once we fully migrated our frontend technology from [Knockout](https://knockoutjs.com/) to [React](https://reactjs.org/).

[2020-08-11 10:25] #7527 closed, assigned to nobody

[2020-08-11 10:26] lipis commented on #9124
Hi @Rru247 we added Sinhala language to the following projects..

- https://crowdin.com/project/wire-webapp/si-LK
- https://crowdin.com/project/wire-desktop/si-LK
- https://crowdin.com/project/wire-launch/si-LK
- https://crowdin.com/project/wire-cs/si-LK

Please note that we need to reach a certain amount of percentage for each project to be translated before it will be merged and published on pro

[2020-08-11 10:26] #9124 closed, assigned to lipis

[2020-08-11 10:27] bennycode commented on #9177
@f4th0m if you upgrade your personal account to a [team account](https://app.wire.com/auth/#createteam) you will be able to share 100 MB of files.

[2020-08-11 10:27] #9177 closed, assigned to nobody

[2020-08-11 10:29] bennycode commented on #7017
You can now switch conversations with the following hotkeys:

![image](https://user-images.githubusercontent.com/469989/89887247-39f00a80-dbce-11ea-98a5-651d77030adb.png)

[2020-08-11 10:29] #7017 closed, assigned to nobody

[2020-08-11 10:35] bennycode commented on #8251
Having a bright UI is part of our corporate identity but you can switch the app theme once your are logged in:

![image](https://user-images.githubusercontent.com/469989/89887754-27c29c00-dbcf-11ea-9664-122101bac8c2.png)

[2020-08-11 10:35] #8251 closed, assigned to nobody

[2020-08-11 10:36] bennycode commented on #726
Prefill works with [Google Password Manager](https://passwords.google.com/) and [1Password](https://1password.com/), so the bug seems to be on [Lastpass](https://www.lastpass.com/).

[2020-08-11 10:36] #726 closed, assigned to nobody

[2020-08-11 10:38] bennycode commented on #7169
We fixed this issue by blocking the button once it is clicked and the conversation is not created yet on the backend (async processing). Thanks for the info about it!

[2020-08-11 10:38] #7169 closed, assigned to nobody

[2020-08-11 10:39] bennycode commented on #3607
Hi @mjheidari, please refer to our updated guidelines: https://github.com/wireapp/wire-webapp#how-to-build-the-open-source-client

[2020-08-11 10:39] #3607 closed, assigned to nobody

[2020-08-11 10:39] Wurzelkoch commented on #7403
This was the very list that had me finding this problem:
[code]
Shows normal in web and in notifications on android (lineage if that's relevant), but shows
[code]
in android app.

[2020-08-11 10:41] KaKi87 commented on #8251
Yes, but theme preferences should be preserved after session expiration so that user can have a dark page on **re-**logging on his account in which he enabled the dark theme.

[2020-08-11 10:41] lipis commented on #6828
<img width="607" alt="Screenshot 2020-08-11 at 1 41 06 PM" src="https://user-images.githubusercontent.com/125676/89888245-4f6a3200-dbd8-11ea-9212-a86a71ac5847.png">

This if fixed already! Thanks for reporting.

[2020-08-11 10:41] #6828 closed, assigned to nobody

[2020-08-11 10:41] bennycode commented on #1275
We are still unable to reproduce this problem. Please use your handle and password to login.

[2020-08-11 10:41] #1275 closed, assigned to nobody

[2020-08-11 10:45] bennycode commented on #549
We are supporting navigating with Page Up / Page Down keys now in our webapp.

[2020-08-11 10:45] #549 closed, assigned to nobody

[2020-08-11 10:48] bennycode commented on #6836
We have fixed the bug with our 4w message timer. On top of that we have implemented a feature so that you can set timers on conversation level:

[2020-08-11 10:48] #6836 closed, assigned to nobody

[2020-08-11 10:50] bennycode commented on #6716
Thanks for reporting. Looks like the picture got deleted by the other party.

[2020-08-11 10:50] #6716 closed, assigned to nobody

[2020-08-11 10:51] bennycode commented on #5702
We are supporting headers now in Markdown syntax.

[2020-08-11 10:51] #5702 closed, assigned to nobody

[2020-08-11 10:52] bennycode commented on #6244
We have fixed this issue. Thanks for reporting.

[2020-08-11 10:52] #6244 closed, assigned to nobody

[2020-08-11 10:54] lipis commented on #6106
Works for me (macOS) with the touchpad and mouse. Are you still have issues with it?

[2020-08-11 10:54] #6106 closed, assigned to nobody

[2020-08-11 10:54] bennycode commented on #5387
We fixed issues with our message timers.

[2020-08-11 10:54] #5387 closed, assigned to nobody

[2020-08-11 10:56] Transisto commented on #7017
Please reopen and rename title to:

"Feature, select a user search result with keyboard."

On Tue., Aug. 11, 2020, 06:29 Benny Neugebauer, <notifications@github.com>
wrote:

[2020-08-11 10:57] bennycode commented on #8251
The preferences are saved for your account and synced so you will have a dark theme after relogin.

[2020-08-11 11:29] lipis commented on #6105
This should be fixed now.. please verify and report back if you still have the issue.

[2020-08-11 11:29] #6105 closed, assigned to nobody

[2020-08-11 11:46] max-baz commented on #6106
I confirm it works as expected :)

[2020-08-11 12:08] KaKi87 commented on #8251
After, but not BEFORE.

[2020-08-11 12:59] lipis commented on #4607
As already mentioned you can set the `FEATURE_CHECK_CONSENT="false"` in the `.env` file.

[2020-08-11 12:59] #4607 closed, assigned to nobody

[2020-08-11 13:11] lipis commented on #5593
This seems that it works as expected now, please write back if you still have an issue.

[2020-08-11 13:11] #5593 closed, assigned to nobody

[2020-08-11 13:15] lipis commented on #1166
This should be fixed now!

[2020-08-11 13:15] #1166 closed, assigned to nobody

[2020-08-11 13:19] TechnologyClassroom commented on #8741
I can make issues with upstream third-party components.  Do you have a list?

[2020-08-11 13:22] lipis commented on #6958
Is that still an issue? We can't reproduce it. Please write back if you still experiencing it.

[2020-08-11 13:22] #6958 closed, assigned to nobody

[2020-08-11 13:37] bennycode commented on #5383
We haven't received the misbehaving file, so I am closing this issue.

[2020-08-11 13:37] #5383 closed, assigned to nobody

[2020-08-11 13:48] bennycode commented on #6175
You can't search for your own username.

[2020-08-11 13:48] #6175 closed, assigned to nobody

[2020-08-11 13:49] #5197 closed, assigned to nobody

[2020-08-11 13:51] bennycode commented on #9390
Thanks for reporting. We are aware of this and will handle performance tickets once we migrated our frontend technology from "Knockout" to "React".

[2020-08-11 13:51] #9390 closed, assigned to nobody

[2020-08-11 13:52] #5176 closed, assigned to nobody

[2020-08-11 13:54] bennycode commented on #6302
Thanks! We have fixed this particular issue in the past.

[2020-08-11 13:54] #6302 closed, assigned to nobody

[2020-08-11 13:55] bennycode commented on #5570
This has been also fixed now for portrait photos.

[2020-08-11 13:55] #5570 closed, assigned to nobody

[2020-08-11 13:57] bennycode commented on #5221
Video calls are properly working in Chrome 83 and Firefox 78. I just tested it.

[2020-08-11 13:57] #5221 closed, assigned to nobody

[2020-08-11 13:59] bennycode commented on #5384
Thanks for this detailed report. As a workaround you can transfer images as files to make sure they don't get compressed.

**Example:**

![image](https://user-images.githubusercontent.com/469989/89906376-97df1b00-dbeb-11ea-83a7-9b8673b05618.png)

[2020-08-11 13:59] #5384 closed, assigned to nobody

[2020-08-11 14:02] bennycode commented on #5218
Since January 18, 2019 we offically support a dark theme: https://wire.com/en/blog/dark-mode/

[2020-08-11 14:02] #5218 closed, assigned to nobody

[2020-08-11 14:03] bennycode commented on #5866
It's fixed now.

[2020-08-11 14:03] #5866 closed, assigned to nobody

[2020-08-11 14:04] bennycode commented on #6152
We have fixed the bug of notifications showing up twice for images.

[2020-08-11 14:04] #6152 closed, assigned to nobody

[2020-08-11 14:05] lipis commented on #6840
It seems that it is fixed now, the image appears right away!

[2020-08-11 14:05] #6840 closed, assigned to nobody

[2020-08-11 14:07] bennycode commented on #7922
We provide this feature for our Enterprise customers. Please reach out to our [Support Team](https://support.wire.com/) if you are an Enterprise customer and you want to have this feature enabled.

[2020-08-11 14:07] #7922 closed, assigned to nobody

[2020-08-11 14:10] bennycode commented on #7020
Hey @odiferousmint, I will link your ticket to this one: https://github.com/wireapp/wire-webapp/issues/7527#issuecomment-671864193

[2020-08-11 14:10] #7020 closed, assigned to nobody

[2020-08-11 14:10] lipis commented on #6611
It seems that it's fixed now, we can't reproduce it. If you still have issues, please write us back.

[2020-08-11 14:10] #6611 closed, assigned to nobody

[2020-08-11 14:13] bennycode commented on #7024
Hi @DiagonalArg, you can now change your email address in your Wire account preferences: https://medium.com/wire-news/wire-for-web-2020-07-24-4ea8e37e6334

[2020-08-11 14:13] #7024 closed, assigned to nobody

[2020-08-11 14:13] bennycode commented on #7023
Loading of users from search is dependant on your network connection.

[2020-08-11 14:13] #7023 closed, assigned to nobody

[2020-08-11 14:24] Yserz commented on #6291
Unfortunately Firefox doesn't expose this API, but it's possible to select application windows in Chrome now.

[2020-08-11 14:24] #6291 closed, assigned to nobody

[2020-08-11 17:35] KaKi87 commented on #7922
Seriously ? That's not fair.

[2020-08-11 20:33] qalqi commented on #8780
yeah

[2020-08-11 20:53] bennycode commented on #8780
We updated our instructions on how to run Wire locally: https://github.com/wireapp/wire-webapp#development - Hope this helps!

[2020-08-11 20:53] #8780 closed, assigned to bennycode

[2020-08-11 22:19] #7403 closed, assigned to lipis

[2020-08-12 04:48] temporallyaccount commented on #9124
@lipis thank you ^_^

[2020-08-12 08:58] bennycode commented on #7844
Issue is resolved. Connection requests can be canceled again.

[2020-08-12 08:58] #7844 closed, assigned to nobody

[2020-08-12 13:01] norstbox commented on #7405
Conversation can be deleted ("Clear content", to be more precise) on the specific device (see step 3 above), but it will reappear on the new device (step 4 above).

I just able to re-reproduce this behavior by the following steps:
1. Register new Wire Personal account
2. Connect it with my (already existing) account
3. Delete new account (from the step 1) by invoking ["Delete account" action](http

[2020-08-12 20:30] alaviss commented on #7403
There's more than that list issue in this issue FWIW.

[2020-08-13 05:39] strypey commented on #6063
FYI I just tested app.wire.com again on the latest versions of Trisquel 8.0 and Abrowser. The app is now successfully asking for permission to use the mic, and the call is ringing. So the problem appears to have been solved. Thanks for that.

@bennyn

This raises two issues. Firstly, app.wire.com is advertised as a web app. That means if it doesn't work in any standards-compliant web browser, as w

[2020-08-13 07:01] bennycode commented on #6063
We explicitly define on our [download page](https://wire.com/download/) and [support page](https://support.wire.com/hc/en-us/articles/202960551) which browsers we support.

[2020-08-13 13:08] bennycode commented on #9180
Hi @Jasmine722, we are now indicating in our UI if a user has a bad network connection during a call. We are also constantly improving the robustness of calls. You will get a significant improvement once we release our desktop v3.20. 🙂

[2020-08-13 13:08] #9180 closed, assigned to nobody

[2020-08-13 13:09] bennycode commented on #6493
Thanks for the report. We have fixed this issue! ✌️

[2020-08-13 13:09] #6493 closed, assigned to nobody

[2020-08-13 13:11] bennycode commented on #7014
We don't plan to add a dedicated emoji button in our UI, please use the keyboard of your OS to insert emojis: https://support.wire.com/hc/articles/360000345958

[2020-08-13 13:11] #7014 closed, assigned to nobody

[2020-08-13 13:12] bennycode commented on #7021
Scrolling up and down using the keyboard keys is now possible when opening a conversation. 🥳

[2020-08-13 13:12] #7021 closed, assigned to nobody

[2020-08-13 13:14] bennycode commented on #4558
We have tested the issue with Firefox 79 and Chrome 84 but have been unable to reproduce the problem. Problem must be caused by specific browser settings which differ from the default.

[2020-08-13 13:14] #4558 closed, assigned to nobody

[2020-08-13 13:17] mattbraga commented on #4558
Hey Benny. Have you tried this on a Chromebook specifically? That’s where
myself and the rest of my team have been having issues.

Thanks!
-m

On Thu, Aug 13, 2020 at 9:15 AM Benny Neugebauer <notifications@github.com>
wrote:

--
--
Matthew Braga
 . mattbraga.com
 . @mattbraga
 . 416.316.4872

[2020-08-14 03:38] strypey commented on #6063
@bennyn

I'm sorry but that's a cop out. If a web app doesn't work in any and all standards-compliant web browsers, that's a bug that needs to be fixed. In the late 90s and early 2000s, a lot of websites could only be viewed properly in Internet Explorer. A lot of work was done to convince web developers to make their work web standards compliant, so it can be viewed properly in any web browser, a

[2020-08-14 09:30] bennycode commented on #5571
@Transisto

I just traced the requests which Giphy.com does when opening: https://giphy.com/search/elon-musk-weed

Search requests are:

[code]

Here is what app.wire.com does:

[code]

As you can see we pick random results by changing the offset during a search. That's totally fair because we want to show you random results when clicking on the grid icon rather than showing you always the same se

[2020-08-14 09:31] bennycode commented on #9230
Let's continue this discussion here: https://github.com/wireapp/wire-webapp/issues/5571

[2020-08-14 09:31] #9230 closed, assigned to nobody

[2020-08-14 10:15] bennycode commented on #9294
[Fixed with this PR](https://github.com/wireapp/wire-webapp/pull/9429). Will be included in our next public release.

[2020-08-14 10:15] #9294 closed, assigned to nobody

[2020-08-14 10:20] bennycode commented on #7022
Interesting feature request but we don't plan to do this. If you are curious about people watching your back you should consider getting a privacy filter for your physical screen.

[2020-08-14 10:20] #7022 closed, assigned to nobody

[2020-08-14 12:57] bennycode commented on #7762
Thanks for the report. It's working now:

![image](https://user-images.githubusercontent.com/469989/90251647-6611c280-de3e-11ea-9d26-2be2631a1694.png)

[2020-08-14 12:57] #7762 closed, assigned to nobody

[2020-08-14 14:09] bennycode commented on #9344
@Transisto we have several places to add people to a group.

**Create Group**

![image](https://user-images.githubusercontent.com/469989/90258057-4bdce200-de48-11ea-9418-86e56b41287a.png)

**Add participants**

![image](https://user-images.githubusercontent.com/469989/90258091-5b5c2b00-de48-11ea-8b0d-9e2a19d7645e.png)

Which is the one you are having problems with?

[2020-08-14 14:15] bennycode commented on #9178
We solved the issue. H265 files will only be embedded when the browser knows how to play them. Otherwise they will show up as assets to download:

![image](https://user-images.githubusercontent.com/469989/90258799-564bab80-de49-11ea-89eb-30a1ed76ff71.png)

[2020-08-14 14:15] #9178 closed, assigned to nobody

[2020-08-14 14:19] bennycode commented on #6283
Thanks for bringing this up! We have fixed the issue. 🙂

[2020-08-14 14:19] #6283 closed, assigned to nobody

[2020-08-14 14:25] bennycode commented on #7016
@Transisto if you have broken sessions with 200 contacts then not being able to reset all sessions at once is not your biggest problem. We recommend you to create a completely new client in that case to have fresh cryptographic key material. Resetting a session is (and should be) an exceptional case, that's why we did not add bulk operations to our UI for it.

[2020-08-14 14:25] #7016 closed, assigned to nobody

[2020-08-14 14:28] bennycode commented on #8795
Issue is fixed with Wire version 3.19:

![image](https://user-images.githubusercontent.com/469989/90259923-184f8700-de4b-11ea-9df2-89de813e813f.png)

[2020-08-14 14:28] #8795 closed, assigned to nobody

[2020-08-14 14:30] bennycode commented on #8739
At the moment we have no technical solution to it. We recommend **not** setting jumbo frames and will take this info into our FAQs. Thanks for this very detailed report.

[2020-08-14 14:30] #8739 closed, assigned to nobody

[2020-08-14 14:31] bennycode commented on #7013
We don't plan to add a "Retry" button. Instead we will make our code more reliable so that it automatically retries to send unsent messages once your network connection recovers.

[2020-08-14 14:31] #7013 closed, assigned to nobody

[2020-08-14 14:37] widardd commented on #8795
Not fixed, just tried it with a random tiktok-file.

Edit: This one: https://drive.google.com/file/d/1dTW9ONlcuzXBSJuISGXMiyyIKgA6-gzx/view?usp=sharing

[2020-08-14 14:43] bennycode commented on #7333
Thanks for sharing your user agent with us. I see the problem that you are facing. Luckily your browser provides a "Firefox Compatibility" mode for this reason.

It's a lot of work to provide support for all browsers and when allowing browsers we haven't tested ourselves, the risk is high that Wire won't work as expected. To not raise the potential of delivering such broken expierence we have deci

[2020-08-14 14:43] #7333 closed, assigned to nobody

[2020-08-14 18:25] b9AcE commented on #7333
Did you also ask about the second part of the feature request @bennyn?
The part about a potential "grraylist", as described in my original post?
I did not expect you would whitelist Pale Moon for the reason you described, but thought the grraylist concept could open up to more users with many other browsers too, while not adding to your administrative load nor losing reputation for poor functional

[2020-08-14 19:51] Transisto commented on #9344
BOTH!

From : https://github.com/wireapp/wire-android/pull/2874

What about : **Fixes in UI should be applied to both web and mobile app?**

It's the same exact problem 1:1 on mobile that is still on Desktop/web

https://github.com/wireapp/wire-android/issues/2858

#7333  User search show 10 globals before existing contacts [Major usability issue]

Are any of you guys using your own software for t

[2020-08-14 23:12] Polve commented on #7022
In telegram every user is able to use this simple feature without the need of a "physical privacy filter for the screen".

I can't understand why to close such a basic feature request without even a rationale.

[2020-08-14 23:16] maicardi commented on #7022
Well you can even lock your workstation with Win + L or Ctrl + Alt + L, or you can even cut the power off..

Anyway hiding the current chat with Esc is a painless addition to make which could came handy to many users.

[2020-08-15 13:40] Aisse-258 opened #9435 "How to create your own version of the desktop application?"
Hello. I want to make some changes to the program interface for the needs of the research group of my university. Please tell me how best to do this so that these changes are applied to the desktop version. I need to be able to distribute my version of the application so that it does not depend on the version on the server. When forked the wire-desktop, I have no access to the interface, since it

[2020-08-17 11:49] bennycode commented on #7022
@Polve & @maicardi if you find it very important to unselect any active chat by pressing 'Esc' like in Telegram you can submit a pull request to our code and we will review it.

[2020-08-17 11:51] bennycode commented on #7401
Closing this ticket because I got no response.

[2020-08-17 11:51] #7401 closed, assigned to nobody

[2020-08-17 11:55] #5571 closed, assigned to ffflorian

[2020-08-17 12:50] bennycode commented on #6838
Hi @BFCE, I am linking your feedback to https://github.com/wireapp/wire-webapp/issues/4454. Thanks for your report!

[2020-08-17 12:50] #6838 closed, assigned to nobody

[2020-08-17 12:54] bennycode commented on #6839
Closing this ticket because I have not received feedback.

[2020-08-17 12:54] #6839 closed, assigned to nobody

[2020-08-17 12:57] bennycode commented on #9435
Hi @Aisse-258, you can run our [desktop application](https://github.com/wireapp/wire-desktop) with `yarn start:localhost`. When you do that, then you can chose to use a locally hosted webapp (which you can start [as described here](https://github.com/wireapp/wire-webapp#development)) using its "Developer" menu:

![image](https://user-images.githubusercontent.com/469989/90398471-c6e90700-e099-11ea-

[2020-08-17 12:57] #9435 closed, assigned to nobody

[2020-08-17 13:55] bennycode commented on #8706
We haven't received any feedback and assume that this bug is fixed now.

[2020-08-17 13:55] #8706 closed, assigned to nobody

[2020-08-17 13:58] #5826 closed, assigned to ffflorian

[2020-08-17 14:14] bennycode commented on #7405
Hi @norstbox, thanks for telling us steps to reproduce the issue.

When you delete an account then we delete all meta information on our backend thus new devices (new PCs you use for login) won't get any info about the deleted user (i.e. name). That's why the conversation gets named "...".

If you are using a [Wire for teams](https://wire.com/products/pro-secure-team-collaboration/) account (not p

[2020-08-17 14:14] #7405 closed, assigned to nobody

[2020-08-17 14:24] bennycode commented on #9450
Hi @sebastian-brandt, can you reproduce the problem with Wire v3.19?

[2020-08-17 14:27] bennycode commented on #9452
Freeze of Wire is dependant on the size of the image in the clipboard. We are aware of that issue but don't have the resources to tackle it at the moment. PRs are welcome!

[2020-08-17 14:27] #9452 closed, assigned to nobody

[2020-08-17 14:38] ffflorian commented on #9451
Hi @vith, I can't reproduce this on the current version of the WebApp. Can you try and see if this problem still exists for you?

[2020-08-17 14:42] Filbuntu commented on #6105
@lipis  Thanks for working on this and notifying us about the progress!
I was already thinking Wire is on freeze as I have not seen any progress on the issues I am subscribed to. As this one and another one were addressed, I am very much encouraged!
PS: From which Wire Desktop App version on is the issue fixed?

[2020-08-17 14:45] bennycode commented on #9448
Hi @DaWouw, we have fixed this issue:

![image](https://user-images.githubusercontent.com/469989/90409106-079c4c80-e0a9-11ea-950f-dedabf8cc85c.png)

Thanks for your report!

[2020-08-17 14:45] #9448 closed, assigned to nobody

[2020-08-17 14:50] #6282 closed, assigned to thisisamir98

[2020-08-17 14:54] bennycode commented on #9453
Hi @Gu1nness & @BobbyWibowo, we have connected our option to "[create previews for links you send](https://support.wire.com/hc/articles/115005707945)" with our rendering of YouTube media embeds. When you disable link preview generation, then YouTube links will now just show up as regular links.

**Example:**

![image](https://user-images.githubusercontent.com/469989/90409895-06b7ea80-e0aa-11ea-8bc

[2020-08-17 14:54] #9453 closed, assigned to nobody

[2020-08-17 15:00] bennycode commented on #9455
As @shvchk mentioned, verifying all your contact's devices is key here. If you do that and there is a new device added to the conversation, you will get a pop-up from Wire telling you that there are untrusted devices when you try to send a message.

[2020-08-17 15:00] #9455 closed, assigned to nobody

[2020-08-17 15:02] bennycode commented on #9454
Hi @predator8bit, can you share your workaround scripts with us?

[2020-08-17 15:26] bennycode commented on #7025
@sebnarvaez we disablaed auto gain control (AGC) with [this PR](https://github.com/wireapp/wire-webapp/pull/9443). It will go live with our next release.

[2020-08-17 15:26] #7025 closed, assigned to nobody

[2020-08-17 15:50] bennycode commented on #6282
@BFCE thanks for making us aware of this severe issue. We have [fixed it today](https://github.com/wireapp/wire-webapp/issues/6282) and the fix will become available with our next public release on https://app.wire.com/.

[2020-08-17 16:18] vith commented on #9451
Going back to 2018-06-07 in the Wire chat where this happened, the problem image won't render or download anymore.

But I can't reproduce the problem with new photos from my Pixel 2 or example images from https://github.com/recurser/exif-orientation-examples

I'll go ahead and close this, seems like it got fixed since then. 👍

[2020-08-17 16:18] #9451 closed, assigned to nobody

[2020-08-17 19:03] sebnarvaez commented on #7025
Thank you!

[2020-08-18 09:38] #9344 closed, assigned to Yserz, ffflorian

[2020-08-18 17:06] #6296 closed, assigned to lipis

[2020-08-18 18:38] Aisse-258 opened #9469 "http on the desktop app and https on the web app"
Hello. Thank you for previous instructions. I tried to launch a desktop application with a web application on a localhost. I have some problems with the fact that the web version is connecting via https, and the desktop version is connecting via http. In the .env file I found an option which could impact on connection type of web application (ENFORCE_HTTPS) and it can not do it now. Using "git bis

[2020-08-18 20:13] Aisse-258 commented on #9469
https://github.com/Aisse-258/wire-desktop/commit/8223c4e04b526627bd7152243e2842d0853285e4

[2020-08-21 14:11] #7015 closed, assigned to lipis

[2020-08-21 14:11] #9164 closed, assigned to lipis

[2020-08-23 19:17] predator8bit commented on #9454
It was just a shell script that moved the cursor to where the call/hangup button would be and clicked, then it moved the cursor away again. I assigned this .sh file to a simple keyboard shortcut in my settings. I don't have the file anymore since we moved on to using a different chat application.

[2020-08-24 07:56] bennycode commented on #9454
I'm glad you found a chat solution that works for you. I also informed our product management that we should introduce hotkeys for calling. Thanks for bringing that up.

[2020-08-24 07:56] #9454 closed, assigned to nobody

[2020-08-24 12:56] AndyLnd commented on #5380
This is a known limitation of the link-parsing library we use (https://github.com/markdown-it/linkify-it/issues/79). There is unfortunately no workaround that works for us. Until we switch to another markdown renderer or this gets fixed in the library, we are stuck with this behaviour.

[2020-08-24 12:59] #5380 closed, assigned to AndyLnd

[2020-08-24 13:00] bennycode commented on #7655
I am closing this ticket because I have not received a sample file for testing.

[2020-08-24 13:00] #7655 closed, assigned to nobody

[2020-08-24 14:37] thisisamir98 commented on #7018
Closing this as the user is already able to answer calls with no microphones or blocked microphone access.

[2020-08-24 14:37] #7018 closed, assigned to nobody

[2020-08-24 15:47] bennycode commented on #7019
Hi @vith, unfortunately we cannot provide fullscreen view for media embeds like YouTube videos because such embeds don't provide this feature for external apps.

From [YouTube's fullscreen FAQ](https://support.google.com/youtube/answer/72689):

[2020-08-24 15:47] #7019 closed, assigned to nobody

[2020-08-24 15:59] bennycode commented on #4454
Hi @maximbaz, over the past 2 years we have massively shortened our call setup times and media request upgrades.

In our current [release candidate](https://github.com/wireapp/wire-webapp/pull/9485) build, we don't have the problem of interrupted audio anymore when upgrading from an audio call to a screensharing session.

By now our calling implementation is also based on a [WebAssembly package](h

[2020-08-24 15:59] #4454 closed, assigned to bennycode

[2020-08-24 16:02] bennycode commented on #7845
Hi @tdw546, we made Wire better in dealing with poor network conditions. Fixes have been already applied in [our latest staging build](https://github.com/wireapp/wire-webapp/releases/tag/2020-08-21-staging.0) and will be released this week.

We hope you will notice the difference!

Best,
Benny

[2020-08-24 16:02] #7845 closed, assigned to bennycode

[2020-08-24 16:18] vith commented on #7019
Sorry, I should have been more specific. I meant for media directly shared through Wire.

[2020-08-24 16:26] bennycode commented on #9469
Hi @Aisse-258, the most practical way for you to run a locally hosted desktop app with a locally hosted web app is the following:

**Local Webapp Configuration**

1. Set `ENFORCE_HTTPS` to `true` in `.env.localhost`
1. Set `APP_BASE` to `https://localhost:8081` in `.env.localhost`
1. Run `yarn start`

**Local Desktop Configuration**

1. Modify `electron/src/lib/CertificateVerifyProcManager.ts` so

[2020-08-25 13:10] bennycode commented on #7971
We don't plan to change the notification sound.

[2020-08-25 13:10] #7971 closed, assigned to nobody

[2020-08-25 13:15] bennycode commented on #7458
It will take a long time for us to adopt to Chrome's Push API but our backend team is [keeping track of that](https://github.com/zinfra/backend-issues/issues/864). In the meantime we recommend to use our desktop apps to get notified about incoming messages while our app runs in the background.

[2020-08-25 13:15] #7458 closed, assigned to nobody

[2020-08-25 13:21] bennycode commented on #7079
Hi @martinberg212, when editing a message you will lose every meta information (i.e. likes, delivery state, etc.) from the original message. That's a limitation of our implementation and we will revise it on the next iteration of our messaging protocol. Thanks for filing this issue!

[2020-08-25 13:21] #7079 closed, assigned to nobody

[2020-08-25 13:24] bennycode commented on #8657
Adding a setting to ignore the expiration of ephemeral messages defeats the purpose of expiring messages. We will not implement such a setting.

[2020-08-25 13:24] #8657 closed, assigned to nobody

[2020-08-25 13:26] bennycode commented on #9447
I really like the idea of this feature and forwarded it to our product team. Thanks for bringing it up. It will be now tracked internally! 👍

[2020-08-25 13:26] #9447 closed, assigned to nobody

[2020-08-25 13:27] bennycode commented on #9450
I have not received an answer and therefore assume that the problem has been resolved.

[2020-08-25 13:27] #9450 closed, assigned to thisisamir98

[2020-08-25 13:31] szaimen commented on #7458
Hi @bennyn thanks for your reply!
Could you please send the link again? It doesn't seem to work...

[2020-08-25 16:16] KaKi87 commented on #7971
How rude of you.

[2020-08-26 10:09] Aisse-258 commented on #9469
Hello. No it doesn't work. .Web application shows "too many redirections" and when running yarn start --env=https://localhost:8081 for desktop it throws many errors
![image](https://user-images.githubusercontent.com/50519492/91290987-1071da00-e79d-11ea-8556-8e66cdbd02b1.png)
![image](https://user-images.githubusercontent.com/50519492/91291066-2c757b80-e79d-11ea-9861-fceb39cdfb34.png)

[2020-08-31 16:32] bennycode commented on #8889
Hi @thomasrockhu, we installed the [Codecov Application](https://github.com/apps/codecov) from GitHub's marketplace. What else should we do to migrate to it? Is it necessary to include code in our GitHub workflows?

[2020-08-31 18:04] thomasrockhu commented on #8889
@bennyn, that should be all! Thanks for getting back to me.

[2020-08-31 20:10] bennycode commented on #9469
Hi @Aisse-258, I just verified the workflow and here is how it should roll for you:

**1. Web Application**

1. Checkout [dev branch](https://github.com/wireapp/wire-webapp/tree/dev) of "wire-webapp"
2. Create a `.env` file in the root of "wire-webapp" (see below for contents)
3. Run `yarn` in "wire-webapp"
4. Run `yarn start` in "wire-webapp"

**`.env` file**

[code]

**2. Desktop Application**

[2020-08-31 20:10] #9469 closed, assigned to nobody

[2020-08-31 20:19] #8889 closed, assigned to bennycode

[2020-09-01 22:25] Aikatsui commented on #7014
@bennyn It's necessary to reopen this FR unless wire intend to keep 20th century communication application however we don't interest to use that platform even for business environment but only encryption.

Consider let users to import custom static & animated emoticons/stickers as user mentioned above because we cannot expect wire may spend time for design some dozen of sticker packs. Such feature

[2020-09-02 00:28] Aikatsui opened #9564 "Add wire emoticons and option to import custom static & animated emoji/stickers packs"
Feature request for Emoji in web-app repository was closed several days ago https://github.com/wireapp/wire-webapp/issues/7014 - 16 upvotes
Add Stickers in android repository - https://github.com/wireapp/wire-android/issues/1597 - 8 upvotes
Allow for usage of stickers like telegram in android repository - https://github.com/wireapp/wire-android/issues/1925 - 5 upvotes

It seems wire intend to keep

[2020-09-02 09:04] bennycode commented on #9564
Our roadmap for this year does not include to implement sticker packs. Sticker packs are a nice-to-have feature but not essential for secure enterprise communication. We therefore invest our development resources in the implementation of [Messaging Layer Security](https://en.wikipedia.org/wiki/Messaging_Layer_Security) instead of implementing support for stickers.

[2020-09-02 09:04] #9564 closed, assigned to nobody

[2020-09-11 17:47] Transisto commented on #5571
Just fixed

[2020-09-12 19:57] Aisse-258 commented on #9469
Hello. Thank you very much for this instructions, I really can run both applications after doing it. But there is another problem appeared. I can not to log in into my account. It is just redirecting me to the authorisation page again. And it also throws errors when I am trying to log in:
<details>
<summary>Screenshots of errors</summary>

![image](https://user-images.githubusercontent.com/5051949

[2020-09-14 08:38] bennycode opened #9640 "SFT Final Release: Update to AVS 6.3"

[2020-09-14 08:40] bennycode opened #9641 "SFT Final Release: Mute everyone in a call except the call initiator"

[2020-09-14 08:41] bennycode opened #9642 "Performance improvements: Using deferred updates"

[2020-09-14 08:42] bennycode opened #9643 "Countly Public Release"

[2020-09-14 08:48] bennycode opened #9644 "GH Actions: Migrate wire-webapp"

[2020-09-14 13:08] bennycode opened #9646 "Core Integration (use @wireapp/core)"
## Use WebSocket from API client
- [x] Replace connectivity listener (i.e. `BackendClient.CONNECTIVITY_CHECK_TRIGGER`)
- [x] `EventRepository`: Check if WebSocket buffer for incoming messages can be replaced
- [ ] `PromiseQueue`: Check if buffer/queue for outgoing messages can be replaced
- [ ] Remove `WebSocketService` in webapp (and use API Client)
- [x] Remove `BackendClient`

## Make MessageBu